{# This file is only used to act as a compiler of html for the client. It has 0 backend logic to it. It will perform linking static files and writing down all templates inside a file. This was done for easier maintenance. #}
<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
    <script>
        if (window.location.hash && window.location.hash.indexOf('#context-monitor-') !== -1) {
            window.location.hash = '';
        }
    </script>
    <base href="/" />
    <meta property="fb:app_id" content="125702284258635" />
    <meta name="verify-v1" content="verification code" />
    {% block meta %}
    {% endblock %}
    {% include 'icons.html' %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700italic,700,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{static_dir('dist/seo.css')}}" />
</head>
<body>

    <header>
        <a title="Home" href="{{uri_for('home')}}">
            <img alt="{{settings.SITE_NAME}}" src="/client/dist/static/logo_720x300.png" />
        </a>
    </header>
    <nav>
        <a href="{{uri_for('about')}}">About</a>
        <a href="{{uri_for('privacy')}}">Privacy &amp; Terms</a>
        <a href="{{uri_for('copyright')}}">Copyright &amp; Trademark</a>
        <a href="{{uri_for('support')}}">Support</a>
    </nav>
    <main md-scroll-y>

        {% block crumbs %}
            <div itemscope class="breadcrumbs" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="{{uri_for('home')}}" itemprop="url">
                <span itemprop="title">Home</span>
              </a>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </main>
    <footer>
        Miraclestyle.com &copy;
    </footer> 
 
</body>

</html>
