<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<form target="payload" enctype="multipart/form-data" method="post" action="">
	<div>
		<label>Action</label>
		<textarea style="width:100%;height:250px;" onchange="$(this).parents('form').attr('action', $(this).val());"></textarea>
	</div>
  
    <div>
		<label>Encode</label>
		<textarea style="width:100%;height:70px;" onblur="$(this).val(encodeURIComponent($(this).val()));"></textarea>
    </div>
  
  
	<div>
		<input type="submit" />
	</div>
</form>

<iframe style="width:100%;height:450px;" name="payload" src="javascript:;"></iframe>