<div ng-class="{'structured-field-repeated' : config.repeated, 'field-with-label': config.ui.label}" class="image-field structured-field">
      <% if (config.repeated) { %>


      <% if (config.ui.label !== false) { %>
      <h2 class="fieldset with-button">
        <span class="fieldset-text"><%= config.ui.compiled.label %></span>
        <span class="fieldset-button">
           <div loading="!<%= config.ui.writableCompiled %>" class="button fake-button">
               <span>Add Images <span class="selected-total">(Selected: :total)</span> <span ng-show="$isUploading">(Uploading...)</span></span>
               <input ng-show="<%= config.ui.writableCompiled %>" class="upload" name="<%= config.ui.name %>"
                       multiple
                       show-number-of-selected-files=".selected-total"
                       generate-upload-url="true"
                       type="file" />
           </div>
        </span>
      </h2>
      
      <% } else { %>


      <div class="clearfix buttons">
        <div class="pull-right">
           <div loading="!<%= config.ui.writableCompiled %>" class="button fake-button">
               <span>Add Images <span class="selected-total">(Selected: :total)</span> <span ng-show="$isUploading">(Uploading...)</span></span>
               <input ng-show="<%= config.ui.writableCompiled %>" class="upload" name="<%= config.ui.name %>"
                       multiple
                       show-number-of-selected-files=".selected-total"
                       generate-upload-url="true"
                       type="file" />
           </div>
        </div>
      </div>
       
      <% } %>

 
      <div ui-sortable="config.ui.specifics.sortableOptions" 
           fancy-grid-generator="config.ui.specifics.parentArgs" 
           ng-model="config.ui.specifics.parentArgs" ng-class="{'grid-no-items': !config.ui.specifics.parentArgs.length}" class="clearfix grid-wrapper">
           
          <div on-ng-repeat-end ng-repeat="image in config.ui.specifics.parentArgs"
               ng-hide="image._state == 'deleted'"
               class="no-move image-image grid-item">
               
                <div class="img spaceout">
                  <img display-image-config="config.ui.specifics.displayImageConfig" display-image="image" />
                </div>
                
              <div class="button-wrapper clearfix">
                  <button loading="!<%= config.ui.writableCompiled %>" type="button" loading class="button" ng-click="config.ui.specifics.remove(image)">Remove</button>
                  <a ng-show="config.ui.specifics.sortable === undefined || config.ui.specifics.sortable" ng-class="{'no-move': config.ui.specifics.sortableOptions.disabled}" loading="!<%= config.ui.writableCompiled %>" type="button" tap-or-click="config.ui.specifics.sortableOptions.whatSortMeans()" class="button sort-handle">Sort</a>
              </div>
          </div>
      </div>
      
      <% if (config.ui.specifics.remote) { %>
            <div load-more-button="config.ui.specifics.reader"></div>
      <% } %>
      
      <% } else { %>
        <div class="margin-sides-16">
             <md-button type="button" loading="!<%= config.ui.writableCompiled %>" class="fake-button">
               <span><%=config.ui.compiled.label %> <span ng-show="$isUploading">(Uploading...)</span></span>
               <input ng-show="<%= config.ui.writableCompiled %>" class="upload" name="<%= config.ui.name %>"
                       generate-upload-url
                       type="file" />
             </md-button>
             <br />
             <br />
             <div>
                <img display-image-config="config.ui.specifics.displayImageConfig" display-image="<%= config.ui.args %>" />
             </div>
             <div ng-if="config.ui.form.shouldShowMessages()" ng-messages="config.ui.form.messages()">
              <div ng-message="help"><%= config.ui.help %></div>
              <div ng-message="required">The field <%= config.ui.compiled.label %> is required.</div>
             </div>
        </div>
 
      <% }  %>
</div>