<div md-themable class="as-md-input-container md-input-has-value">
    <label><%= config.ui.compiled.label %></label>
    <select-dialog multiple="config.repeated" search="config.ui.specifics.search" view="config.ui.specifics.view" items="config.choices" class="<%= config.ui.attrs['class'] %>" name="<%= config.ui.name %>" <%= config.ui.compiled.attrs %>></select-dialog>
   
    <div ng-if="config.ui.form.shouldShowMessages()" ng-messages="config.ui.form.messages()">
      <div ng-message="help"><%= config.ui.help %></div>
      <div ng-message="required">The field <%= config.ui.compiled.label %> is required.</div>
    </div>
</div>