<div ng-class="{'structured-field-repeated' : config.repeated, 'field-with-label': config.ui.label}" class="structured-field">
<% if (config.ui.label !== false) { %>
    <h2 ng-class="{'with-button': config.repeated}" class="fieldset">
    <span class="fieldset-text"><%= config.ui.compiled.label %></span>
    <% if (config.repeated) { %>
    <span class="fieldset-button">
      <md-button loading="!<%= config.ui.writableCompiled %>" type="button" class="md-raised" ng-click="config.ui.specifics.create()">
       <%=config.ui.specifics.addText %>
      </md-button>
    </span>
    <% } %>
  </h2>
<% } else if (config.repeated) { %>


<div class="clearfix structured-field-actions">
  <div class="pull-right">
    <md-button loading="!<%= config.ui.writableCompiled %>" type="button" class="md-raised" ng-click="config.ui.specifics.create()">
      <%=config.ui.specifics.addText %>
    </md-button>
  </div>
</div>
 
<% } %>

<% if (config.repeated) { %>
     <div <% if (config.ui.specifics.sortable === undefined || config.ui.specifics.sortable) { %>
                 ui-sortable="config.ui.specifics.sortableOptions" 
                 <% } %> 
          ng-model="config.ui.specifics.parentArgs" ng-class="{'structured-field-no-items': !config.ui.specifics.parentArgs.length}" class="list">

        <div ng-hide="ent._state == 'deleted'" ng-repeat="ent in config.ui.specifics.parentArgs" 
             ng-class="{'list-row--has-secondary': config.ui.specifics.listDisplay.secondary}"
             class="no-move list-row no-padding clearfix">
                <button md-ink-ripple-list md-themable ng-class="{'list-content-tile--one-line': config.ui.specifics.listDisplay.perLine == 1, 'list-content-tile--two-lines': config.ui.specifics.listDisplay.perLine == 2, 'list-row--is-clickable': config.ui.specifics.listDisplay.clickable}" type="button" loading ng-click="config.ui.specifics.manage(ent)" class="list-row menu-item list-content-tile block">
                       <% if (config.ui.specifics.showListItem) { %>
                          <div ng-repeat="field in config.ui.specifics.listFields">
                            <span <%=config.ui.specifics.showListItem %>="ent"
                                  <%=config.ui.specifics.showListItem %>-field="field"></span>
                          </div>
                        <% } else { %>
                        <div ng-repeat="field in config.ui.specifics.listFields">
                          <span ng-if="$index > 1">(</span>{{ent|output:field.key}}<span ng-if="$index > 1">)</span>
                        </div>
                        <% } %>
                </button>

                <div ng-if="config.ui.specifics.listDisplay.secondary" class="list-secondary-tile">
                      <a ng-show="config.ui.specifics.sortable === undefined || config.ui.specifics.sortable" ng-class="{'no-move': config.ui.specifics.sortableOptions.disabled}" loading="!<%= config.ui.writableCompiled %>" type="button" tap-or-click="config.ui.specifics.sortableOptions.whatSortMeans($event)" class="md-button sort-handle">Sort</a>
                </div>
     
        </div>
    </div>
 
    <% if (config.ui.specifics.remote) { %>
    <div load-more-button="config.ui.specifics.reader"></div>
    <% } %>
    
    <% } else { %>
      <div ng-controller="config.ui.specifics.SingularCtrl">
        <div form-builder="config.ui.specifics.formBuilder"></div>
      </div>
    <% } %>
</div>
