<div fit-in-dialog>
<div class="modal-body scrollable has-footer">
<div class="modal-body-inner-padded">

    <form method="post" name="container.form">
          <div form-input="fields.billingAddress"></div>
          <div form-input="fields.shippingAddress"></div>
    </form>

    <form method="post" target="_blank" name="container.paypalForm" action="https://www.sandbox.paypal.com/cgi-bin/webscr">
 
    <div class="shopping-cart">
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1" />
    <input type="hidden" name="charset" value="utf-8" />
        
    <input type="hidden" name="invoice" value="{{order.key}}" />

    <input type="hidden" name="no_shipping" value="0">

    <input type="hidden" name="business" value="{{order._payment_method.business}}" />
    <input type="hidden" name="return" value="{{completePath}}" />
    <input type="hidden" name="cancel_return" value="{{cancelPath}}" />
    <input type="hidden" name="notify_url" value="{{notifyUrl}}" />
    <input type="hidden" name="rm" value="1" />
    <input type="hidden" name="currency_code" value="{{order.currency.code}}" />
    <input type="hidden" name="custom" value="{{order.key}}" />
     

    <input type="hidden" name="address_override" value="1" />  
    <input type="hidden" name="first_name" value="{{order.shipping_address.name}}" />
    <input type="hidden" name="address1" value="{{order.shipping_address.street}}" />
    <input ng-if="order.shipping_address.street2" type="hidden" name="address2" value="{{order.shipping_address.street2}}" />
    <input type="hidden" name="city" value="{{order.shipping_address.city}}" />
    <input ng-if="order.shipping_address.region_code === 'US'" type="hidden" name="state" value="{{order.shipping_address.region_code}}" />
    <input ng-if="order.shipping_address.postal_code" type="hidden" name="zip" value="{{order.shipping_address.postal_code}}" />
    <input type="hidden" name="country" value="{{order.shipping_address.country_code}}" />
    <input type="hidden" name="email" value="{{order.shipping_address.email}}" />
    <input type="hidden" name="tax_cart" value="{{order.tax_amount}}" />

    <div class="cart">

            <div class="item-list">
              <div class="item clearfix" ng-hide="line._state === 'deleted'" ng-repeat="line in order._lines track by $index">
                  <div class="item-left">
                    <div class="cart-line-detail cart-line-name"><a ng-click="viewProduct(line)">{{line.name}}</a></div>
                    <div class="cart-line-detail cart-line-description">{{line.description}}</div>
                    <div class="cart-line-detail cart-line-quantity">
                      Quantity:  <input ng-disabled="order.state !== 'cart'" type="numeric" style="width:50px;" ng-model="line.quantity"/>
                    </div>
                    <div class="cart-line-detail cart-line-unit">
                      Unit: {{line.product_uom.name}}
                    </div>
                    <div class="cart-line-detail cart-line-tax">
                      Taxes: {{line.taxes|json}}
                    </div>
                    <div class="cart-line-detail cart-line-unitprice">
                      Unit Price: {{line.unit_price}}
                    </div>
                    <div class="cart-line-detail cart-line-discount">
                      Discount: {{line.discount}}%
                    </div>
                    <div class="cart-line-detail cart-line-subtotal">
                      Subtotal: {{line.subtotal}}
                    </div>
                    <input type="hidden" value="{{line.description}}" name="item_name_{{line.sequence}}" />
                    <input type="hidden" value="{{line.sequence}}" name="item_number_{{line.sequence}}" />
                    <input type="hidden" value="{{line.quantity}}" name="quantity_{{line.sequence}}" />
                    <input type="hidden" value="{{line.unit_price}}" name="amount_{{line.sequence}}" />
                    <input type="hidden" value="{{line.discount}}" name="discount_rate_{{line.sequence}}" />
                  </div>

                  <div class="item-right list-actions">
                    <button ng-click="remove(line)" type="button" class="button">Remove</button>
                  </div>

              </div>
          </div>

    </div>
    
    <div class="cart-totals clearfix">
      <div class="pull-right">
        <div class="cart-total-stat">Net Total: {{order.untaxed_amount}}</div>
        <div class="cart-total-stat">Taxes: {{order.tax_amount}}</div>
        <div class="cart-total-stat">Total: {{order.total_amount}}</div>
      </div>
    </div>

    </div>
    </form>

</div>
</div>
<div class="modal-footer">
    
     <button ng-show="order.state !== 'checkout'" ng-click="checkout()" type="button" class="button">
        Checkout
    </button>
    
    <button ng-show="order.state !== 'checkout'" ng-click="update()" type="button" class="button">
        Update
    </button>
    
    <button ng-show="order.state === 'checkout'" type="submit" class="button">
        Pay
    </button>
    
    <button type="button" class="button" ng-click="close()">
        Close
    </button>
</div>
</div>