<div fit-in-dialog>
<form method="post" target="_blank" name="container.paypalForm" action="https://www.sandbox.paypal.com/cgi-bin/webscr">
<div class="modal-body overflow-hidden fixed-height has-footer">
  <div class="include-footer-height overflow-y fixed-height">
    <div class="modal-body-inner-padded">
      <div ng-form method="post" name="container.form">
            <div form-input="fields.billingAddress"></div>
            <div form-input="fields.shippingAddress"></div>
            <div form-input="fields.carrier"></div>
      </div>
      <div class="order">
        <input type="hidden" name="cmd" value="_cart" />
        <input type="hidden" name="upload" value="1" />
        <input type="hidden" name="charset" value="utf-8" />
        <input type="hidden" name="invoice" value="{{order.key}}" />
        <input type="hidden" name="no_shipping" value="2">
        <input type="hidden" name="business" value="{{order._payment_method.business}}" />
        <input type="hidden" name="return" value="{{completePath}}" />
        <input type="hidden" name="cancel_return" value="{{cancelPath}}" />
        <input type="hidden" name="notify_url" value="{{notifyUrl}}" />
        <input type="hidden" name="rm" value="1" />
        <input type="hidden" name="currency_code" value="{{order.currency.code}}" />
        <input type="hidden" name="custom" value="{{order.key}}" />
        <input type="hidden" name="address_override" value="1" />
        <input type="hidden" name="first_name" value="{{order.shipping_address.name}}" />
        <input type="hidden" name="address1" value="{{order.shipping_address.street}}" />
        <input ng-if="order.shipping_address.street2" type="hidden" name="address2" value="{{order.shipping_address.street2}}" />
        <input type="hidden" name="city" value="{{order.shipping_address.city}}" />
        <input ng-if="order.shipping_address.country_code === 'US'" type="hidden" name="state" value="{{order.shipping_address.region_code|substr:3}}" />
        <input ng-if="order.shipping_address.postal_code" type="hidden" name="zip" value="{{order.shipping_address.postal_code}}" />
        <input type="hidden" name="country" value="{{order.shipping_address.country_code}}" />
        <input type="hidden" name="email" value="{{order.shipping_address.email}}" />
        <input type="hidden" name="tax_cart" value="{{order.tax_amount}}" />
        <input type="hidden" name="handling_cart" value="{{order.carrier.subtotal}}" />
              <div class="item-list">
                <div class="item clearfix" ng-if="line._state === 'deleted' || line.product.quantity < 1" ng-repeat="line in order._lines track by $index">
                    <div class="item-left">
                        <div class="order-line-product-name">
                          {{line.product.name}}
                        </div>
                        <div class="order-line-product-code">
                          {{line.product.code}}
                        </div>
                        <div class="order-line-product-unit_price">
                          {{line.product.unit_price|displayCurrency:order.currency}}
                        </div>
                        <div class="order-line-product-variant_signature" ng-show="line.product.variant_signature">
                            <div ng-repeat="variant in line.product.variant_signature track by $index">
                                <div ng-repeat="(key, value) in variant">
                                  <span class="order-label">{{key}}:</span>
                                  <span class="order-value">{{value}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="order-line-product-quantity">
                          <span class="order-label">Quantity ({{line.product.uom.symbol}}):</span>
                          <span class="order-value">{{line.product.quantity}}</span>
                        </div>
                    </div>
                    <div class="item-right list-actions">
                      <button loading="!order.ui.rule.field._lines.product.quantity.writable" type="button" class="button" ng-click="removeLine(line)">Remove</button>
                      <button loading type="button" class="button" ng-click="viewProduct(line)">
                        <span ng-show="order.ui.rule.field._lines.writable">Edit</span>
                        <span ng-show="!order.ui.rule.field._lines.writable">View</span>
                      </button>
                      <div class="order-line-discount line-item" ng-show="line.discount > 0">
                        <div class="order-label">Discount (%)</div>
                        <div class="order-value">{{line.discount}}</div>
                      </div>
                      <div class="line-item order-line-discount_subtotal">
                        <div class="order-label">Subtotal</div>
                        <div class="order-value">{{line.discount_subtotal|displayCurrency:order.currency}}</div>
                      </div>
                        <input type="hidden" value="{{line.product.name}}" name="item_name_{{line.sequence}}" />
                        <input type="hidden" value="{{line.sequence}}" name="item_number_{{line.sequence}}" />
                        <input type="hidden" value="{{line.product.quantity}}" name="quantity_{{line.sequence}}" />
                        <input type="hidden" value="{{line.product.unit_price}}" name="amount_{{line.sequence}}" />
                        <input type="hidden" value="{{line.discount}}" name="discount_rate_{{line.sequence}}" />
                    </div>
                </div>
        </div>
      <div class="order-totals clearfix">
          <table class="pull-right">
            <tbody>
              <tr class="order-carrier-subtotal">
                <td class="order-label">Shipping &amp; Handling</td>
                <td class="order-value">{{order.carrier.subtotal|displayCurrency:order.currency}}</td>
              </tr>
              <tr class="order-untaxed_amount">
                <td class="order-label">Net Total</td>
                <td class="order-value">{{order.untaxed_amount|displayCurrency:order.currency}}</td>
              </tr>
              <tr class="order-tax_amount">
                <td class="order-label">Taxes</td>
                <td class="order-value">{{order.tax_amount|displayCurrency:order.currency}}</td>
              </tr>
              <tr class="order-total_amount">
                <td class="order-label">Total</td>
                <td class="order-value">{{order.total_amount|displayCurrency:order.currency}}</td>
              </tr>
              <tr class="order-currency">
                <td class="order-label">Currency</td>
                <td class="order-value">{{order.currency.name}} ({{order.currency.code}})</td>
              </tr>
            </tbody>
          </table>
      </div>

      <div class="order-messages">
        <div ng-if="canShowMessageBox()" class="clearfix form-inputs">
          <div form-input="fields.feedback"></div>
          <div form-input="fields.message"></div>
        </div>
        <div class="item-list">
          <div class="item clearfix" ng-repeat="message in order._messages"
             ng-init="isYou = message._agent.key === currentAccount.key;
                      isBuyer = message._agent.key === order.parent.parent.key && !isYou;
                      isSeller = message._agent.key === order._seller_reference.parent.key && !isYou;
                      ">
            <div class="item-left">
              <div class="order-message-head">
              <!--
              simplified version
              you see your messages as you
              admin messages are seen as administrator
              buyers messages are seen as buyer
              sellers messages are seen as seller
              -->
              <span ng-if="isYou">you</span>
              <span ng-if="isBuyer">buyer</span>
              <span ng-if="isSeller">seller</span>
              <span ng-if="message._agent._root_admin && !isYou && !isSeller">administrator</span>
               - {{message|output:'created'}}</div>
              <div class="order-message-body">{{message.body}}</div>
            </div>
          </div>
        </div>
        <div load-more-button="messagesReader"></div>
      </div>

      </div>
  </div>
  </div>
</div>
<div class="modal-footer">
    <button loading send-message="messaging.logMessage()" ng-show="order.ui.rule.action.log_message.executable" type="button" class="button">
        Send Message
    </button>
    <button loading send-message="messaging.reportFeedback()" ng-show="order.ui.rule.action.report_feedback.executable" type="button" class="button">
        Report Feedback
    </button>
    <button loading send-message="messaging.reviewFeedback()" ng-show="order.ui.rule.action.review_feedback.executable" type="button" class="button">
        Review Feedback
    </button>
    <button loading send-message="messaging.sudoFeedback()" ng-show="order.ui.rule.action.sudo_feedback.executable" type="button" class="button">
        Sudo Feedback
    </button>
    <button loading send-message="messaging.leaveFeedback()" ng-show="order.ui.rule.action.leave_feedback.executable" type="button" class="button">
        Leave Feedback
    </button>
    <button loading ng-show="order.ui.rule.action.checkout.executable && order._lines.length" ng-click="checkout()" type="button" class="button">
        Checkout
    </button>
    <button loading="container.form.$pristine && container.paypalForm.$pristine" ng-show="order.ui.rule.action.update.executable" ng-click="update()" type="button" class="button">
        Update
    </button>
    <button loading ng-click="cancel()" ng-show="order.ui.rule.action.cancel.executable" type="button" class="button">
        Cancel Order
    </button>
    <button loading ng-show="order.ui.rule.action.cancel.executable" type="submit" class="button">
        Pay Now
    </button>
    <button loading type="button" class="button" ng-click="close()">
        Close
    </button>
</div>
</form>
</div>