.datetimepicker-wrapper .dropdown-menu {
  position: absolute;
  background: white;
  border: 1px solid #BBBBBB;
  -webkit-box-shadow: 1px 1px 3px #BBBBBB;
  box-shadow: 1px 1px 3px #BBBBBB;
  padding: 10px;
  list-style: none;
  z-index: 10;
  margin-top: 0px;
  float: left;
  background-clip: padding-box;
}

.datetimepicker-wrapper .dropdown-menu li {
  display: block;
}

.datetimepicker-wrapper .dropdown-menu table {
  max-width: 100%;
}

.datetimepicker-wrapper .dropdown-menu table tr td {
  min-width: 45px;
  padding: 3px;
}

.datetimepicker-wrapper .button-bar
{
  padding-top:10px;
}

.datetimepicker-wrapper table thead th
{
  padding-bottom:10px;
}
