<div class="cards" autoload-on-vertical-scroll-end="scrollEnd">
    <md-card loading ng-click="view(order)" ng-repeat="order in search.results">
        <div class="padding-16">
            <h1 class="headline">{{order.id}}</h1>
            <span class="first">{{order|output:'date'}}</span>
            <span class="first">{{order.total_amount|formatCurrency:order.currency}}</span>
            <table class="card-table">
                <tbody>
                    <tr>
                        <td class="first info">Seller</td>
                        <td class="first">{{order._seller.name}}</td>
                    </tr>
                    <tr>
                        <td class="first info">Buyer</td>
                        <td class="first">{{order.parent.parent.id}}</td>
                    </tr>
                    <tr>
                        <td class="first info">State</td>
                        <td class="first">{{order.state}}</td>
                    </tr>
                    <tr>
                        <td class="first info">State</td>
                        <td class="first">{{order|output:'updated'}}</td>
                    </tr>

                    <tr ng-show="order.payment_status">
                        <td class="first info">Payment</td>
                        <td class="first">{{order.payment_status}}</td>
                    </tr>
                    <tr ng-show="order.feedback">
                        <td class="first info">Feedback</td>
                        <td class="first">
                            {{order.feedback}} <span ng-show="order.feedback_adjustment">({{order.feedback_adjustment}})</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>
<div load-more-button="search.pagination"></div>
