<div class="cards" autoload-on-vertical-scroll-end="search">
    <div poll-results="search"></div>
    <div class="card" ng-repeat="order in search.results">
        <button md-ink-ripple type="button" class="menu-item card-inner" loading ng-click="view(order, $event)">
            <div class="card-inner-padding">
                <h1 class="headline">#{{order.id}}</h1>
                <div class="secondary padding-bottom-16">{{order|output:'date'}}</div>
                <table class="card-table">
                    <tbody>
                        <tr>
                            <td class="secondary info">Seller</td>
                            <td class="secondary">{{order._seller.name}}</td>
                        </tr>
                        
                        <tr>
                            <td class="secondary info">Buyer</td>
                            <td class="secondary">{{order.parent.parent.id}}</td>
                        </tr>

                        <tr>
                            <td class="secondary info">Payment</td>
                            <td class="secondary">
                                <span>{{order.payment_status|labelize:"order"}}</span>
                            </td>
                        </tr>

                        <tr>
                            <td class="secondary info">Total</td>
                            <td class="secondary">{{order.total_amount|formatCurrency:order.currency}}</td>
                        </tr>
                        
                        <tr>
                            <td class="secondary info">Updated</td>
                            <td class="secondary">{{order|output:'updated'}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
         </button>
    </div>
</div>
<!-- help -->
<div ng-if="helpers.models.isEntityListEmpty(search.results) && search.loaded" 
     help-render="listHelp"></div>
<!-- end help -->
<div load-more-button="search.loader"></div>