<div fit-in-modal>
    <div class="modal-body">
        <div class="list list-padding">
            <div class="multiline">
                <span class="body1">The same way your sign in credentials never reach our infrastructure, your sensitive data, such as credit card number, is never passed to our servers. Instead, it is directly sent from your device to our payment service provider for processing. The provider returns a single-use token that is used by our servers to charge your card. Even though our hosting infrastructure is PCI compliant and encryption for all inbound and outbound network traffic is enforced, we delegate credit card processing to the provider in order to minimize our PCI compliance burden. The provider takes care of the hardest parts of PCI compliance, like redacting logs and encrypting card details.</span>
            </div>
        </div>
    </div>
</div>