<button md-ink-ripple-action
        toolbar-padding-control-element
        type="button"
        class="action button-transparent button-square"
        ng-show="order.ui.rule.action.delete.executable && order.id"
        loading
        ng-click="cmd.order.delete(cmd.order.state !== 'order')">
    <icon type="delete"></icon>
</button>

<button md-ink-ripple-action
        toolbar-padding-control-element
        type="button"
        class="action button-transparent button-square"
        loading ng-click="messages.toggle()">
    <icon type="chat_bubble"></icon>
</button>