<div fit-in-modal>
    <modal-loading toolbar="true"></modal-loading>
    <activity-spinner toolbar="true"></activity-spinner>
    <form method="post" name="container.paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr">
        <action-toolbar spec="dialog.toolbar"></action-toolbar>
        <div ng-if="$state.isCompleted()" class="modal-body">
            <div class="fixed-height relative has-toolbar">
                <div class="modal-body-inner">
                    <div class="order">
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="upload" value="1" />
                        <input type="hidden" name="charset" value="utf-8" />
                        <input type="hidden" name="invoice" value="{{order.key}}" />
                        <input type="hidden" name="no_shipping" value="2">
                        <input type="hidden" name="business" value="{{order._payment_method.business}}" />
                        <input type="hidden" name="return" value="{{completePath}}" />
                        <input type="hidden" name="cancel_return" value="{{cancelPath}}" />
                        <input type="hidden" name="notify_url" value="{{notifyUrl}}" />
                        <input type="hidden" name="rm" value="1" />
                        <input type="hidden" name="currency_code" value="{{order.currency.code}}" />
                        <input type="hidden" name="custom" value="{{order.key}}" />
                        <input type="hidden" name="address_override" value="1" />
                        <input type="hidden" name="first_name" value="{{order.shipping_address.name}}" />
                        <input type="hidden" name="address1" value="{{order.shipping_address.street}}" />
                        <input ng-if="order.shipping_address.street2" type="hidden" name="address2" value="{{order.shipping_address.street2}}" />
                        <input type="hidden" name="city" value="{{order.shipping_address.city}}" />
                        <input ng-if="order.shipping_address.country_code === 'US'" type="hidden" name="state" value="{{order.shipping_address.region_code|substr:3}}" />
                        <input ng-if="order.shipping_address.postal_code" type="hidden" name="zip" value="{{order.shipping_address.postal_code}}" />
                        <input type="hidden" name="country" value="{{order.shipping_address.country_code}}" />
                        <input type="hidden" name="email" value="{{order.shipping_address.email}}" />
                        <input type="hidden" name="tax_cart" value="{{order.tax_amount}}" />
                        <input type="hidden" name="handling_cart" value="{{order.carrier.subtotal}}" />

                        <div ng-if="!stage.checkout" class="order-stage seam-bottom in fixed-height" ng-class="{'in': stage.current === 1, 'out-up': stage.isOut(1)}">
                          <div ng-if="!helpers.models.isEntityListEmpty(order._lines)" ng-include="'order/lines.html'"></div>
                          <div ng-if="order.ui.rule.action.update.executable && !helpers.models.isEntityListEmpty(order._lines)" class="list">

                            <button md-ink-ripple loading class="md-button text-center order-next-stage" ng-click="stage.toCheckout()" type="button">
                              <div class="order-next-stage-inner">
                                <span class="md-button-text">Proceed To Checkout</span>
                                <div class="wide-arrow-down">
                                   <span class="pager">1/4</span>
                                </div>
                              </div>
                            </button>

                          </div>
                          <div ng-if="helpers.models.isEntityListEmpty(order._lines)" help-render="GLOBAL_CONFIG.emptyHelp.cart"></div>
                        </div>

                        <div ng-if="!stage.checkout" class="order-stage seam-bottom out fixed-height" ng-class="{'in': stage.current === 2, 'out': stage.current !== 2, 'out-up': stage.isOut(2)}">
                            <div class="list list-padding seam-bottom">
                              <div class="list-subheader subheader">Billing info</div>
                              <button md-ink-ripple-list
                                      ng-click="addresses.browse('billing')" 
                                      loading
                                      type="button" 
                                      class="list-row color-child-when-disabled list-row-one-line list-row-is-clickable list-row-has-avatar list-row-has-primary menu-item">
                                      <div class="list-content-tile">
                                        <div class="list-primary-tile">
                                          <div class="avatar">
                                            <icon type="arrow_drop_down_circle"></icon>
                                          </div>
                                        </div>
                                        <div class="first">Use a saved address to automatically populate the fields below</div>
                                      </div>
                              </button>
                              <div ng-form="addresses.form.billing">
                                 <div form-builder="addresses.fields.billing"></div>
                              </div>
                            </div>

                            <div class="list list-padding seam-bottom">
                              <div class="list-subheader subheader">Shipping info</div>
                              <div form-input="addresses.fields.sameAsBilling"></div>
                              <div collapse="addresses.sameAsBilling" class="order-expanding-address" ng-form="addresses.form.shipping">
                                  <button md-ink-ripple-list
                                          ng-click="addresses.browse('shipping')" 
                                          loading
                                          type="button" 
                                          class="list-row color-child-when-disabled list-row-one-line list-row-is-clickable list-row-has-avatar list-row-has-primary menu-item">
                                          <div class="list-content-tile">
                                            <div class="list-primary-tile">
                                              <div class="avatar">
                                                <icon type="arrow_drop_down_circle"></icon>
                                              </div>
                                            </div>
                                            <div class="first">Use a saved address to automatically populate the fields below</div>
                                          </div>
                                  </button>
                                 <div form-builder="addresses.fields.shipping"></div>
                              </div>
                            </div>

                           <div class="list">
                            <button md-ink-ripple 
                                    loading 
                                    class="md-button text-center order-next-stage" 
                                    ng-click="stage.toDeliveryMethod()" 
                                    type="button">
                                <div class="order-next-stage-inner">
                                  <span class="md-button-text">Select Delivery Method</span>
                                  <div class="wide-arrow-down">
                                     <span class="pager">2/4</span>
                                  </div>
                                </div>
                            </button>
                          </div>
                        </div>

                        <div ng-if="!stage.checkout" class="order-stage seam-bottom out fixed-height" ng-class="{'in': stage.current === 3, 'out': stage.current !== 3, 'out-up': stage.isOut(3)}">
                              <div ng-form="carrier.form" class="list list-padding seam-bottom">
                                <div class="list-subheader subheader">Delivery methods</div>
                                     <md-radio-group ng-model="carrier.selected" class="list list-row-has-primary">
                                      <md-radio-button ng-repeat="available_carrier in carrier.available" 
                                                       md-ink-ripple
                                                       class="list-content-tile list-row-two-lines list-row"
                                                       ng-value="available_carrier.key" 
                                                       aria-label="available_carrier.name"
                                                       ng-required="true">
                                          <span class="first">{{available_carrier.price|formatCurrency:order.currency}}</span>
                                          <span class="second">{{available_carrier.name}}</span>
                                      </md-radio-button>
                                  </md-radio-group>
                              </div>
                            <div class="list">
                              <button md-ink-ripple 
                                      loading 
                                      class="md-button text-center order-next-stage" 
                                      ng-click="stage.toReviewOrder()" 
                                      type="button">
                                <div class="order-next-stage-inner">
                                  <span class="md-button-text">Review Cart</span>
                                  <div class="wide-arrow-down">
                                     <span class="pager">3/4</span>
                                  </div>
                                </div>
                              </button>
                            </div>
                        </div>

                        <div class="order-stage seam-bottom out fixed-height" ng-class="{'in': stage.current === 4, 'out': !stage.checkout}">
                            <div ng-include="'order/lines.html'"></div>
                            <div ng-if="stage.canShowPay()" class="list">

                              <div class="clearfix multiline">
                                <div class="pull-left">
                                  <button md-ink-ripple type="button" class="button-transparent order-reset-button"
                                          ng-show="order.ui.rule.action.cancel.executable"
                                          loading
                                          ng-click="cmd.order.cancel()">
                                      <span class="wide-arrow-right pull-left"></span>
                                      <span class="order-reset-button-text md-button-text pull-left">Reset Cart</span>
                                  </button>
                                </div>
                                <div ng-if="order._payment_method" class="pull-right">
                                  <button md-ink-ripple type="submit" loading class="order-go-pay button-transparent">
                                       <img src="/client/dist/static/order/x-click-but6.gif" alt="Check out with PayPal" />
                                  </button>
                                </div>
                              </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<md-sidenav ng-if="$state.isCompleted()" md-state-changed="messages.stateChanged" md-swipe-right="messages.close()" layout="column" class="right md-closed" md-component-id="messages.sidebarID">
    <md-content>
        <div class="list">
            <div autoload-on-vertical-scroll-end="{loader: messages.reader, reverse: true}"
                 always-scroll-to-bottom="['messages.open', 'messages.sent']"
                 class="messages overflow-auto-y">
                
              <div class="sidebar-seller-logo">
                  <button md-ink-ripple ripple-light type="button" class="button-transparent" loading ng-click="cmd.seller.view()">
                      <img class="seller-logo not-pointable" display-image-config="logoImageConfig" display-image="seller.logo" />
                  </button>
              </div>
                <div ng-if="helpers.models.isEntityListEmpty(order._messages)" help-render="GLOBAL_CONFIG.emptyHelp.cartMessages"></div>
                <div class="messages-list">
                    
                    <div ng-click="messages.resendMaybe(message)" class="message-row clearfix" ng-repeat="message in order._messages" ng-init="
                          isYou = !message._agent || message._agent.key === currentAccount.key;
                          isBuyer = message._agent.key === order.parent.parent.key && !isYou;
                          isSeller = message._agent.key === order._seller_reference.parent.key && !isYou;
                          " ng-class="{'leftside': isYou, 'rightside': !isYou, 'pointable': message._failed}">
                        <div class="message">
                            <div class="message-inner">
                                <div ng-bind-html="message.body | escape | autobr" class="message-body second"></div>
                                <div class="message-footer helper">
                                  
                                  <span ng-if="!message._faild && message._action">Message left <span ng-if="!messages.isToday(message)">on</span> <span ng-if="messages.isToday(message)">at</span> </span>
                                  <span ng-if="message._failed">Failed sending, tap to resend.</span>
                                  <span ng-if="!message._action && !message._failed">Sending message...</span>
                                  <span ng-if="message.created">{{message|output:'created'}}</span>
                                </div>
                            </div>
                            <div class="message-author secondary">
                                <span ng-if="isYou">You</span>
                                <span ng-if="isBuyer">Buyer</span>
                                <span ng-if="isSeller">Seller</span>
                                <span ng-if="message._agent._root_admin && !isYou && isBuyer && !isSeller">Admin</span>
                                <span ng-if="message._agent._is_system && !isYou && isBuyer && !isSeller">System</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-form name="container.messages" class="clearfix messages-box">
                <div class="messages-send">
                      <button md-ink-ripple-action loading type="button" ng-click="messages.logMessage()" class="button-transparent button-square" loading="!container.messages.$valid">
                          <icon type="send"></icon>
                      </button>
                </div>
                <div class="messages-send-wrapper relative">
                    <div form-input="messages.field"></div>
                </div>
            </div>
        </div>
    </md-content>
</md-sidenav>


<div ng-if="$state.isCompleted()" ng-include="'seller/view.html'"></div>