<div fit-in-modal>
    <activity-spinner toolbar="true"></activity-spinner>
    <form no-leave-check="true" method="post" name="container.general">
        <action-toolbar spec="dialog.toolbar"></action-toolbar>
        <div class="modal-body">
            <modal-loading toolbar="true"></modal-loading>
            <div class="fixed-height relative has-toolbar">
                <div ng-if="notFound">
                    <h1 class="no-things-available display1 with-toolbar">
                        <span ng-if="notFound === 1">Your shopping cart is empty.</span>
                        <span ng-if="notFound === 2">This order does not exist.</span>
                    </h1>
                </div>
                <div ng-if="$state.isCompleted() && !notFound" class="modal-body-inner">
                    <div class="order">
                    

                        <div ng-if="!stage.checkout"
                             class="order-stage seam-bottom in fixed-height"
                             order-went-up="stage.endAnimation(1)"
                             ng-class="{'in': stage.current === 1, 'out': stage.current !== 1, 'out-up': stage.isOut(1)}">
                          <div ng-show="stage.animating === 1" class="order-loading-wrapper">
                                <div ng-include="'core/spinner/spinner.html'"></div>
                          </div>
                          <div ng-if="stage.isAnimating(1)">
                            <div ng-if="!helpers.models.isEntityListEmpty(order._lines)" ng-include="'order/lines.html'"></div>
                            <div ng-if="order.ui.rule.action.update.executable && !helpers.models.isEntityListEmpty(order._lines)" class="list">
                              <button md-ink-ripple loading class="md-button text-center order-next-stage color-child-when-disabled" ng-click="stage.toCheckout()" type="button">
                                <div class="order-next-stage-inner">
                                  <span class="md-button-text">Proceed To Checkout</span>
                                  <div class="wide-arrow-down">
                                     <span class="pager">1/5</span>
                                  </div>
                                </div>
                              </button>
                            </div>
                         
                          </div>
                        </div>

                        <div ng-if="!stage.checkout"
                             order-went-up="stage.endAnimation(2)"
                             class="order-stage seam-bottom out fixed-height" ng-class="{'in': stage.current === 2, 'out': stage.current !== 2, 'out-up': stage.isOut(2)}">
                            <div ng-show="stage.animating === 2 || !addresses.finalizeFields" class="order-loading-wrapper">
                                <div ng-include="'core/spinner/spinner.html'"></div>
                            </div>
                            <div ng-show="addresses.finalizeFields && stage.isAnimating(2)" ng-if="stage.isAnimating(2)">

                              <div class="list list-padding seam-bottom">
                                <div class="list-subheader subheader">Shipping address</div>
                                <button md-ink-ripple-list
                                        ng-click="addresses.browse('shipping')" 
                                        loading
                                        type="button"
                                        class="list-row color-child-when-disabled list-row-one-line list-row-is-clickable list-row-has-avatar list-row-has-primary menu-item">
                                        <div class="list-content-tile">
                                          <div class="list-primary-tile">
                                            <div class="avatar">
                                              <icon type="arrow_drop_down_circle"></icon>
                                            </div>
                                          </div>
                                          <div class="first">Use a saved address to automatically populate the fields below</div>
                                        </div>
                                </button>
                                <div ng-form="addresses.form.shipping">
                                   <div form-builder="addresses.fields.shipping"></div>
                                </div>
                              </div>

                              <div class="list list-padding seam-bottom">
                                <div class="list-subheader subheader">Billing address</div>
                                <div form-input="addresses.fields.sameAsShipping"></div>
                                <div collapse="addresses.sameAsShipping" class="order-expanding-address" ng-form="addresses.form.billing">
                                    <button md-ink-ripple-list
                                            ng-click="addresses.browse('billing')" 
                                            loading
                                            type="button" 
                                            class="list-row color-child-when-disabled list-row-one-line list-row-is-clickable list-row-has-avatar list-row-has-primary menu-item">
                                            <div class="list-content-tile">
                                              <div class="list-primary-tile">
                                                <div class="avatar">
                                                  <icon type="arrow_drop_down_circle"></icon>
                                                </div>
                                              </div>
                                              <div class="first">Use a saved address to automatically populate the fields below</div>
                                            </div>
                                    </button>
                                   <div form-builder="addresses.fields.billing"></div>
                                </div>
                              </div>

                             <div class="list">
                              <button md-ink-ripple 
                                      loading 
                                      class="md-button text-center order-next-stage color-child-when-disabled" 
                                      ng-click="stage.toDeliveryMethod()" 
                                      type="button">
                                  <div class="order-next-stage-inner">
                                    <span class="md-button-text">Select Shipping Method</span>
                                    <div class="wide-arrow-down">
                                       <span class="pager">2/5</span>
                                    </div>
                                  </div>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div ng-if="!stage.checkout"
                             class="order-stage seam-bottom out fixed-height"
                             order-went-up="stage.endAnimation(3)"
                             ng-class="{'in': stage.current === 3, 'out': stage.current !== 3, 'out-up': stage.isOut(3)}">
                              <div ng-show="stage.animating === 3" class="order-loading-wrapper">
                                  <div ng-include="'core/spinner/spinner.html'"></div>
                              </div>
                              <div ng-if="stage.isAnimating(3)">
                                  <div ng-form="carrier.form" class="list list-padding seam-bottom">
                                      <div class="list-subheader subheader">Shipping methods</div>
                                           <md-radio-group ng-model="carrier.selected" class="list list-row-has-primary">
                                            <md-radio-button ng-repeat="available_carrier in carrier.available" 
                                                             md-ink-ripple
                                                             class="list-content-tile list-row-two-lines list-row color-child-when-disabled"
                                                             loading
                                                             ng-value="available_carrier.key" 
                                                             aria-label="available_carrier.name"
                                                             ng-required="true">
                                                <span class="first">{{available_carrier.price|formatCurrency:order.currency}}</span>
                                                <span class="second">{{available_carrier.name}}</span>
                                            </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                  <div class="list">
                                    <button md-ink-ripple 
                                            loading 
                                            class="md-button text-center order-next-stage color-child-when-disabled"
                                            ng-click="stage.toReviewOrder()"
                                            type="button">
                                      <div class="order-next-stage-inner">
                                        <span class="md-button-text">Review Cart</span>
                                        <div class="wide-arrow-down">
                                           <span class="pager">3/5</span>
                                        </div>
                                      </div>
                                    </button>
                                  </div>
                              </div>
                        </div>


                        <div class="order-stage seam-bottom out fixed-height"
                             order-went-up="stage.endAnimation(4)"
                             ng-class="{'in': stage.current === 4, 'out': stage.current !== 4, 'out-up': stage.isOut(4)}">

                            <div ng-show="stage.animating === 4" class="order-loading-wrapper">
                                  <div ng-include="'core/spinner/spinner.html'"></div>
                            </div>

                            <div ng-if="stage.isAnimating(4)">
                              <div ng-include="'order/lines.html'"></div>
                              <div ng-if="stage.canShowPay()" class="list">
                                 <button md-ink-ripple 
                                            loading 
                                            class="md-button text-center order-next-stage color-child-when-disabled"
                                            ng-click="stage.toPayWithCreditCard()"
                                            type="button">
                                      <div class="order-next-stage-inner">
                                        <span class="md-button-text">Pay with Card</span>
                                        <div class="wide-arrow-down">
                                           <span class="pager">4/5</span>
                                        </div>
                                      </div>
                                 </button>
                              </div>
                            </div>
                        </div>


                        <div class="order-stage seam-bottom out fixed-height"
                             order-went-up="stage.endAnimation(5)"
                             ng-class="{'in': stage.current === 5, 'out': stage.current !== 5, 'out-up': stage.isOut(5)}">

                            <div ng-show="stage.animating === 5" class="order-loading-wrapper">
                                  <div ng-include="'core/spinner/spinner.html'"></div>
                            </div>

                            <div ng-if="stage.isAnimating(5)">

                              <div class="list list-padding">

                                <button loading 
                                      md-ink-ripple-list ng-click="stripe.payWithConfidence()" 
                                      type="button" 
                                      class="list-row list-row-one-line list-row-avatar list-row-has-primary menu-item color-child-when-disabled">
                                      <div class="list-content-tile">
                                        <div class="list-primary-tile">
                                          <div class="avatar"><icon type="lock_outline"></icon></div>
                                        </div>
                                        <div class="first">Pay with confidence</div>
                                      </div>
                              </button>

                              <button loading 
                                      md-ink-ripple-list 
                                      ng-click="stripe.acceptableCards()" 
                                      type="button" 
                                      class="list-row list-row-one-line list-row-avatar list-row-has-primary menu-item color-child-when-disabled">
                                      <div class="list-content-tile">
                                        <div class="list-primary-tile">
                                          <div class="avatar"><icon type="credit_card"></icon></div>
                                        </div>
                                        <div class="first">Acceptable cards</div>
                                      </div>
                              </button>

                                <div ng-form="stripe.form">
                                   <div form-input="stripe.fields.cc"></div>
                                    <div class="fields-grouping clearfix">
                                        <label class="fields-grouping-label">{{GLOBAL_CONFIG.fields.label.order.card_exp}}</label>
                                      <div validate-card-date year="stripe.args.card_exp_2" month="stripe.args.card_exp_1" class="field-grouping-wrapper credit-card-expire-inputs clearfix">
                                          <div class="field-grouping" form-input="stripe.fields.exp1"></div>
                                          <div class="field-grouping padding-top-8 padding-bottom-8 padding-left-8">/</div>
                                          <div class="field-grouping" form-input="stripe.fields.exp2"></div>
                                      </div>
                                      <div ng-if="stripe.expires.shouldShowMessages()" ng-class="{'is-help-erroric': !stripe.expires.messages().help}" ng-messages="stripe.expires.messages()">
                                        <div ng-message="help">{{GLOBAL_CONFIG.fields.help.order.card_exp}}</div>
                                        <div ng-message="required">This field requires "numeric" value!</div>
                                        <div ng-message="invalid_card_date">{{GLOBAL_CONFIG.fields.validationErrors.invalid_card_date}}</div>
                                      </div>
                                    </div>
                                   <div form-input="stripe.fields.cvc"></div>
                                </div>

                         
                                <div ng-if="stage.canShowPay()" class="list order-go-pay">
                                   <div class="inner">
                                     <md-button class="md-raised" type="button" loading ng-click="stripe.pay()">PAY <span ng-bind="cmd.order.showTotalAmount()|formatCurrency:order.currency"></span></md-button>
                                   </div>
                                </div>
                            </div>
                            </div>

                        </div>


                       <div 
                             class="order-stage seam-bottom out fixed-height"
                             order-went-up="stage.endAnimation(6)"
                             ng-class="{'in': stage.current === 6, 'out': stage.current !== 6, 'out-up': stage.isOut(6)}">
                              <div ng-show="stage.animating === 6" class="order-loading-wrapper">
                                  <div ng-include="'core/spinner/spinner.html'"></div>
                              </div>
                              <div ng-if="stage.isAnimating(6)">
                                  <div ng-include="'order/lines.html'"></div>
                              </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<md-sidenav ng-if="$state.isCompleted() && !notFound" md-state-changed="messages.stateChanged" md-swipe-right="messages.close()" layout="column" class="right md-closed" md-component-id="messages.sidebarID">
    <md-content>
        <div class="list">
            <div autoload-on-vertical-scroll-end="{loader: messages.reader, watch: 'messages.open', reverse: true}"
                 always-scroll-to-bottom="['messages.open', 'messages.sent']"
                 class="messages overflow-auto-y">
                
              <div class="sidebar-seller-logo">
                      <img class="seller-logo not-pointable" display-image-config="logoImageConfig" display-image="seller.logo" />
                
              </div>
                <div ng-if="helpers.models.isEntityListEmpty(order._messages)" help-render="GLOBAL_CONFIG.emptyHelp.cartMessages"></div>
                <div class="messages-list"> 

                    <div load-more-button="messages.reader"></div>
                    
                    <div ng-click="messages.resendMaybe(message)" class="message-row clearfix" ng-repeat="message in order._messages" ng-init="
                          isYou = !message._agent || message._agent.key === currentAccount.key;
                          isBuyer = message._agent.key === order.parent.parent.key && !isYou;
                          isSeller = message._agent.key === order._seller_reference.parent.key && !isYou;
                          " ng-class="{'leftside': isYou, 'rightside': !isYou, 'pointable': message._failed}">
                        <div class="message">
                            <div class="message-inner">
                                <div ng-bind-html="message.body | escape | autobr" class="message-body second"></div>
                                <div class="message-footer helper">
                                  
                                  <span ng-if="!message._faild && message._action">Message left <span ng-if="!messages.isToday(message)">on</span> <span ng-if="messages.isToday(message)">at</span> </span>
                                  <span ng-if="message._failed">Failed sending, tap to resend.</span>
                                  <span ng-if="!message._action && !message._failed">Sending message...</span>
                                  <span ng-if="message.created">{{message|output:'created'}}</span>
                                </div>
                            </div>
                            <div class="message-author secondary">
                                <span ng-if="isYou">You</span>
                                <span ng-if="isBuyer">Buyer</span>
                                <span ng-if="isSeller">Seller</span>
                                <span ng-if="message._agent._root_admin && !isYou && !isBuyer && !isSeller">Admin</span>
                                <span ng-if="message._agent._is_system && !isYou && !isBuyer && !isSeller">System</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-form name="container.messages" class="clearfix messages-box">
                <div class="messages-send">
                      <button md-ink-ripple-action loading type="button" ng-click="messages.logMessage()" class="button-transparent button-square" loading="!container.messages.$valid">
                          <icon type="send"></icon>
                      </button>
                </div>
                <div class="messages-send-wrapper relative">
                    <div form-input="messages.field"></div>
                </div>
            </div>
        </div>
    </md-content>
</md-sidenav>


<div ng-if="$state.isCompleted() && !notFound" ng-include="'seller/view.html'"></div>
