<form action="{{form_info.action}}" ng-upload="completed(content)" name="container.main">
	
<input type="hidden" name="action_key" value="upload_images" />
<input type="hidden" name="action_model" value="35" />
<input type="hidden" name="key" value="{{entity.key}}" />
	
<div scroll-end class="modal-body scrollable">
<div class="modal-body-inner">
 
<div ng-init="isOpen=true" accordion>
   <div is-open="isOpen" accordion-group heading="General">
  
    <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="name" ng-required="rule.input[action].name.required" class="text-input" type="text" ng-model="entity.name" />
			</div>
		</div>
		
	</div>
	
	 <div class="form-control">
		<label class="form-label">Publish Date</label>
		<div class="form-input">
			<div class="form-text">
				 <input datepicker-options="datepickOptions" 
				 		datepicker-popup="{{DATE_FULL}}" name="publish_date" 
				 		ng-required="rule.input[action].publish_date.required" 
				 		class="text-input" type="text" ng-model="entity.publish_date" />
			</div>
		</div>
		
		</div>
		
		 <div class="form-control">
		<label class="form-label">Discontinue Date</label>
		<div class="form-input">
			<div class="form-text">
				 <input datepicker-options="datepickOptions" 
				 		datepicker-popup="{{DATE_FULL}}" name="discontinue_date"
				 	    ng-required="rule.input[action].discontinue_date.required" 
				 	    class="text-input" type="text" ng-model="entity.discontinue_date" />
			</div>
		</div>
		</div>
		
	</div>
	
 
	
	<div ng-show="entity.id" accordion-group heading="Products">
		<div class="form-control clearfix mb15">
		  <div class="pull-right">
		  <button n-show="entity._images.length" ng-click="addProducts()" type="button" class="button">Add Products</button>	
		  <div class="button fake-button">
		  	 <span>Add Images</span>
		  	 <input class="upload" name="images" multiple upload-on-select type="file" ng-model="entity._supplied_filename" />
		  </div>
		  </div>
		  
		</div>
		
		<div class="text-right" ng-show="$isUploading">Images are uploading... please wait...</div>
		
		<div ui-sortable="sortableOptions" ng-model="entity._images" class="clearfix">
			<div ng-repeat="image in entity._images" class="image-image">
				<img class="img" ng-src="{{image._image_240}}" />
				<button type="button" class="button" ng-click="removeImage(image)">Remove</button>
			</div>
		</div>
		
		<div ng-show="entity.more_images"><button type="button" ng-click="getImages()" busy class="button">Load more images</button></div>
	</div>
	
	<div ng-show="entity.id" accordion-group heading="Embed">
		 ....
	</div>
	 
	 
</div>


<div ng-show="rule.action.read_records.executable && entity.id" class="form-control">
  <div ng-include="logic_template('misc/logs.html')"></div>
</div>
	
 
</div>
</div>


<div class="modal-footer">
 
    <button ng-disabled="$isUploading" type="button" 
    		ng-click="publish()" ng-show="rule.action.publish && entity.id" busy class="button">
		Publish
	</button>
	
	<button ng-disabled="$isUploading" type="button" 
			ng-click="discontinue()" ng-show="rule.action.discontinue && entity.id" busy class="button">
		Discontinue
	</button>
	
	<button ng-disabled="$isUploading" type="button"
		    ng-click="lock()" ng-show="rule.action.lock && entity.id" busy class="button">
		Lock
	</button>
	 
	<button type="button" ng-click="save()" 
			ng-show="rule.action.update || rule.action.create" 
			ng-disabled="container.main.$invalid || $isUploading" busy class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>