<form name="container.main" ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
 
  	<h2 class="fieldset">General</h2>
	<div class="form-control">
		<label class="form-label">ID</label>
		<div class="form-input">
			 <div class="form-text">
			 	{{entity.id}}
			 </div>
		</div>
	</div>
	
	<div class="form-control">
		<label class="form-label">Registered</label>
		<div class="form-input">
			 <div class="form-text">
			 	{{entity|output:'created'}}
			 </div>
		</div>
	</div>
	
	
	<div class="form-control">
		<label class="form-label">Status</label>
		<div class="form-input">
			<div class="form-text">
				 {{entity.state}}
			</div>
		</div>
	</div>
	
	
	<div class="form-control">
		<label class="form-label">Primary e-mail</label>
		<div class="form-input">
			<select ng-disabled="!rule.field.identities.writable" ui-select2 ng-model="entity._primary_email" data-placeholder="Select your primary e-mail">
				    <option value=""></option>
				    <option ng-repeat="ident in entity.identities track by $index" value="{{ident.email}}">{{ident.email}}</option>
			</select>
		</div>
	</div>
	
	<h2 class="fieldset">Providers</h2>
	
	<div class="form-control">
		
		<div ng-repeat="ident in entity.identities track by $index" class="form-control">
			<label class="form-label">{{identiy_info(ident.identity)}}</label>
			<div class="form-input">
				 <button type="button" ng-disabled="!rule.field.identities.writable" class="button" ng-click="disAssociate(ident.identity)">
		 		    	<span ng-show="!ident.associated">Associate</span>
		 		    	<span ng-show="ident.associated">Disassociate</span>
		 		 </button>
			</div>
		</div>
		 
	</div>
	 
	<div ng-show="rule.action.read_records.executable && entity.id" class="form-control">
		<div ng-include="logic_template('misc/logs.html')"></div>
	</div>	 
	 
	</div>
 
  
</div>

<div class="modal-footer">
	
	<button busy ng-click="sudo()" type="button" class="button" ng-show="rule.action.sudo.executable">
		Administer
	</button>
	 
	<button  ng-show="rule.action.update.executable" busy class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>