<md-toolbar ng-class="{'no-right-actions': spec.hideRight,
                       'no-left-actions': spec.hideLeft,
                       'one-right-action': spec.hideSave || !spec.templateActionsUrl}">
    <div class="md-toolbar-tools with-actions">
        <div class="fill-height">

            <div ng-if="!spec.hideLeft" class="md-toolbar-item md-tools actions-left">
                <span ng-include="spec.templateLeft"></span>
                <button md-ink-ripple-action ng-if="!spec.templateLeft" type="button" class="button-transparent button-square"
                  loading ng-click="close()">
                    <icon type="navigation.close"></icon>
                </button>
            </div>

            <div class="md-toolbar-item md-breadcrumb">
                <span class="md-toolbar-title">{{spec.title}}</span>
            </div>
 
            <div ng-if="!spec.hideRight" class="md-toolbar-item md-tools actions-right">
                <span ng-include="spec.templateRight"></span>
                <md-button 
                  ng-if="!spec.templateRight && !spec.hideSave"
                  loading="container.form.$pristine"
                  type="button" 
                  submit-if="validateForm()" 
                  submit-if-files-no-complete="noComplete()" 
                  submit-if-files="save()"
                  submit-native="spec.submitNative"
                  class="action">Save</md-button>

                <span ng-include="spec.templateRight"></span>

                <action-dropdown
                  parent=".modal-content:first" 
                  template="spec.templateActionsUrl"
                  class="action"
                  ng-if="!spec.templateRight && spec.templateActionsUrl">
                </action-dropdown>
            </div>

        </div>
    </div>
</md-toolbar>