{% extends 'seo/index.html' %}

{% block meta %}
<title>{{page_title}}</title>
{% endblock %}

{% block crumbs %}

<div class="breadcrumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
  <a href="{{uri_for('home')}}" itemprop="url">
    <span itemprop="title">Home</span>
  </a> ›
  <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{uri_for(route_name)}}" itemprop="url">
      <span itemprop="title">{{page_title}}</span>
    </a>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="static-page">
    <div class="list seam-bottom about-page-top">
        <div class="social-grid padding-0">
            <div class="social-grid-item">
                <img class="auto-width" ng-src="/client/dist/static/logo_720_cut.png">
            </div>
        </div>
    </div>

    <div class="list list-padding padding-bottom-16">
        <div class="list-subheader subheader">Team</div>
        <div class="social-grid padding-0">
            <a target="_blank" href="https://www.linkedin.com/in/elvinkosova" class="social-grid-item" md-ink-ripple>
                <div class="social-grid-item-line">
                    <img class="social-icon large" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAJQAAAAJDc5MTRkYjk4LTMzM2YtNDQ3My04MzkyLTBlNTc0Zjk5NWJiYw.jpg">
                </div>
                <div class="social-grid-item-line">
                    <span class="secondary social-grid-text">Elvin Kosova</span>
                    <span class="secondary social-grid-text">(cofounder)</span>
                </div>
            </a>
             <a target="_blank" href="https://www.linkedin.com/in/edissehalic" class="social-grid-item" md-ink-ripple>
                <div class="social-grid-item-line">
                    <img class="social-icon large" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/1/005/0b6/269/063acd4.jpg">
                </div>
                <div class="social-grid-item-line">
                    <span class="secondary social-grid-text">Edis Sehalic</span>
                    <span class="secondary social-grid-text">(cofounder)</span>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}