{% extends 'seo/misc/base_page.html' %} {% block content %}
<div class="list list-padding ng-scope">
    <div class="multiline">

        <h1>Guide</h1>
        <span class="body1 padding-bottom-16">
        SELL WITH THE SIMPLEST MOBILE E-COMMERCE PLATFORM IN THE WORLD
         </span>
        <span class="body1 padding-bottom-16">
          SIGN UP IN TWO CLICKS
         </span>

        <span class="headline padding-bottom-20">SIGN UP IN TWO CLICKS</span>
        <span class="body1 padding-bottom-16">Your registration with us is newsletter-free.
We will only email you the relevant information, such as when your customer sends you a message in a sales order, or when you publish a catalog.</span>
        <span class="headline padding-bottom-20">FINE-TUNE YOUR POINT OF SALE WORKFLOW</span>
        <span class="body1 padding-bottom-16">Set up tax rates, restrict shipping destinations, define carriers, select accepted currency, configure product discounts, integrate payments.</span>
        <span class="headline padding-bottom-20">COMPOSE, PUBLISH, &amp; DISTRIBUTE YOUR PRODUCTS CATALOG</span>
        <span class="body1 padding-bottom-16">Compose a catalog by uploading catalog images and tagging them with your products. Reach your customers by sharing a published catalog on popular social media platforms.</span>
        <span class="headline padding-bottom-20">CONDUCT YOUR SALES</span>
        <span class="body1 padding-bottom-16">Track your sales, and communicate with your customers from one place.</span>
        <span class="headline padding-bottom-20">ACCESS THE GUIDE</span>
        <span class="body1 padding-bottom-16">You can always access this guide by selecting the "Guide" option located under the "Support" section of the navigation menu.</span>
        <span class="headline padding-bottom-20">BON VOYAGE</span>





    </div>
</div>
{% endblock %}
