<div class="list list-padding">
    <a target="_blank" md-ink-ripple href="https://www.reddit.com/r/miraclestyle/" class="list-row block list-row-two-lines">
        <div class="list-content-tile">
            <div class="first">Technical support</div>
            <div class="second">Discussions, FAQs, knowledge base, feature requests, and more</div>
        </div>
    </a>
    <a href="mailto:support@miraclestyle.com" md-ink-ripple target="_blank" class="list-row block list-row-two-lines">
       <div class="list-content-tile">
            <div class="first">Contact us</div>
            <div class="second">Send us an email and we'll get back to you ASAP</div>
       </div>
    </a>
</div>