<div fit-in-modal>

    <form ng-submit="save()" name="container.form">

        <div class="modal-body">

            <div ng-click="toggleMenu($event)" class="fixed-height relative overflow-x unselectable">
                <div ng-if="product.images.length" image-slider="product.images" md-ink-ripple-ignore="notRipplable" md-ink-ripple-fit class="image-slider">
                    <div ng-repeat="image in product.images track by image.key" class="image-slider-item">
                        <img class="not-pointable" slider-image="image" />
                    </div>
                </div>
                <div ng-if="!product.images.length">
                    <h1 class="no-things-available">No images available</h1>
                </div>
                <div class="catalog-closer">
                    <button md-ink-ripple loading type="button" class="button-transparent catalog-close-button button-square" ng-click="close()">
                        <icon color="white" type="navigation.close"></icon>
                    </button>
                </div>
            </div>

            <md-sidenav md-swipe-right="closeMenu()" layout="column" class="site-sidenav md-sidenav-right md-whiteframe-z2 md-closed product-sidenav" md-component-id="right_product_sidenav">
                <md-content>
                    <div>
                        <div class="product-detail-content">
                            <div class="list list-padding">
                                <div class="list">
                                    <div ng-include="'catalog/quick_info.html'"></div>
                                </div>

                                <div class="list-row list-row-three-line">
                                    <div class="list-content-tile">
                                        <h1 class="headline">{{product.name}}</h1>
                                        <span class="first">{{product._category.name}}</span>
                                        <span class="first">{{product.code}}</span>
                                    </div>
                                </div>
                                <div class="list-row list-row-one-line">
                                    <div class="list-content-tile">
                                        <span class="first">{{product.description}}</span>
                                    </div>
                                </div>
                                <div class="list list-padding seam-top seam-bottom">
                                    <div class="list-row list-row-one-line no-padding">
                                        <list-button ng-click="share()" loading><span class="first">Share</span></list-button>
                                    </div>
                                    <div ng-if="product.contents.length" ng-repeat="content in product.contents track by content.key" class="list-row list-row-one-line no-padding">
                                        <list-button ng-click="viewContent(content)">
                                            <strong class="first">{{content.title}}</strong>
                                        </list-button>
                                    </div>
                                </div>
                                <div class="product-price list-row list-row-two-lines">
                                    <div class="list-content-tile">
                                        <span class="first">{{product.unit_price|formatCurrency:catalog._seller._currency}} ({{catalog._seller._currency.code}})</span>
                                        <span class="second">{{product.availability}}</span>
                                    </div>
                                </div>
                                <div class="product-variant-selection" ng-if="variantSelection.length">
                                    <div form-builder="variantSelection"></div>
                                </div>
                                <div class="product-quantifier">
                                    <md-input-container>
                                        <label>
                                            Quantity ({{product._uom.name}})
                                        </label>
                                        <div class="product-quantity-control" layout="row">
                                            <md-button flex ng-click="decreaseQuantity()" loading="!canAddToCart" class="md-raised product-quantity-button product-quantity-button-deincrease">
                                                <icon type="content.remove"></icon>
                                            </md-button>
                                            <div class="product-quantity-input-wrapper" flex>
                                                <input class="text-input product-quantity-input" name="productQuantity" ng-required="true" ng-disabled="!canAddToCart" type="text" ng-model="productQuantity" />
                                            </div>
                                            <md-button flex ng-click="increaseQuantity()" loading="!canAddToCart" type="button" class="md-raised product-quantity-button product-quantity-button-increase">
                                                <icon type="content.add"></icon>
                                            </md-button>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div class="product-actions padding-bottom-sides-16">
                                    <md-button type="button" ng-click="addToCart()" loading="!canAddToCart || disableUpdateCart" class="md-raised">
                                        <span ng-show="hasThisProduct">Update Cart</span>
                                        <span ng-show="!hasThisProduct">Add To Cart</span>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </md-sidenav>

        </div>

</div>
</form>
</div>
