<div fit-in-modal>
    <activity-spinner z-index="high"></activity-spinner>
    <modal-loading></modal-loading>
    <form ng-submit="save()" name="container.form">
        <div class="modal-body">
           <div ng-hide="hideClose" class="top-close">
                <button md-ink-ripple-action
                        md-ink-ripple-pulsate-options="{color: true, speed: 1000}"
                        md-ink-ripple-pulsate="$state.fullyReady"
                        ripple-light
                        loading type="button"
                        class="button-transparent catalog-close-button button-square color-child-when-disabled"
                        ng-click="close()">
                    <icon color="white" type="close"></icon>
                </button>
           </div>

           <div ng-if="$state.isCompleted()" class="top-close top-close-right">
               <button md-ink-ripple-action
                       md-ink-ripple-pulsate-options="{color: true, speed: 1000}"
                       md-ink-ripple-pulsate="$state.fullyReady"
                       ripple-light
                       loading
                       type="button"
                       class="button-transparent button-square catalog-close-button color-child-when-disabled pull-right"
                       ng-click="productMenu.toggle()">
                 <icon color="white" type="info_outline"></icon>
               </button>
               <button md-ink-ripple-action
                       md-ink-ripple-pulsate-options="{color: true, speed: 1000}"
                       md-ink-ripple-pulsate="$state.fullyReady"
                       ripple-light
                       loading
                       type="button"
                       class="button-transparent button-square catalog-close-button color-child-when-disabled pull-left"
                       ng-click="displayShare()">
                 <icon color="white" type="share"></icon>
               </button>
          </div>

            <div class="fixed-height relative overflow-x unselectable">
                <div ng-show="$state.isCompleted()">
                  <div catalog-ready="$state.fullyReady" ng-class="{'swoop-from-left-finish': true}" ng-if="product.images.length && modalOptions.opened" image-slider="product.images" class="image-slider swoop-from-left">
                      <div ng-repeat="image in product.images track by image.key" class="image-slider-item">
                          <img class="not-pointable" slider-image="image" />
                      </div>
                  </div>
                  <div ng-if="!product.images.length">
                      <h1 class="no-things-available display1">No images for this product.</h1>
                  </div>
                </div>
            </div>

            <md-sidenav md-state-changed="productMenu.stateChanged" ng-if="$state.isCompleted()" md-is-open="true" md-swipe-right="productMenu.close()" layout="column" class="right wide-sidenav md-closed" md-component-id="productMenu.id">

                <md-content>
                        <div class="product-detail-content">
                                <div class="list list-padding">
                                  <div class="list-row list-row-three-line list-row-large-multiline">
                                    <div class="list-content-tile">
                                      <h1 ng-bind="product.name" class="headline"></h1>
                                      <!-- <span class="second">{{product._category.name}}</span> -->
                                      <span ng-bind="product.code" class="second padding-bottom-16"></span>
                                      <span ng-bind-html="product.description | escape | autobr" class="body1"></span>
                                    </div>
                                  </div>
                                  <div class="product-price list-row list-row-two-lines">
                                    <div class="list-content-tile">
                                      <span class="first">
                                        <span ng-bind="catalog._seller._currency.code"></span>
                                        <span ng-bind="product.unit_price|formatCurrency:catalog._seller._currency:false"></span>
                                      </span>
                                      <span ng-bind="stockText" class="second"></span>
                                    </div>
                                  </div>

                                    <div ng-repeat="variant in variants" class="list-row list-row-two-lines list-row-has-secondary no-padding">
                                        <button ng-if="!variant.allow_custom_value && variant.options.length > 1" md-ink-ripple loading ng-click="setupVariantChooser(variant, $index)" type="button" class="list-row menu-item list-content-tile list-row-is-clickable list-row-two-lines color-child-when-disabled">
                                            <span class="first ellipsis-text" ng-bind="variant.name"></span>
                                            <span class="second ellipsis-text" ng-bind="variant.option"></span>

                                             <div class="list-secondary-tile">
                                               <div class="button-square"><icon type="chevron_right"></icon></div>
                                             </div>
                                        </button>
                                        <div ng-if="!variant.allow_custom_value && variant.options.length === 1" type="button" class="list-row menu-item list-content-tile list-row-two-lines color-child-when-disabled">
                                            <span class="first ellipsis-text" ng-bind="variant.name"></span>
                                            <span class="second ellipsis-text" ng-bind="variant.option"></span>
                                        </div>
                                        <div ng-if="variant.allow_custom_value">
                                             <div form-input="variantSelection[$index]"></div>
                                        </div>
                                    </div>
                                

                                <div class="product-quantifier">
                                    <md-input-container>
                                        <label>
                                            Quantity (<span ng-bind="product._uom.name"></span>)
                                        </label>
                                        <div class="product-quantity-controls clearfix">
                                            <div class="product-quantity-control">
                                                <md-button ripple-action md-ink-ripple-click="true" ng-click="decreaseQuantity()" loading="!canAddToCart" class="product-quantity-button product-quantity-button-deincrease button-square color-child-when-disabled">
                                                    <icon type="remove"></icon>
                                                </md-button>
                                            </div>
                                            <div class="product-quantity-input-wrapper">
                                                <input ng-change="changedQuantity()" loading class="text-input product-quantity-input display1" name="productQuantity" min="0" ng-required="true" ng-disabled="!canAddToCart" type="numeric" ng-model="productManager.quantity" />
                                             
                                            </div>
                                            <div class="product-quantity-control">
                                                <md-button ripple-action md-ink-ripple-click="true" ng-click="increaseQuantity()" loading="!canAddToCart || !quantityIncrement" type="button" class="product-quantity-button product-quantity-button-increase button-square color-child-when-disabled">
                                                    <icon type="add"></icon>
                                                </md-button>
                                            </div>
                                        </div>
                                        <div ng-messages="container.form.productQuantity.$error">
                                          <div ng-message="required">Quantity must be greater than 0!</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div class="clearfix button-set list-row list-row-one-line list-content-tile">
                                    <md-button type="button" ng-click="addToCart()" loading="disableUpdateCart">
                                        <span ng-show="hasThisProduct">Update Cart</span>
                                        <span ng-show="!hasThisProduct">Add To Cart</span>
                                    </md-button>
                                </div>
                            </div>
                            </div>
                </md-content>
            </md-sidenav>

 
            <md-sidenav ng-if="$state.isCompleted()" md-swipe-right="variantMenu.close()" 
                        layout="column" 
                        class="right md-closed variant-sidenav" 
                        md-component-id="variantMenu.id">
                <md-content>
                    <div ng-if="!variantChooser.allow_custom_value" class="list seam-bottom list-padding word-break-word">
                         <div class="list-row list-row-two-lines">
                             <div class="list-content-tile">
                                 <span class="first" ng-bind="variantChooser.name"></span>
                                 <span class="second" ng-bind="variantChooser.description"></span>
                             </div>
                         </div>
                    </div>
                    <div ng-if="variantChooser.allow_custom_value" class="list list-padding">
                         <div form-input="variantSelection[variantChooser.indice]"></div>
                    </div>
                    <div ng-if="!variantChooser.allow_custom_value" class="list list-padding">
                         <button 
                            ng-repeat="opt in variantChooser.options"
                            type="button" 
                            md-ink-ripple 
                            loading 
                            class="list-row list-row-is-clickable menu-item first list-content-tile block" 
                            ng-class="{'list-row-is-active': variantChooser.option === opt}" 
                            ng-click="completeVariantChooser(opt)"
                            ng-bind="opt"> </button>
                    </div>
                </md-content>
            </md-sidenav>

            <div ng-include="'core/social/sidenav.html'"></div>
        </div>

</div>
</form>
</div>
