<div fit-in-modal>
    <modal-loading></modal-loading>
    <form ng-submit="save()" name="container.form">
        <div class="modal-body">
           <div ng-hide="hideClose" class="top-close">
                <button md-ink-ripple-action
                        ripple-light
                        loading type="button"
                        class="button-transparent catalog-close-button button-square"
                        ng-click="close()">
                    <icon color="white" type="close"></icon>
                </button>
           </div>

           <div ng-if="$state.isCompleted()" class="top-close top-close-right">
               <button md-ink-ripple-action
                       ripple-light
                       loading
                       type="button"
                       class="button-transparent button-square catalog-close-button"
                       ng-click="productMenu.toggle()">
                 <icon color="white" type="more_vert"></icon>
               </button>
          </div>

            <div ng-show="$state.isCompleted()" class="fixed-height relative overflow-x unselectable">
                <div ng-class="{'swoop-from-left-finish': true}" ng-if="product.images.length && modalOptions.opened" image-slider="product.images" class="image-slider swoop-from-left">
                    <div ng-repeat="image in product.images track by image.key" class="image-slider-item">
                        <img class="not-pointable" slider-image="image" />
                    </div>
                </div>
                <div ng-if="!product.images.length">
                    <h1 class="no-things-available display1">No images available</h1>
                </div>
            </div>

            <md-sidenav ng-if="$state.isCompleted()" md-is-open="true" md-swipe-right="productMenu.close()" layout="column" class="right wide-sidenav md-closed" md-component-id="productMenu.id">
                <md-content>
                        <div class="product-detail-content">
                                <div class="list seam-bottom list-padding">
                                 
                                  <div class="list-row list-row-three-line list-row-large-multiline">
                                    <div class="list-content-tile">
                                      <h1 ng-bind="product.name" class="headline"></h1>
                                      <!-- <span class="second">{{product._category.name}}</span> -->
                                      <span ng-bind="product.code" class="second padding-bottom-16"></span>
                                      <span ng-bind-html="product.description | escape | autobr" class="body1"></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="list list-padding seam-bottom">
                                    <div class="list-row list-row-one-line no-padding">
                                        <list-button ng-click="displayShare()" loading><span class="first">Share</span></list-button>
                                    </div>
                                    <div ng-if="product.contents.length" ng-repeat="content in product.contents track by content.key" class="list-row list-row-one-line no-padding">
                                        <list-button ng-click="viewContent(content)">
                                            <strong ng-bind="content.title" class="first ellipsis-text"></strong>
                                        </list-button>
                                    </div>
                                </div>
                                <div class="list list-padding">
                                <div class="product-price list-row list-row-two-lines">
                                    <div class="list-content-tile">
                                        <span class="first">
                                          <span ng-bind="product.unit_price|formatCurrency:catalog._seller._currency"></span> 
                                          <span ng-bind="catalog._seller._currency.code">()</span>
                                        </span>
                                        <span ng-bind="getAvailability()" class="second"></span>
                                    </div>
                                </div>
                                <div class="product-variant-selection" ng-if="variantSelection.length && false">
                                    <div form-builder="variantSelection"></div>
                                </div>

                                    <div ng-repeat="variant in variants" class="list-row list-row-two-lines no-padding">
                                        <button ng-if="!variant.allow_custom_value" md-ink-ripple loading ng-click="setupVariantChooser(variant, $index)" type="button" class="list-row menu-item list-content-tile list-row-is-clickable">
                                            <span class="first" ng-bind="variant.name"></span>
                                            <span class="second" ng-bind="variant.option"></span>
                                        </button>
                                        <div ng-if="variant.allow_custom_value">
                                             <div form-input="variantSelection[$index]"></div>
                                        </div>
                                    </div>
                                

                                <div class="product-quantifier">
                                    <md-input-container>
                                        <label>
                                            Quantity (<span ng-bind="product._uom.name"></span>)
                                        </label>
                                        <div class="product-quantity-controls clearfix">
                                            <div class="product-quantity-control">
                                                <md-button ripple-action ng-click="decreaseQuantity()" loading="!canAddToCart" class="product-quantity-button product-quantity-button-deincrease button-square">
                                                    <icon type="remove"></icon>
                                                </md-button>
                                            </div>
                                            <div class="product-quantity-input-wrapper">
                                                <input ng-change="changedQuantity()" class="text-input product-quantity-input display1" name="productQuantity" ng-required="true" ng-disabled="!canAddToCart" type="text" ng-model="productQuantity" />
                                             
                                            </div>
                                            <div class="product-quantity-control">
                                                <md-button ripple-action ng-click="increaseQuantity()" loading="!canAddToCart" type="button" class="product-quantity-button product-quantity-button-increase button-square">
                                                    <icon type="add"></icon>
                                                </md-button>
                                            </div>
                                        </div>
                                        <div ng-messages="container.form.productQuantity.$error">
                                          <div ng-message="required">Quantity must be greater than 0!</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <div class="clearfix button-set list-row list-row-one-line list-content-tile">
                                    <md-button type="button" ng-click="addToCart()" loading="!canAddToCart || disableUpdateCart">
                                        <span ng-show="hasThisProduct">Update Cart</span>
                                        <span ng-show="!hasThisProduct">Add To Cart</span>
                                    </md-button>
                                </div>
                            </div>
                            </div>
                </md-content>
            </md-sidenav>

 
            <md-sidenav ng-if="$state.isCompleted()" md-swipe-right="variantMenu.close()" 
                        layout="column" 
                        class="right md-closed variant-sidenav" 
                        md-component-id="variantMenu.id">
                <md-content>
                    <div ng-if="!variantChooser.allow_custom_value" class="list seam-bottom list-padding">
                         <div class="list-row list-row-two-lines">
                             <div class="list-content-tile">
                                 <span class="first" ng-bind="variantChooser.name"></span>
                                 <span class="second" ng-bind="variantChooser.description"></span>
                             </div>
                         </div>
                    </div>
                    <div ng-if="variantChooser.allow_custom_value" class="list list-padding">
                         <div form-input="variantSelection[variantChooser.indice]"></div>
                    </div>
                    <div ng-if="!variantChooser.allow_custom_value" class="list list-padding">
                         <button 
                            ng-repeat="opt in variantChooser.options"
                            type="button" 
                            md-ink-ripple 
                            loading 
                            class="list-row list-row-is-clickable menu-item first list-content-tile block" 
                            ng-class="{'list-row-is-active': variantChooser.option === opt}" 
                            ng-click="completeVariantChooser(opt)"
                            ng-bind="opt"></button>
                    </div>
                </md-content>
            </md-sidenav>
        </div>

</div>
</form>
</div>
