<form ng-submit="save()" name="update_account">
<div class="modal_body">
<div class="modal_body_inner">
	
	
	
 <div accordion vertical="true" type="navType">
  <div accordion-group heading="Account">
  	<h2 class="fieldset">General</h2>
	<div class="form_control">
		<label class="form_label">ID</label>
		<div class="form_input">
			 <div class="form_text">
			 	{{current_user.id}}
			 </div>
		</div>
	</div>
	
	<div class="form_control">
		<label class="form_label">Registered</label>
		<div class="form_input">
			 <div class="form_text">
			 	{{current_user.created}}
			 </div>
		</div>
	</div>
	
	
	<div class="form_control">
		<label class="form_label">Status</label>
		<div class="form_input">
			<div class="form_text">
				 {{current_user.state}}
			</div>
		</div>
	</div>
	
	
	<div class="form_control">
		<label class="form_label">Primary e-mail</label>
		<div class="form_input">
			<select ui-select2 ng-model="current_user.primary_email" data-placeholder="Select your primary e-mail">
				    <option ng-repeat="email in current_user.emails" value="{{email}}">{{email}}</option>
			</select>
		</div>
	</div>
	
	<h2 class="fieldset">Providers</h2>
	
	<div class="form_control">
		
		<div ng-repeat="ident in current_user.identities" class="form_control">
			<label class="form_label">{{identiy_info(ident.identity)}}</label>
			<div class="form_input">
				 <a class="button" ng-click="disAssociate(ident.identity)" href="javascript:;">
		 		    	<span ng-show="!ident.associated">Associate</span>
		 		    	<span ng-show="ident.associated">Disassociate</span>
		 		    </a>
			</div>
		</div>
		
	 
	</div>
	
	
	</div>
	
    <div accordion-group heading="Apps">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-hide="app.state == 'removed'" ng-repeat="app in apps">
					<td>{{app.name}}</td>
					<td>{{app.state}}</td>
					<td>
						<a ng-click="removeFromApp(app)" ng-hide="app.state != 'accepted'" class="button" href="javascript:;">
							Remove
						</a>
						
						<span ng-hide="app.state != 'invited'">
							
							<a ng-click="acceptApp(app)" class="button" href="javascript:;">
								Accept
							</a>
							
							<a ng-click="declineApp(app)" class="button" href="javascript:;">
								Decline
							</a>
							
						</span>
						
					</td>
				</tr>
			</tbody>
		</table>
    </div>
	
	</div>
	  
  </div>
 
 
</div>

<div class="modal_footer">
 
	<button busy="Loading.." class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>