<form ng-submit="save()" name="update_account">
<div class="modal-body">
	
	
  <div tabset over_heading="Account Management" vertical="true" type="navType">
    <div tab heading="Account">
  
  	<h2 class="fieldset">General</h2>
	<div class="form_control">
		<label class="form_label">ID</label>
		<div class="form_input">
			 <div class="form_text">
			 	{{user.id}}
			 </div>
		</div>
	</div>
	
	<div class="form_control">
		<label class="form_label">Registered</label>
		<div class="form_input">
			 <div class="form_text">
			 	{{user.created}}
			 </div>
		</div>
	</div>
	
	
	<div class="form_control">
		<label class="form_label">Status</label>
		<div class="form_input">
			<div class="form_text">
				 {{user.state}}
			</div>
		</div>
	</div>
	
	
	<div class="form_control">
		<label class="form_label">Primary e-mail</label>
		<div class="form_input">
			<select ui-select2 ng-model="user.primary_email" data-placeholder="Select your primary e-mail">
				    <option ng-repeat="email in user.emails" value="{{email}}">{{email}}</option>
			</select>
		</div>
	</div>
	
	<h2 class="fieldset">Providers</h2>
	
	<div class="form_control">
		 <ul class="no_style">
		 		<li ng-repeat="ident in user.identities">
		 		   <strong>{{identiy_info.get(ident.identity)}}</strong>
		 		    <a class="button" ng-click="disAssociate(ident.identity)" href="javascript:;">
		 		    	<span ng-show="!ident.associated">Associate</span>
		 		    	<span ng-show="ident.associated">Disassociate</span>
		 		    </a>
		 	    </li>
		 </ul>
	</div>
	
	
	
	</div>
    <div tab heading="Domains">Vertical content 2</div>
  </div>
 
 
</div>

<div class="modal-footer">
	<button busyMessage="Loading.." class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>
</form>