<form name="manage_app" ng-submit="save()">
<div scroll-end class="modal-body scrollable">
<div class="modal-body-inner">
	

<h2 class="fieldset">General</h2>

    <div ng-hide="!app.id">
	<div class="form-control">
		<label class="form-label">ID</label>
		<div class="form-input">
			 <div class="form-text">
			 	{{app.id}}
			 </div>
		</div>
	</div>
	
	<div class="form-control">
		<label class="form-label">Registered</label>
		<div class="form-input">
			 <div class="form-text">
			 	{{app.created|date:DATE_FULL}}
			 </div>
		</div>
	</div>
	
	
	<div class="form-control">
		<label class="form-label">Status</label>
		<div class="form-input">
			<div class="form-text">
				 {{app.state}}
			</div>
		</div>
	</div>
	
	</div>
	
	
    <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input ng-disabled="!rule.field.name.writable" ng-required="rule.input[action].name.required" class="text-input" type="text" ng-model="app.name" />
			</div>
		</div>
	</div>
	
	 
	<div class="form-control">
		<label class="form-label">Primary Contact</label>
		<div class="form-input">
			<select ng-disabled="!rule.field.primary_contact.writable" 
				    ng-required="rule.input[action].primary_contact.required"
				    ui-select2 ng-model="app.primary_contact" data-placeholder="Select primary contact for this App">
				    
				    <option value="{{app.primary_contact}}">{{app.primary_contact_email}}</option>
			</select>
		</div>
	</div>	 
	 
	
	<div ng-show="rule.field.history.writable" class="form-control">
		<div ng-include="logic_template('srv/log', 'logs.html')"></div>
	</div>
	
 
</div>
</div>

<div class="modal-footer">
	
	<button busy ng-click="sudo()" type="button" class="button" ng-show="rule.action.executable.sudo">
		Administer
	</button>
	
	<button busy ng-click="suspend()" type="button" class="button" ng-show="rule.action.executable.suspend">
		Suspend
	</button>
	
	<button busy ng-click="activate()" type="button" class="button" ng-show="rule.action.executable.activate">
		Activate
	</button>
 
	<button ng-show="rule.action.executable.update" busy class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>