<h1 class="fieldset with-button">
	<span class="fieldset-text">Enterprise Apps</span>
	<span class="fieldset-button"><a class="button" busy ng-click="createApp()">New App</a></span>
</h1>
<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th>Manage</th>
					<th>Membership</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="app in apps">
					<td>{{app.domain.name}}</td>
					<td>{{app.domain.state}}</td>
					<td>
						<button ng-show="app.user.state == 'accepted'" class="button" type="button">
							Launch
						</button>
						<button ng-show="app.domain.rule.executable.update" busy ng-click="updateApp(app.domain)" class="button">
							Edit
						</button>
					</td>
					<td>
						<span ng-show="app.domain.primary_contact != current_user.key">
							<button ng-show="app.user.state == 'accepted'" busy ng-click="removeFromApp(app)" class="button" type="button">
									Remove
							</button>
							
							<span ng-show="app.user.state != 'accepted'">
								<button busy ng-click="acceptApp(app)" class="button" type="button">
									Accept
								</button>
								<button busy ng-click="declineApp(app)" class="button" type="button">
									Decline
								</button>
							</span>
						</span>
						
						<span ng-show="app.domain.primary_contact == current_user.key">Owner</span>
						
					</td>
				</tr>
			</tbody>
</table>