<h1 class="fieldset with-button">
	<span class="fieldset-text">Enterprise Apps</span>
	<span class="fieldset-button"><a class="button" busy ng-click="createApp()">New App</a></span>
</h1>
<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Status</th>
					<th>Membership</th>
					<th>Manage</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="app in apps">
					<td>{{app.domain.name}}</td>
					<td>{{app.domain.state}}</td>

					<td>
			 
							<button ng-show="app.user.state == 'accepted' && app.user.rule.action.remove.executable" busy ng-click="removeFromApp(app)" class="button" type="button">
									Remove
							</button>
							
							<span ng-show="app.user.state != 'accepted'">
								<button busy ng-click="acceptApp(app)" class="button" type="button">
									Accept
								</button>
								<button busy ng-click="declineApp(app)" class="button" type="button">
									Decline
								</button>
							</span>
					 
						
						<span ng-show="!app.user.rule.action.remove.executable">Owner</span>
						
					</td>
					
					<td>
						<button ui-sref="app_view({app_id : app.domain.key})" ng-show="app.user.state == 'accepted'" class="button" type="button">
							Launch
						</button>
						<button ng-show="app.domain.rule.action.update.executable || app.domain.rule.action.sudo.executable || app.domain.rule.action.log_message.executable || app.domain.rule.action.activate.executable || app.domain.rule.action.suspend.executable"
						        busy ng-click="updateApp(app.domain)" class="button">
							Edit
						</button>
					</td>
				</tr>
			</tbody>
</table>