<div ng-click="select.open($event)" md-ink-ripple-list class="as-md-input select-box clearfix">
    <div class="selected-item ellipsis-text">
        <span ng-if="select.item && !select.multiple">
            <span class="selected-item">{{select.view(select.item)}}</span>
        </span>

        <span ng-if="select.item && select.multiple">
            <span class="select-item-multiple" ng-repeat="it in select.item">{{select.view(it)}}</span>
        </span>

        <span ng-if="!select.item">
            <span class="select-item-placeholder">{{select.placeholder}}</span>
        </span>

    </div>
    <div class="select-icon">
        <icon type="navigation.arrow_drop_down"></icon>
    </div>
</div>
