<form ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
  
  	
    <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="name" ng-required="true" class="text-input" type="text" ng-model="filter.name" />
			</div>
		</div>
	</div>
	 
    <div class="form-control">
		<label class="form-label">Kind</label>
		<div class="form-input">
			<select name="kind" ng-required="true" ui-select2 ng-model="filter.kind" data-placeholder="Select a kind">
					<option value=""></option>
				    <option ng-repeat="(kind_key, kind) in kinds" value="{{kind_key}}">{{kind}}</option>
			</select>
		</div>
	</div>
	
   <div class="form-control">
		<label class="form-label">Query</label>
		<div class="form-input">
			<div class="form-text">
				 <textarea name="query" ng-required="true" class="text-input" ng-model="filter.query"></textarea>
			</div>
		</div>
	</div>
	  
</div>
 
  
</div>

<div class="modal-footer">
 
	<button busy class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>