<form name="container.main" ng-show="!search.hide" ng-submit="search.submitSearch()">
    <br />
<div class="form-control">
	<label class="form-label">Kind</label>
	<div class="form-input">
		<select ng-change="search.changeKindUI()" name="search_kind" ng-required="true" ui-select2 ng-model="search.kind" data-placeholder="Select kind to search">
			    <option></option>
			    <option ng-repeat="(kind_key, kind) in FRIENDLY_KIND_NAMES" value="{{kind_key}}">{{kind}}</option>
		</select>
	</div>
</div>
	
<div ng-show="search.kind != null" class="form-control">	
 
	    <label class="form-label">Search Options</label>
        <div class="form-input">
            <select ng-change="search.makeFilters()" name="search_index_type" ng-required="true" ui-select2 ng-model="search.index_id" data-placeholder="Select index">
                    <option></option>
                    <option ng-repeat="ind in search.indexes track by $index" value="{{$index}}">{{ind|show_friendly_index_name}}</option>
            </select>
        </div>
 
</div>


<div ng-show="search.index_id != null && search.send.filters.length" class="form-control">
	<label class="form-label">Filters</label>
	<div class="form-input">
		 <table class="table2">
		 	<tbody>
		 		
		 		<tr ng-repeat="search_filter in search.send.filters track by $index">
		 			<td class="c25 cpr10">
		 				 {{search_filter.field}}
		 			</td>
		 			<td class="c25 cpl10">
		 				<select name="search_filter_op" 
		 				        ng-required="search.index_id != null && search.send.filters.length" 
		 				        ng-change="search.changeOperator()" ui-select2 ng-model="search_filter.operator" 
		 				        data-placeholder="Select operator for field">
							    <option></option>
							    <option ng-repeat="op in search.indexes[search.index_id].filters[$index][1] track by $index" value="{{op}}">{{op}}</option>
						</select>
		 			</td>
		 			<td class="c25 cpl10">
		 				<input name="search_filter_value" ng-required="search.index_id != null && search.send.filters.length" class="text-input" type="text" ng-model="search_filter.value" />
		 			</td>
		 		 
		 		</tr>
		 		
		 	</tbody>
		 </table>
	 
	</div>
</div>

<div ng-show="search.index_id != null">
    
    <div ng-repeat="order in search.send.orders track by $index">
    <div class="form-control">
    	<label class="form-label">Order by</label>
    	<div class="form-input">{{order.field}}</div>
	</div>
	
	<div ng-show="order._index != null" class="form-control">
    	<label class="form-label">Direction</label>
        <div class="form-input">
            <select name="search_order_by_dir" ng-required="search.index_id != null && order._index != null" ui-select2 ng-model="order.operator" data-placeholder="Select direction">
                 <option></option>
                  <option ng-repeat="op in search.indexes[search.index_id].orders[order._index][1] track by $index" value="{{op}}">{{op}}</option>
            </select>
        </div>
    </div>
	
	</div>
</div>

 


<div class="form-control">
	<label class="form-label"></label>
	<div class="form-input">
		<button class="button block" type="submit">Search</button>
	</div>
</div>
 
</form>