{{val.name}}<br ng-if="notEmpty(val.name)" />
{{val.street}}<br ng-if="notEmpty(val.street)" />
{{val.city}} {{val._region.name}} {{val.postal_code}}
<br ng-if="notEmpty(val.city) || notEmpty(val._region.name) || notEmpty(val.postal_code)" />
{{val._country.name}}<br ng-if="notEmpty(val._country.name)" />
{{val.email}}<br ng-if="notEmpty(val.email)" />
{{val.telephone}}<br ng-if="notEmpty(val.telephone)" />
<div ng-if="val.default_billing || val.default_shipping">
    (<span ng-if="val.default_billing">Default Billing</span><span ng-if="val.default_billing &&  val.default_shipping">&amp;</span><span ng-if="val.default_shipping">Default Shipping</span>)
</div>