<div ng-form="share.form">

        <div class="list seam-bottom list-padding">
            <div class="social-grid">
                <button ng-click="share.share(soc)" type="button" ng-repeat="soc in share.socials" class="social-grid-item" md-ink-ripple>
                    <div class="social-grid-item-line">
                        <div class="socicon-{{share.getIcon(soc)}}"></div>
                    </div>
                </button>
            </div>
        </div>

        <div ng-if="share.link.enabled" ng-class="{'seam-bottom': share.embed.enabled}" class="list list-padding">
            <div class="list-subheader subheader">Link</div>
            <div form-builder="share.link.fields"></div>
        </div>

        <div ng-if="share.embed.enabled" class="list list-padding">
            <div class="list-subheader subheader">Embed</div>
            <div form-builder="share.embed.fields"></div>
        </div>

</div>
