<div fit-in-modal>
    <modal-loading toolbar="true"></modal-loading>
    <div ng-form="container.form" class="modal-body">
        <div class="top-close">
                <button md-ink-ripple-action loading type="button" class="button-transparent button-square catalog-close-button" ng-click="close()">
                    <icon type="close"></icon>
                </button>
        </div>
        <div class="fixed-height relative overflow-auto-y">

            <div ng-if="$state.isCompleted()" class="modal-body-inner">
                <div class="list seam-bottom list-padding">
                    <div class="social-grid">
                        <button ng-click="share(soc)" type="button" ng-repeat="soc in socials" class="social-grid-item" md-ink-ripple>
                            <div class="social-grid-item-line">
                                <img class="social-icon" ng-src="{{getIcon(soc)}}">
                            </div>
                        </button>
                    </div>
                </div>

                <div ng-if="link.enabled" ng-class="{'seam-bottom': embed.enabled}" class="list list-padding">
                    <div class="list-subheader subheader">Link</div>
                    <div form-builder="link.fields"></div>
                </div>

                <div ng-if="embed.enabled" class="list list-padding">
                    <div class="list-subheader subheader">Embed</div>
                    <div form-builder="embed.fields"></div>
                </div>

            </div>
        </div>
    </div>
</div>
