<div ng-class="{'structured-field-repeated' : config.repeated, 'field-with-label': config.ui.label}" class="image-field structured-field">
      <% if (config.repeated) { %>


      <% if (config.ui.label !== false) { %>
          
      
      <h2 class="fieldset with-button">
        <span class="fieldset-text"><%= config.ui.compiled.label %></span>
        <span class="fieldset-button">
           <div loading="!<%= config.ui.writableCompiled %>" class="button fake-button">
               <span>Add Images <span ng-show="$isUploading">(Uploading...)</span></span>
               <input ng-show="<%= config.ui.writableCompiled %>" class="upload" name="<%= config.ui.formName %>"
                       multiple
                       generate-upload-url="true"
                       type="file" />
           </div>
        </span>
      </h2>
      
      <% } else { %>


      <div class="clearfix buttons">
        <div class="pull-right">
           <div loading="!<%= config.ui.writableCompiled %>" class="button fake-button">
               <span>Add Images <span ng-show="$isUploading">(Uploading...)</span></span>
               <input ng-show="<%= config.ui.writableCompiled %>" class="upload" name="<%= config.ui.formName %>"
                       multiple
                       generate-upload-url="true"
                       type="file" />
           </div>
        </div>
      </div>
       
      <% } %>

 
      <div ui-sortable="config.ui.specifics.sortableOptions" 
           fancy-grid-generator="config.ui.specifics.parentArgs" 
           ng-model="config.ui.specifics.parentArgs" class="clearfix grid-wrapper">
           
          <div ng-class="{'no-move': config.ui.specifics.sortableOptions.disabled}" on-ng-repeat-end ng-repeat="image in config.ui.specifics.parentArgs"
               ng-hide="image._state == 'deleted'"
               class="image-image grid-item">
               
                <div class="img spaceout">
                  <img display-image-config="config.ui.specifics.displayImageConfig" display-image="image" />
                </div>
                
                <div class="button-wrapper">
                  <button loading="!<%= config.ui.writableCompiled %>" type="button"
                          class="button" 
                          ng-click="config.ui.specifics.remove(image)">Remove</button>
                </div>
          </div>
      </div>
      
      <% if (config.ui.specifics.remote) { %>
            <div load-more-button="config.ui.specifics.reader"></div>
      <% } %>
      
      <% } else { %>
        
        <div form-element-wrapper label="<%= config.ui.compiled.label %>">
          <div><input ng-show="<%= config.ui.writableCompiled %>" name="<%= config.ui.formName %>"
                       generate-upload-url
                       type="file" /></div>
                       <br />
          <div>
            <img display-image-config="config.ui.specifics.displayImageConfig" display-image="<%= config.ui.args %>" />
          </div>
        </div>
 
      <% }  %>
</div>