 
<div class="structured-field">
 
    <div class="clearfix buttons">
    <div class="pull-right">
      <button ng-disabled="!<%= config.ui.writableCompiled %>" loading type="button" class="button" ng-click="config.ui.specifics.manage()">
        Add Plugin
      </button>
    </div>
  </div>
 
    <table class="table">
          <thead>
            <tr> 
              <th>Name</th>
              <th>Active</th>
              <th>Type</th>
              <th></th>
              <!-- what else to put here? -->
            </tr>
          </thead>
          <tbody ui-sortable="config.ui.specifics.sortableOptions" 
          ng-model="config.ui.specifics.parentArgs">
            <tr ng-repeat="ent in config.ui.specifics.parentArgs">
              <td>
                {{ent.name}}
              </td>
              <td>
                {{ent.active}}
              </td>
              <td>
                {{config.ui.specifics.showType(ent.kind)}}
              </td>
              <td>
                <button ng-show="<%= config.ui.writableCompiled %>" ng-click="config.ui.specifics.remove(ent)" type="button" class="button">Remove</button>
                <button ng-show="<%= config.ui.writableCompiled %>" ng-click="config.ui.specifics.manage(ent)" type="button" class="button">Edit</button>
              </td>
            </tr>
          </tbody>
    </table>
 
</div>
