<div form-element-wrapper label="<%= config.ui.compiled.label %>">
       <ui-select name="<%= config.ui.formName %>" theme="select2" 
          <%= config.ui.compiled.attrs %> <% if (config.repeated) { %>multiple<% } %>>
          <ui-select-match placeholder="{{config.ui.placeholder}}">
          <% if (config.repeated) { %>
            {{$item}}
          <% } else { %>
            {{$select.selected}}
          <% } %>
          </ui-select-match>
          <ui-select-choices repeat="choice in config.choices | filter:$select.search">
            {{choice}}
          </ui-select-choices>
        </ui-select>
 
</div>