<div class="form-control">
    <label class="form-label">
      <%= config.ui.compiled.label %>
    </label>
    <div class="form-input">
      <div class="form-text">
       <ui-select name="<%= config.ui.name %>"  placeholder="Select..." theme="select2" 
          <%= config.ui.compiled.attrs %> <% if (config.repeated) { %>multiple<% } %>>
          <ui-select-match placeholder="Select...">
          <% if (config.repeated) { %>
            {{$item}}
          <% } else { %>
            {{$select.selected}}
          <% } %>
          </ui-select-match>
          <ui-select-choices repeat="choice in config.choices | filter:$select.search">
            {{choice}}
          </ui-select-choices>
        </ui-select>
  
        
      </div>
    </div>
</div>