<form name="container.main" ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
  
  <h2 class="fieldset">
     <span class="fieldset-text">General</span>
  </h2>
   
    <div class="form-control">
        <label class="form-label">Code</label>
        <div class="form-input">
            <div class="form-text">
                 <input ng-disabled="!rule.field._code.writable" name="_code" ng-required="rule.input[action]._code.required" class="text-input" type="text" ng-model="entity._code" />
            </div>
        </div>
    </div>
  
    <div class="form-control">
        <label class="form-label">Parent</label>
        <div class="form-input">
            <input name="parent_record" 
                   ng-required="rule.input[action].parent_record.required" 
                   ng-disabled="!rule.field.parent_record.writable" 
                   ui-select2="commonSelect2Options.transaction_category"
                   ng-model="entity.parent_record"
                   data-placeholder="Select parent for this category" />
        </div>
    </div>

    
    <div class="form-control">
        <label class="form-label">Name</label>
        <div class="form-input">
            <div class="form-text">
                 <input ng-disabled="!rule.field.name.writable" name="name" ng-required="rule.input[action].name.required" class="text-input" type="text" ng-model="entity.name" />
            </div>
        </div>
    </div>
    
    <div class="form-control">
        <label class="form-label">Description</label>
        <div class="form-input">
            <div class="form-text">
                 <textarea ng-disabled="!rule.field.description.writable" 
                           name="description" 
                           ng-required="rule.input[action].description.required" 
                           class="text-input" ng-model="entity.description"></textarea>
            </div>
        </div>
    </div>
      
    <div class="form-control">
        <label class="form-label">Active</label>
        <div class="form-input">
            <div class="form-text">
                 <button toggle ng-disabled="!rule.field.active.writable" class="button" type="button" ng-model="entity.active"></button>
            </div>
        </div>
    </div>
 
    <div ng-show="rule.field._records.visible && history && entity.id" class="form-control">
        <div ng-include="logic_template('misc/logs.html')"></div>
    </div>   
     

</div>
 
  
</div>

<div class="modal-footer">
 
    <button ng-show="rule.action[action].executable" busy class="button">
        Save
    </button>
    <button type="button" class="button" ng-click="cancel()">
        Cancel
    </button>
</div>


</form>