{% extends 'base.html' %}

{% block body %}
<span>
  Here is the list of recently published catalogs from the sellers that you are following:
</span><br/><br/>
{% for seller_key in published_catalogs %}
{% for entity in published_catalogs[seller_key].catalogs %}
<div>
  <a href="{{absolute_url('catalog/%s' % entity.key_urlsafe)}}" style="display: block;">
    <img class="image" src="{{entity.cover}}"
    style="display: block; position: relative; box-sizing: border-box; margin: 0px; padding: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width:240px; height: 240px;">
  </a>
  <a href="{{absolute_url('seller/%s' % seller_key.urlsafe())}}" style="display: block;">
    <img class="image" src="{{entity.seller_logo}}"
    style="display: block; position: relative; box-sizing: border-box; margin: 0px; padding: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width:240px; height: 100px;">
  </a>
</div>
{% endfor %}
{% endfor %}
<br/><br/>
<span>
  You received this message because you have opted to receive emails
  when catalogs are published or discontinued by the sellers that you are following.
</span><br/><br/>
<span>To stop receiving this message in the future follow these steps:</span><br/><br/>
<span>- navigate to the "Buyer / Following" section of the <a href="{{absolute_url('')}}">Miraclestyle app</a>;</span><br/>
<span>
  - uncheck the checkbox "Receive email notifications when a catalog is published or discontinued by the seller that you are following."
</span>
{% endblock %}