
{% extends 'base.html' %}

{% block body %}
<span>
  Here is the list of recently published catalogs by the sellers that you follow on Miraclestyle:
</span><br/>
<span>
  "<a href="https://www.miraclestyle.com/catalog/{{entity.key_urlsafe}}">{{entity.name|safe}}</a>" 
  published by "<a href="https://www.miraclestyle.com/seller/{{entity.key_parent.key_urlsafe}}">{{entity._seller.name|safe}}</a>"
</span><br/>
<span>
  Here is the list of recently discontinued catalogs by the sellers that you follow on Miraclestyle:
</span><br/>
<span>
  "<a href="https://www.miraclestyle.com/catalog/{{entity.key_urlsafe}}">{{entity.name|safe}}</a>" 
  discontinued by "<a href="https://www.miraclestyle.com/seller/{{entity.key_parent.key_urlsafe}}">{{entity._seller.name|safe}}</a>"
</span><br/>
<span>
  You are receiving this message because you have opted to receive emails  
  when catalogs are published or discontinued by the sellers that you are following. 
  To stop receiving this message navigate to the "Buyer / Following" section of 
  "<a href="https://www.miraclestyle.com/">Miraclestyle app</a>", and uncheck the checkbox 
  "Email me when a catalog is published or discontinued by the seller that I'm following.".
</span><br/>
{% endblock %}