<div class="fitter" fit-in-dialog>
<form name="container.form" ng-submit="save()" method="post" action="{{container.action}}">
 
  <div class="modal-body unscrollable">
  <div class="modal-body-inner-padded">
        <div form-builder="fields"></div>
    </div>
 
  </div>

  <div class="modal-footer">
 
     
      <button loading type="button" ng-click="save()" class="button">Save</button>
      <button loading type="button" class="button" ng-click="close()">Close</button>
 
  </div>
  
      
  </div>
 
</form>
</div>