<button ng-show="args.ui.rule.action.sudo.executable && args.action_id != 'create'" loading type="button" ng-click="actions.sudo()" class="button">Administer</button>
<button ng-show="args.ui.rule.action.publish.executable && args.action_id != 'create'" loading type="button" ng-click="actions.publish()" class="button">Publish</button>
<button ng-show="args.ui.rule.action.discontinue.executable" loading type="button" ng-click="actions.discontinue()" class="button">Discontinue</button>
<button ng-show="args.ui.rule.action.catalog_duplicate.executable" loading type="button" ng-click="actions.duplicate()" class="button">Duplicate</button>

<button loading type="button" submit-if-files-no-complete="noComplete()" submit-if-files="save()" class="button">Save</button>
<button ng-show="config.showClose" loading type="button" class="button" ng-click="close()">Close</button>
