<div class="fitter" fit-in-dialog>
<form name="container.form" method="post" action="{{container.action}}">
 
  <div class="modal-body unscrollable">
  <div class="clearfix">
 
      <div class="catalog-slider-outer">
         <div catalog-slider-load-more="loadMoreImages(callback)" catalog-slider="images" class="catalog-slider"> 
             <div ng-repeat="image in args._images track by $index" class="catalog-slider-item">
             <img catalog-slider-image="image" /> 
             <div ng-repeat="pricetag in image.pricetags track by $index"
                  catalog-pricetag-position="pricetag">
                   <a class="pricetag-link" loading standard-click="viewProduct(image, pricetag)" href="javascript:;">{{pricetag.value.price|currency:catalog._seller._currency.symbol:catalog._seller._currency.isAfter}}</a>
              </div>
            </div>
            <div class="catalog-view-seller-logo" ng-if="$last">
               <a ng-click="sellerDetails()">
                  <img display-image="catalog._seller.logo" />
               </a>
            </div>

            <div class="catalog-view-controls">
               <button loading type="button" class="button" ng-click="close()">Close</button>
            </div>

         </div>
      </div>
       
    </div>
 
  </div> 
  </div>
 
</form>
</div>