<div class="fitter" fit-in-dialog>
<form name="container.form" method="post" action="{{container.action}}">
 
  <div class="modal-body no-footer">
  <div class="clearfix">
 
      <div class="image-slider-outer">
         <div image-slider-load-more="loadMoreImages(callback)" image-slider="catalog._images" class="image-slider"> 
             <div ng-repeat="image in catalog._images track by $index" class="image-slider-item">
             <img slider-image="image" /> 
             <div ng-repeat="pricetag in image.pricetags track by $index"
                  class="button catalog-pricetag"
                  catalog-pricetag-position="pricetag">
                  <div class="catalog-pricetag-wrapper">
                      <div class="catalog-pricetag-dot"></div>
                   <a class="catalog-pricetag-link" loading ng-click="viewProduct(image, pricetag)" href="javascript:;">
                      {{pricetag.value.price|displayCurrency:catalog._seller._currency}}
                   </a>
                   </div>
              </div>
            </div>
           
          <div catalog-view-menu class="catalog-view-menu-wrap">
              <div class="catalog-view-menu">
                  <a class="catalog-view-menu-icon" ng-click="menu.toggle()">
                      <div class="catalog-view-menu-icon-bar"></div>
                      <div class="catalog-view-menu-icon-bar"></div>
                      <div class="catalog-view-menu-icon-bar"></div>
                  </a>
              </div>
              <div class="catalog-view-menu-content">
                  <div class="catalog-view-menu-content-inner">
                      <div ng-if="menu.init">
                          <div class="menu-catalog-name">{{catalog.name}}</div>
                          <div class="menu-catalog-expire-time">
                              Expires in
                              <timer end-time="catalog.discontinue_date">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
                          </div>

                          <ul class="menu-catalog-items clearfix">
                              <li class="menu-catalog-item">
                                  <a ng-click="sellerDetails()">
                                     <img class="seller-logo" display-image-config="logoImageConfig" display-image="catalog._seller.logo" />
                                  </a>
                              </li>
                              <li class="menu-catalog-item">
                                  <button type="button" ng-click="displayCart()" class="button block">Cart</button>
                              </li>
                              <li class="menu-catalog-item">
                                  <button type="button" class="button block">Share</button>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>


            <div catalog-close-button-position class="catalog-view-controls">
               <button loading type="button" class="button" ng-click="close()">Close</button>
            </div>
         </div>

      </div>
       
    </div>
 
  </div> 
  </div>
</form>
</div>