<div class="fitter" fit-in-dialog>
<form name="container.form" method="post" action="{{container.action}}">
 
  <div class="modal-body no-footer">
  <div class="clearfix">
 
      <div class="image-slider-outer">
         <div image-slider-load-more="loadMoreImages(callback)" image-slider="catalog._images" class="image-slider"> 
             <div ng-repeat="image in catalog._images track by $index" class="image-slider-item">
             <img slider-image="image" /> 
             <div ng-repeat="pricetag in image.pricetags track by $index"
                  class="button catalog-pricetag"
                  catalog-pricetag-position="pricetag">
                  <div class="catalog-pricetag-wrapper">
                      <div class="catalog-pricetag-dot"></div>
                       <button type="button" class="button-transparent catalog-pricetag-link" loading ng-click="viewProduct(image, pricetag)">
                          {{pricetag.value.price|displayCurrency:catalog._seller._currency}}
                       </button>
                   </div>
              </div>
            </div>

         </div>


        <div catalog-button-bottom-floater-position class="catalog-view-controls">
           <button loading type="button" class="button" ng-click="close()">Close</button>
        </div>

      </div>


      <span catalog-view-menu class="catalog-view-menu-wrap">
          <div class="catalog-view-menu">
              <a class="catalog-view-menu-icon" ng-click="menu.toggle()">
                  <div class="catalog-view-menu-icon-bar"></div>
                  <div class="catalog-view-menu-icon-bar"></div>
                  <div class="catalog-view-menu-icon-bar"></div>
              </a>
          </div>
          <div class="catalog-view-menu-content">
              <div class="catalog-view-menu-content-inner">
                  <!-- ng-if="menu.init" lazy loading can be achieved with ng-if -->
                      <div ng-include="'catalog/quick_info.html'"></div>

                      <ul class="catalog-view-menu-items menu clearfix">
                          <li class="catalog-view-menu-item">
                              <button type="button" class="button-transparent" loading ng-click="sellerDetails()">
                                 <img class="seller-logo" display-image-config="logoImageConfig" display-image="catalog._seller.logo" />
                              </button>
                          </li>
                          <li class="catalog-view-menu-item">
                              <button loading type="button" ng-click="displayCart()" class="button block">Cart</button>
                          </li>
                          <li class="catalog-view-menu-item">
                            <button loading type="button" ng-click="displayShare()" class="button block">Share</button>
                            <!-- These sharing items are replaced with the Share button for now!
                              <div class="catalog-view-menu-social-item">
                                <span fb-like="social.fb.url"></span>
                              </div>
                              <div class="catalog-view-menu-social-item">
                                <span twitter="social.twitter.text" twitter-url="social.twitter.url"></span>
                              </div>
                              <div class="catalog-view-menu-social-item">
                                <span gplus="social.gplus.url"></span>
                              </div>
                              <div class="catalog-view-menu-social-item">
                                <span pin-it-image="social.pinterest.image" pin-it="social.pinterest.text" pin-it-url="social.pinterest.url"></span>
                              </div>
                            -->
                          </li>
                      </ul>
              </div>
          </div>
      </span>

       
    </div>
 
  </div> 
  </div>
</form>
</div>