md-radio-button, .md-switch-thumb {
    display: block;
    /*white-space: nowrap;*/
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 24px;
}

md-radio-button .md-icon {
    opacity: 0;
    position: absolute;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-property: opacity;
    color:rgba(0, 0, 0, 0.54);
}

md-radio-button .md-icon-radio_button_checked {
    opacity:0;
}

md-radio-button .md-icon-radio_button_unchecked {
    opacity:1;
}

.md-checked .md-icon-radio_button_checked {
    opacity:1;
}

.md-checked .md-icon-radio_button_unchecked {
    opacity: 0;
}