.progress-wrapper.progress.circular {
    cursor: default;
    padding: 8px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*text-align: center;*/
}

.ng-hide * {
    animation: none !important;
}

.progress.circular {
    padding: 6px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
}

.progress.circular.raised {
    box-shadow: 0px 1.5px 3px 0.75px rgba(0, 0, 0, 0.26);
}

@keyframes spinner {
    0% {
        transform: rotate(90deg);
    }
    40% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(450deg);
    }
}

@keyframes arc-one {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(180deg);
    }
    40% {
        transform: rotate(360deg);
    }
    70% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(540deg);
    }
}

@keyframes arc-two {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(180deg);
    }
    40% {
        transform: rotate(180deg);
    }
    70% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(540deg);
    }
}

@keyframes mask-one {
    0% {
        opacity: 1;
    }
    20%, 100% {
        opacity: 0;
    }
}

@keyframes mask-two {
    0% {
        opacity: 0;
    }
    70%, 100% {
        opacity: 1;
    }
}

.spinner {
    width: 28px;
    height: 28px;
    position: relative;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.spinner {
    animation: spinner 1.6s linear infinite;
    transform: rotate(90deg);
}

.spinner .arc {
    width: 50%;
    height: 100%;
    position: absolute;
    transform-origin: 100% 50%;
    background: rgba(117, 117, 117, 1);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    border-right: none;
}

.spinner .arc.one {
    z-index: 100;
    animation: arc-one 1.6s linear infinite;
}

.spinner .arc.two {
    z-index: 200;
    animation: arc-two 1.6s linear infinite;
}

.spinner .mask {
    width: 50%;
    height: 100%;
    background: inherit;
    position: absolute;
    opacity: 1;
    box-sizing: border-box;
}

.spinner .mask.one {
    left: 0%;
    z-index: 300;
    animation: mask-one 1.6s steps(1, end) infinite;
}

.spinner .mask.two {
    right: 0%;
    z-index: 400;
    animation: mask-two 1.6s steps(1, end) infinite;
}

.spinner .pin {
    width: 18px;
    height: 18px;
    top: 5px;
    left: 5px;
    position: absolute;
    background: inherit;
    border-radius: 50%;
    box-sizing: border-box;
    z-index: 500;
}


.vertical-loader .progress-wrapper.progress.circular {
    height: 100%;
    padding: 0px 8px;
    position: absolute;
}

.vertical-loader {
    float: left;
    width: 56px;
    height: 100%;
    display: block;
}

@keyframes top-slide-in {
    0% {
        top: -100%;
    }
    100% {
        top: 72px;
    }
}

@keyframes top-slide-out {
    0% {
        top: 72px;
    }
    100% {
        top: -100%;
    }
}

.progress-wrapper-loading.first-load .progress-wrapper, activity-spinner .progress-wrapper-loading .progress-wrapper {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0px !important;
    border-radius: inherit;
    z-index: 2;
}

activity-spinner[z-index="high"] .progress-wrapper-loading .progress-wrapper {
    z-index: 61;
}

content-spinner[toolbar="true"] .progress-wrapper-loading.first-load .progress-wrapper {
    height: calc(100% - 56px);
}

activity-spinner .progress-wrapper-loading .progress-wrapper {
    top: -100%;
    height: auto;
}

activity-spinner .progress-wrapper-loading .progress-wrapper.slide.in {
    animation-name: top-slide-in;
}

activity-spinner .progress-wrapper-loading .progress-wrapper.slide {
    animation-duration: 0.6s;
}

activity-spinner .progress-wrapper-loading .progress-wrapper.slide.out {
    animation-name: top-slide-out;
    animation-delay: 0.15s;
}

activity-spinner .progress-wrapper .progress.circular.raised {
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.8,0,1,1);
    transition-property: transform;
    transform: scale(1, 1);
}

activity-spinner .progress-wrapper-loading .progress-wrapper {
    background: none;
}

activity-spinner .progress-wrapper.slide.out .progress.circular.raised {
    transform: scale(0, 0);
}

activity-spinner[toolbar="true"] {}