.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-padding, .list-padding-one-line {
    padding-top: 8px;
    padding-bottom: 8px;
}

.list-row-is-clickable {
    cursor: pointer;
}

.list-primary-tile {
    position: absolute;
    left: 0px;
    z-index: 2;
    top: 0px;
}

.list-content-tile {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
}

.second {
    display: block;
}

.second {
    font-size: 14px;
}

.list-secondary-tile {
    position: absolute;
    right: 16px;
    z-index: 2;
}

.list-divider {
    height: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.list-subheader {
    padding: 4px 16px 12px;
}

.list-subheader--is-pushed {
    margin-left: 56px;
}

.list-row-is-clickable-and-hoverable {
    cursor: pointer;
}

.list-row {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    background: white;
}

.list-row.no-padding {
    padding: 0px;
}

.list-inline-block {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.first {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    display: block;
}

.second {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: left;
    display: block;
}

.list-row-two-lines, .list-row-two-lines .list-row {
    padding-top: 14px;
    padding-bottom: 14px;
}

.list-row-has-secondary .list-content-tile {
    padding-right: 56px;
}

.list-row-has-secondary .list-secondary-tile {
    right: 0px;
    top: 0px;
}

.list-row-has-primary .list-content-tile {
    padding-left: 72px;
}

.seam-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.seam-top {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.list-row-two-lines .list-secondary-tile {
    padding: 12px 4px;
}

.list-row-one-line .list-secondary-tile {
    padding: 0px 4px;
}

.list-row-three-lines .list-secondary-tile {
    padding: 0px 4px;
}

body .list-row-is-clickable-and-hoverable:hover, body .list-row-is-active, body .list-row-is-clickable-and-hoverable:focus {
    background: rgba(0, 0, 0, 0.08);
}

.list-row-transparent {
    background: transparent;
}

.list-row-avatar {
    padding-top: 16px;
    padding-bottom: 16px;
}

.list-subheader {
    color: rgba(0, 0, 0, 0.54);
}

.second {
    color: rgba(0, 0, 0, 0.54);
}

.avatar {
    padding: 4px 12px;
}

.avatar-small {
    padding: 0 4px;
}

.list-row-three-lines .avatar-small {
    padding-bottom: 40px;
}

.list-row-two-lines .avatar-small {
    padding: 12px 4px;
}

.list-row-two-lines .avatar {
    padding: 12px;
}

.list-row-large-multiline {
    padding-top: 24px;
    padding-bottom: 24px;
}

.list-row.list-row-has-primary.menu-item {
    padding-left: 0px;
    padding-right: 0px;
}

.list-row-multiline {
    padding-top: 16px;
    padding-bottom: 16px;
}

.modal-medium-simple .list-content-tile,
.modal-medium-simple .list-row-one-line .list-content-tile {
    padding-left: 24px;
    padding-right: 24px;
}

.modal-medium-simple .list-row-has-primary .list-content-tile {
    padding-left: 80px;
}

.modal-medium-simple .list-row-has-secondary .list-content-tile {
    padding-right: 72px;
}

.modal-medium-simple .list-row-one-line .list-secondary-tile {
    padding: 0 12px;
}

.list-row-one-line.list-row-has-avatar {
    padding-top: 16px;
    padding-bottom: 16px;
}

.modal-medium-simple .list-row-one-line.list-row-has-primary .list-content-tile, .modal-medium .list-row-one-line.list-row-has-primary .list-content-tile {
    padding-left: 80px;
    padding-right: 24px;
}

.modal-medium .list-padding-one-line {
    padding-top: 12px;
    padding-bottom: 12px;
}

.modal-medium .list-padding-one-line-subheader {
    padding-top: 8px;
    padding-bottom: 12px;
}

.modal-medium-simple .list-row-one-line.list-row-has-primary .avatar {
    padding: 4px 12px 4px 20px;
}
