
.structured-field-actions {
    padding-left: 16px;
    padding-right: 16px;
}
md-input-container .as-md-input {
    position: relative;
}

.simple-dialog-option {
    cursor: pointer;
}
.selected-item {
    padding-right: 30px;
    min-height: 26px;
}
.select-icon {
    position: absolute;
    right: 2px;
    bottom: 2px;
}
.select-box {
    cursor: pointer;
}
.select-search-input input[type="search"] {
    border: none;
    padding: 12px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 36px;
    padding-right: 36px;
}
.select-search {
    background: white;
    width: 100%;
    z-index: 11;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 44px;
}
.select-search md-input-container {
    padding-bottom: 0px;
}
.select-search-cancel-icon {
    position: absolute;
    right: 10px;
    top: 11px;
}
.select-search-search-icon {
    position: absolute;
    left: 10px;
    top: 11px;
}
span.select-item-multiple {
    display: inline-block;
    background: #EEE;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
.ui-select-highlight {
    font-weight: bold;
}

li .ui-select-highlight {
    display: inline;
}