<div>
    <div class="time-date">
    
    <div class="control clearfix">
 
        <div class="slider">
            <div class="date-control clearfix">
                <div class="title-above">
                    <div class="pager pager-prev">
                        <md-button class="button-square" squared class="t1" ng-click="calendar._incMonth(-1)" aria-label="Previous Month">
                            <icon type="navigation.chevron-left"></icon>
                        </md-button>
                    </div>
                    <div class="contain">
                        <span class="first month-part">{{date | date:'MMMM'}} {{calendar._year}}</span>
                    </div>
                    <div class="pager pager-next">
                        <md-button squared class="button-square" ng-click="calendar._incMonth(1)" aria-label="Next Month">
                            <icon type="navigation.chevron-right"></icon>
                        </md-button>
                    </div>
                </div>
                <div class="date-control-days clearfix">
                    <div class="headers">
                        <div class="day-cell">S</div>
                        <div class="day-cell">M</div>
                        <div class="day-cell">T</div>
                        <div class="day-cell">W</div>
                        <div class="day-cell">T</div>
                        <div class="day-cell">F</div>
                        <div class="day-cell">S</div>
                    </div>
                    <div class="days">
                        <md-button squared style="visibility:hidden;" ng-show="$index + 1 <= calendar.offsetMargin()" ng-repeat="i in [1,2,3,4,5,6]" ng-class="calendar.class(1)" class="day-cell">1</md-button>
                        <md-button squared ng-class="calendar.class(1)" ng-show="calendar.isVisible(1)" ng-click="calendar.select(1)" class="day-cell">1</md-button>
                        <md-button squared ng-class="calendar.class(2)" ng-show="calendar.isVisible(2)" ng-click="calendar.select(2)" class="day-cell">2</md-button>
                        <md-button squared ng-class="calendar.class(3)" ng-show="calendar.isVisible(3)" ng-click="calendar.select(3)" class="day-cell">3</md-button>
                        <md-button squared ng-class="calendar.class(4)" ng-show="calendar.isVisible(4)" ng-click="calendar.select(4)" class="day-cell">4</md-button>
                        <md-button squared ng-class="calendar.class(5)" ng-show="calendar.isVisible(5)" ng-click="calendar.select(5)" class="day-cell">5</md-button>
                        <md-button squared ng-class="calendar.class(6)" ng-show="calendar.isVisible(6)" ng-click="calendar.select(6)" class="day-cell">6</md-button>
                        <md-button squared ng-class="calendar.class(7)" ng-show="calendar.isVisible(7)" ng-click="calendar.select(7)" class="day-cell">7</md-button>
                        <md-button squared ng-class="calendar.class(8)" ng-show="calendar.isVisible(8)" ng-click="calendar.select(8)" class="day-cell">8</md-button>
                        <md-button squared ng-class="calendar.class(9)" ng-show="calendar.isVisible(9)" ng-click="calendar.select(9)" class="day-cell">9</md-button>
                        <md-button squared ng-class="calendar.class(10)" ng-show="calendar.isVisible(10)" ng-click="calendar.select(10)" class="day-cell">10</md-button>
                        <md-button squared ng-class="calendar.class(11)" ng-show="calendar.isVisible(11)" ng-click="calendar.select(11)" class="day-cell">11</md-button>
                        <md-button squared ng-class="calendar.class(12)" ng-show="calendar.isVisible(12)" ng-click="calendar.select(12)" class="day-cell">12</md-button>
                        <md-button squared ng-class="calendar.class(13)" ng-show="calendar.isVisible(13)" ng-click="calendar.select(13)" class="day-cell">13</md-button>
                        <md-button squared ng-class="calendar.class(14)" ng-show="calendar.isVisible(14)" ng-click="calendar.select(14)" class="day-cell">14</md-button>
                        <md-button squared ng-class="calendar.class(15)" ng-show="calendar.isVisible(15)" ng-click="calendar.select(15)" class="day-cell">15</md-button>
                        <md-button squared ng-class="calendar.class(16)" ng-show="calendar.isVisible(16)" ng-click="calendar.select(16)" class="day-cell">16</md-button>
                        <md-button squared ng-class="calendar.class(17)" ng-show="calendar.isVisible(17)" ng-click="calendar.select(17)" class="day-cell">17</md-button>
                        <md-button squared ng-class="calendar.class(18)" ng-show="calendar.isVisible(18)" ng-click="calendar.select(18)" class="day-cell">18</md-button>
                        <md-button squared ng-class="calendar.class(19)" ng-show="calendar.isVisible(19)" ng-click="calendar.select(19)" class="day-cell">19</md-button>
                        <md-button squared ng-class="calendar.class(20)" ng-show="calendar.isVisible(20)" ng-click="calendar.select(20)" class="day-cell">20</md-button>
                        <md-button squared ng-class="calendar.class(21)" ng-show="calendar.isVisible(21)" ng-click="calendar.select(21)" class="day-cell">21</md-button>
                        <md-button squared ng-class="calendar.class(22)" ng-show="calendar.isVisible(22)" ng-click="calendar.select(22)" class="day-cell">22</md-button>
                        <md-button squared ng-class="calendar.class(23)" ng-show="calendar.isVisible(23)" ng-click="calendar.select(23)" class="day-cell">23</md-button>
                        <md-button squared ng-class="calendar.class(24)" ng-show="calendar.isVisible(24)" ng-click="calendar.select(24)" class="day-cell">24</md-button>
                        <md-button squared ng-class="calendar.class(25)" ng-show="calendar.isVisible(25)" ng-click="calendar.select(25)" class="day-cell">25</md-button>
                        <md-button squared ng-class="calendar.class(26)" ng-show="calendar.isVisible(26)" ng-click="calendar.select(26)" class="day-cell">26</md-button>
                        <md-button squared ng-class="calendar.class(27)" ng-show="calendar.isVisible(27)" ng-click="calendar.select(27)" class="day-cell">27</md-button>
                        <md-button squared ng-class="calendar.class(28)" ng-show="calendar.isVisible(28)" ng-click="calendar.select(28)" class="day-cell">28</md-button>
                        <md-button squared ng-class="calendar.class(29)" ng-show="calendar.isVisible(29)" ng-click="calendar.select(29)" class="day-cell">29</md-button>
                        <md-button squared ng-class="calendar.class(30)" ng-show="calendar.isVisible(30)" ng-click="calendar.select(30)" class="day-cell">30</md-button>
                        <md-button squared ng-class="calendar.class(31)" ng-show="calendar.isVisible(31)" ng-click="calendar.select(31)" class="day-cell">31</md-button>
                    </div>
                </div>
            </div>
 
            <div class="time-control-wrapper">
                <div class="time-inputs clearfix">
                    <div class="t1 choicer">
                        <div class="time-control">
                            <md-button md-ink-ripple-action 
                                       ng-click="clock._incHours(1)" 
                                       aria-label="Increment Hours" 
                                       class="button-square">
                                <icon type="navigation.arrow-drop-up"></icon>
                            </md-button>
                        </div>
                        <md-input-container>
                            <input render-model-as-hours class="text display1 dial" type="text" ng-model="clock._hours">
                        </md-input-container>
                        <div class="time-control">
                            <md-button md-ink-ripple-action 
                                       ng-click="clock._incHours(-1)"
                                       aria-label="Decrement Hours" 
                                       class="button-square">
                                <icon type="navigation.arrow-drop-down"></icon>
                            </md-button> 
                        </div>
                    </div>
 
                    <div class="separator display1">:</div>

                    <div class="t3 choicer">
                        <div class="time-control">
                            <md-button md-ink-ripple-action 
                                       ng-click="clock._incMinutes(1)" 
                                       aria-label="Increment Minutes"
                                       class="button-square">
                                <icon type="navigation.arrow-drop-up"></icon>
                            </md-button>
                        </div>
                        <md-input-container>
                            <input render-model-as-hours class="text display1 dial" type="text" ng-model="clock._minutes">
                        </md-input-container>
                        <div class="time-control">
                            <md-button md-ink-ripple-action 
                                       ng-click="clock._incMinutes(-1)"
                                       aria-label="Decrement Minutes" 
                                       class="button-square">
                                <icon type="navigation.arrow-drop-down"></icon>
                            </md-button> 
                        </div>
                    </div>

                </div>
                <div ng-if="!_hours24" class="buttons">
                    <md-button class="md-raised" ng-click="clock.setAM()" aria-label="Switch AM/PM">{{date | date:'a'}}</md-button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>