{% extends 'seo/index.html' %}

{% block meta %}
<title>{{settings.SITE_META_TITLE}}</title>
<meta name="description" content="{{settings.SITE_META_DESCRIPTION}}" />

<meta property="og:type"   content="website" /> 
<meta property="og:url"    content="{{uri_for('home', _full=True)}}" /> 
<meta property="og:title"  content="{{settings.SITE_META_TITLE}}" /> 
<meta property="og:description"  content="{{settings.SITE_META_DESCRIPTION}}" /> 
<meta property="og:image"  content="{{logo|autohttps}}" /> 


<meta name="twitter:card" content="summary" />

<meta name="twitter:site" content="@{{settings.SITE_META_TWITTER_USERNAME}}" />
<meta name="twitter:creator" content="@{{settings.SITE_META_TWITTER_USERNAME}}">
<meta name="twitter:title" content="{{settings.SITE_META_TITLE}}" />
<meta name="twitter:description" content="{{settings.SITE_META_DESCRIPTION}}" />
<meta name="twitter:image" content="{{logo}}" />


{% endblock %}
 
{% block content %}
 <div class="list list-padding ng-scope">

<div autoload-on-vertical-scroll-end="search" grid-scale="" ng-show="search.results.length" class="grid-wrapper clearfix" style="">
    {% for catalog in catalogs %}
    <div grid-scale-item class="grid-item grid-generator ng-scope visible" style="width: calc(16.6667% - 2px);">
        <a md-ink-ripple="" ripple-light="" href="{{uri_for('catalog.view', key=catalog.key)}}" class="button-transparent button-block ripple-presence">
            <img class="not-pointable ng-isolate-scope" src="{{catalog.cover.serving_url|autohttps}}=s240" style="visibility: inherit;">
        </a>
    </div> 
    {% endfor %}
    <!-- end ngRepeat: result in search.results track by $index -->
</div>      
</div>

{% endblock %}