{% extends 'seo/index.html' %}

{% block meta %}
<title>{{settings.SITE_META_TITLE}}</title>
<meta name="keywords" content="{{settings.SITE_META_KEYWORDS}}" />
<meta name="description" content="{{settings.SITE_META_DESCRIPTION}}" />

<meta property="og:type"   content="website" /> 
<meta property="og:url"    content="{{uri_for('home', _full=True)}}" /> 
<meta property="og:title"  content="{{settings.SITE_META_TITLE}}" /> 
<meta property="og:description"  content="{{settings.SITE_META_DESCRIPTION}}" /> 
<meta property="og:image"  content="{{logo}}" /> 


<meta name="twitter:card" content="summary" />

<meta name="twitter:site" content="@{{settings.SITE_META_TWITTER_USERNAME}}" />
<meta name="twitter:creator" content="@{{settings.SITE_META_TWITTER_USERNAME}}">
<meta name="twitter:title" content="{{settings.SITE_META_TITLE}}" />
<meta name="twitter:description" content="{{settings.SITE_META_DESCRIPTION}}" />
<meta name="twitter:image" content="{{logo}}" />


{% endblock %}
 
{% block content %}
 
{% for catalog in catalogs %}
<div class="grid-item">
    <a href="{{uri_for('catalog.view', key=catalog.key)}}" class="button-transparent button-block ripple-presence">
        <img alt="{{catalog.name}}" class="not-pointable" src="{{catalog.cover.serving_url}}=s240" style="visibility: visible;">
    </a>
    <a href="{{uri_for('seller.view', key=catalog.parent.key)}}" class="button-transparent button-block seller-logo-bellow ng-scope ripple-presence">
        <img class="not-pointable" src="{{catalog._seller.logo.serving_url}}=s240" style="visibility: visible;">
    </a>
</div>
{% endfor %}



{% endblock %}