<form name="container.main" ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
  
  <h2 class="fieldset">
     <span class="fieldset-text">General</span>
  </h2>
  
      <div class="form-control">
            <label class="form-label">Name</label>
            <div class="form-input">
                <div class="form-text">
                     <input ng-disabled="!rule.field._transaction_actions.name.writable" name="name" ng-required="true" class="text-input" type="text" ng-model="child.name" />
                </div>
            </div>
     </div>
     
           
    <div class="form-control">
        <label class="form-label">Active</label>
        <div class="form-input">
            <div class="form-text">
                 <button toggle ng-disabled="!rule.field._transaction_actions.active.writable" class="button" type="button" ng-model="child.active"></button>
            </div>
        </div>
    </div>
 
    
      <div>
            <h2 class="fieldset with-button">
                <span class="fieldset-text">Arguments</span>
                <span class="fieldset-button">
                    <button ng-show="rule.field._transaction_actions.arguments.writable" ng-click="manageArgument()" type="button" class="button">Add Argument</button>
                </span>
            </h2>
     
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Config</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(k, argument) in child.arguments">
                        <td>{{argument.type}}</td>
                        <td>{{argument}}</td>
                        <td>
                            <span ng-show="rule.field._transaction_actions.arguments.writable">
                            <button type="button" ng-click="removeArgument(argument)" class="button">Remove</button>
                            <button type="button" ng-click="manageArgument(argument)" class="button">Edit</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
 

</div>
 
  
</div>

<div class="modal-footer">
 
    <button ng-show="rule.action.update.executable" busy class="button">
        Save
    </button>
    <button type="button" class="button" ng-click="cancel()">
        Cancel
    </button>
</div>


</form>