<form name="container.main" ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
  
  <h2 class="fieldset">
     <span class="fieldset-text">General</span>
  </h2>
      <div class="form-control">
            <label class="form-label">Name</label>
            <div class="form-input">
                <div class="form-text">
                     <input ng-disabled="!rule.field._transaction_plugin_groups.name.writable" name="name" ng-required="true" class="text-input" type="text" ng-model="child.name" />
                </div>
            </div>
     </div>
     
     <div class="form-control">
            <label class="form-label">Subscriptions</label>
            <div class="form-input">
                 <select name="subscriptions" ng-required="false" multiple="true" ui-select2 ng-model="child.subscriptions" data-placeholder="Select field type">
                    
                    <option ng-repeat="(action_key, action) in actions" value="{{action_key}}">{{action}}</option>
            </select>
            </div>
     </div>
 
     
      <div class="form-control">
            <label class="form-label">Sequence</label>
            <div class="form-input">
                <div class="form-text">
                     <input ng-disabled="!rule.field._transaction_plugin_groups.sequence.writable" name="name" ng-required="true" class="text-input" type="text" ng-model="child.sequence" />
                </div>
            </div>
     </div>
     
    <div class="form-control">
        <label class="form-label">Transactional</label>
        <div class="form-input">
            <div class="form-text">
                 <button toggle ng-disabled="!rule.field._transaction_plugin_groups.transactional.writable" class="button" type="button" ng-model="child.transactional"></button>
            </div>
        </div>
    </div>
     
           
    <div class="form-control">
        <label class="form-label">Active</label>
        <div class="form-input">
            <div class="form-text">
                 <button toggle ng-disabled="!rule.field._transaction_plugin_groups.active.writable" class="button" type="button" ng-model="child.active"></button>
            </div>
        </div>
    </div>
 
    
      <div>
            <h2 class="fieldset with-button">
                <span class="fieldset-text">Plugins</span>
                <span class="fieldset-button">
                    <button ng-show="rule.field._transaction_plugin_groups.plugins.writable" ng-click="managePlugin()" type="button" class="button">Add Plugin</button>
                </span>
            </h2>
     
            <table class="table">
                <thead>
                    <tr>
                        <th>Plugin</th>
                
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="plg in child.plugins track by $index">
                        <td>{{plg.kind}}</td>
                 
                        <td>
                            <span ng-show="rule.field._transaction_plugin_groups.plugins.writable">
                            <button type="button" ng-click="removePlugin(plg)" class="button">Remove</button>
                            <button type="button" ng-click="managePlugin(plg)" class="button">Edit</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
 

</div>
 
  
</div>

<div class="modal-footer">
 
    <button ng-show="rule.action.update.executable" busy class="button">
        Save
    </button>
    <button type="button" class="button" ng-click="cancel()">
        Cancel
    </button>
</div>


</form>