<div ng-repeat="fieldConfig in configurations">
    <div ng-if="fieldConfig.ui.group" class="fields-grouping">
        <label class="fields-grouping-label" ng-if="fieldConfig.ui.group.label">{{fieldConfig.ui.group.label}}</label>
        <div class="field-grouping-wrapper clearfix">
            <div ng-repeat="field in fieldConfig.ui.group.fields" class="field-grouping" form-input="field"></div>
        </div>
        <div ng-if="fieldConfig.ui.group.shouldShowMessages()" ng-class="{'is-help-erroric': !fieldConfig.ui.group.messages().help}" ng-messages="fieldConfig.ui.group.messages()">
          <div ng-message="help">{{fieldConfig.ui.group.help}}</div>
          <div ng-message="required">This field requires "text" value!</div>
        </div>
    </div>
    <div ng-if="!fieldConfig.ui.group" form-input="fieldConfig"></div>
</div>