<div ng-class="{'structured-field-repeated' : config.repeated, 'margin-sides-16': !config.repeated, 'field-with-label': config.ui.label}" class="image-field structured-field">
      <% if (config.repeated) { %>

       <div class="clearfix button-set list-row-single-line list-content-tile">
        <div class="pull-right">
           <span ng-include="config.ui.specifics.mainActionsLayout.before"></span>
           <md-button type="button" loading="!<%= config.ui.writableCompiled %>" class="md-raised fake-button">
               <span><%=config.ui.specifics.addText %> <span class="selected-total">(:total)</span></span>
               <input ng-show="<%= config.ui.writableCompiled %>" class="upload" name="<%= config.ui.name %>"
                       multiple
                       show-number-of-selected-files=".selected-total"
                       generate-upload-url="true"
                       type="file" />
           </md-button>
           <span ng-include="config.ui.specifics.mainActionsLayout.after"></span>
        </div>
      </div>
 
      <div ui-sortable="config.ui.specifics.sortableOptions" 
           grid-stacked="config.ui.specifics.parentArgs" 
           ng-model="config.ui.specifics.parentArgs" 
           ng-class="{'grid-no-items': !config.ui.specifics.parentArgs.length}"
           class="clearfix grid-wrapper unselectable">
           
          <div on-ng-repeat-end ng-repeat="image in config.ui.specifics.parentArgs"
               ng-hide="image._state == 'deleted'"
               current-item="image"
               class="no-move image-image grid-item">
                <div class="delete-overlay"></div>
                <div class="img spaceout">
                  <img class="not-pointable" display-image-config="config.ui.specifics.displayImageConfig" display-image="image" />
                </div>
                <div ng-show="!config.ui.specifics.sortableOptions.disabled" class="bottom-right-floating">
                    <a ng-show="(config.ui.specifics.sortable === undefined || config.ui.specifics.sortable)" 
                       ng-class="{'no-move': config.ui.specifics.sortableOptions.disabled}" 
                       loading="!<%= config.ui.writableCompiled %>" 
                       draggable-click="config.ui.specifics.sortableOptions.whatSortMeans($event)" class="bottom-right-floating-action material-icon-white button-square sort-handle">
                          <icon type="action.view-headline"></icon>
                    </a>
                </div>
          </div>
      </div>
      
      <% if (config.ui.specifics.remote) { %>
            <div load-more-button="config.ui.specifics.reader"></div>
      <% } %>
      
      <% } else { %>
        <md-input-container class="block padding-sides-0">
             <md-button type="button" loading="!<%= config.ui.writableCompiled %>" class="fake-button md-raised margin-sides-0">
               <span><%=config.ui.compiled.label %> <span class="selected-total">(:total)</span></span>
               <input ng-show="<%= config.ui.writableCompiled %>" class="upload" name="<%= config.ui.name %>"
                      generate-upload-url
                      ng-required="config.required || !<%= config.ui.args %>.serving_url"
                      valid-file
                      show-number-of-selected-files=".selected-total"
                      ng-model="<%= config.ui.args %>._file"
                      type="file" />
             </md-button>
             
             <div class="uploaded-image">
                <img class="not-pointable" display-image-config="config.ui.specifics.displayImageConfig" display-image="<%= config.ui.args %>" />
             </div>
             <div ng-if="config.ui.form.shouldShowMessages()" ng-messages="config.ui.form.messages()">
              <div ng-message="help"><%= config.ui.help %></div>
              <div ng-message="required">The field <%= config.ui.compiled.label %> is required.</div>
             </div>
        </md-input-container>
      <% }  %>
</div>