<div fit-in-modal>
    <form name="container.form"
        <% if (config.ui.specifics.remote) { %>
        ng-upload-error="completeError(content)" 
        ng-upload="complete(content)" 
        <% } else { %>
        <% } %>
        method="post" action="{{container.action}}">
        <action-toolbar spec="config.ui.specifics.toolbar"></action-toolbar>
        <% if (config.ui.specifics.remote) { %>
            <input type="hidden" compatibility-maker="sendRootArgs" name="__body__" />
        <% } %>
        <div class="modal-body">
            <div class="fixed-height relative has-toolbar overflow-y">
                <div class="modal-body-inner">
                    <div class="list list-padding seam-bottom" ng-if="formBuilder[$index].length || layout.include" ng-repeat="layout in layouts.groups" action="layout.action">
                        <div class="list-subheader subheader">{{layout.label}}</div>
                        <div ng-if="layout.include" ng-include="layout.include"></div>
                        <div ng-if="!layout.include" form-builder="formBuilder[$index]"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>