<div fit-in-modal>
    <form name="container.form"
        <% if (config.ui.specifics.remote) { %>
        ng-upload-error="completeError(content)" 
        ng-upload="complete(content)" 
        ng-upload-start="completeStart()"
        ng-upload-end="completeEnd()"
        <% } else { %>
        <% } %>
        method="post" action="{{container.action}}">
        <action-toolbar spec="config.ui.specifics.toolbar"></action-toolbar>
        <activity-spinner toolbar="true"></activity-spinner>
        <% if (config.ui.specifics.remote) { %>
            <input type="hidden" compatibility-maker="sendRootArgs" name="__body__" />
        <% } %>
        <div class="modal-body">
            <modal-loading toolbar="true"></modal-loading>
            <div class="fixed-height relative has-toolbar overflow-auto-y">
                <div ng-if="$state.isCompleted()" class="modal-body-inner">
                    <content-spinner toolbar="true"></content-spinner>
                    <div ng-repeat="layout in layouts.groups">
                        <div ng-class="{'seam-bottom': layouts.groups.length > 1 && !$last}" class="list list-padding" ng-if="formBuilder[$index].length && !layout.include">
                            <div ng-if="layout.label" class="list-subheader subheader">{{layout.label}}</div>
                            <div form-builder="formBuilder[$index]"></div>
                        </div>
                        <div ng-if="layout.include" ng-include="layout.include"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>