<div fit-in-modal>
    <form name="container.form" ng-submit="save()">
        <div ng-include="config.ui.specifics.templateToolbarUrl"></div>
        <div class="modal-body">
            <div class="fixed-height relative has-toolbar overflow-y">
                <div class="modal-body-inner">

                    <div class="list list-padding seam-bottom" ng-if="formBuilder[$index].length || layout.include" ng-repeat="layout in layouts.groups" action="layout.action">
                        <div class="list-subheader subheader">{{layout.label}}</div>
                        <div ng-if="layout.include" ng-include="layout.include"></div>
                        <div ng-if="!layout.include" form-builder="formBuilder[$index]"></div>
                    </div>

            </div>
            </div>
        </div>
    </form>
</div>