<div fit-in-modal>
    <form name="container.form" ng-submit="save()">
        <div ng-include="config.ui.specifics.templateToolbarUrl"></div>
        <div class="modal-body">
            <div class="fixed-height relative has-toolbar overflow-y">
                <div class="modal-body-inner">
                <div class="list-padding" accordion-on-open="accordions">
                    <accordion close-others="accordions.closeOthers">
                        <accordion-group ng-repeat="accordion in accordions.groups" heading="{{accordion.label}}" is-open="accordion.open" is-disabled="accordion.disabled">
                               <div monitor-accordion-form-state="accordion" form-builder="formBuilder[$index]"></div>
                        </accordion-group>
                    </accordion>
                </div>

            </div>
            </div>
        </div>
    </form>
</div>