<div ng-class="{'field-with-label': config.ui.label}" class="plugins-field structured-field structured-field-repeated">
 
  <button loading="!<%= config.ui.writableCompiled %>" 
          md-ink-ripple-list ng-click="config.ui.specifics.create()" 
          type="button" 
          class="list-row list-row-one-line list-row-avatar list-row-is-clickable list-row-has-primary menu-item">
          <div class="list-content-tile">
            <div class="list-primary-tile">
              <div class="avatar"><icon type="content.add-circle"></icon></div>
            </div>
            <div class="first">Add</div>
          </div>
  </button>

  <button loading="!<%= config.ui.writableCompiled %>" 
          md-ink-ripple-list ng-click="config.ui.specifics.aboutPlugins()" 
          type="button" 
          class="list-row list-row-one-line list-row-avatar list-row-is-clickable list-row-has-primary menu-item">
          <div class="list-content-tile">
            <div class="list-primary-tile">
              <div class="avatar"><icon type="content.help"></icon></div>
            </div>
            <div class="first">About Rules</div>
          </div>
  </button>

  <div ui-sortable="config.ui.specifics.sortableOptions" 
       ng-model="config.ui.specifics.parentArgs" ng-class="{'structured-field-no-items': !config.ui.specifics.parentArgs.length}"
       class="list">
        <div ng-hide="ent._state == 'deleted'" 
             ng-repeat="ent in config.ui.specifics.parentArgs" 
             current-item="ent"
             class="no-move list-row list-row-three-lines list-row-has-secondary no-padding clearfix">
            <div class="delete-overlay"></div>
            <list-button class="list-row-three-lines" loading="!<%= config.ui.writableCompiled %>" ng-click="config.ui.specifics.manage(ent)">
                <strong class="first ellipsis-text">{{ent.name}}</strong>
                <span class="second">
                  {{config.ui.specifics.showType(ent.kind)}}
                </span>
                <span class="second">
                  <span ng-if="ent.active">Active</span><span ng-if="!ent.active">Inactive</span>
                </span>
            </list-button>
            <div class="list-secondary-tile">
                  <a ng-class="{'no-move': config.ui.specifics.sortableOptions.disabled}" loading="!<%= config.ui.writableCompiled %>" type="button" draggable-click="config.ui.specifics.sortableOptions.whatSortMeans($event)" class="md-button sort-handle"
                    md-ink-ripple-action><icon type="action.view-headline"></icon></a>
           </div>
        </div>
  </div>

 
</div>