<div ng-class="{'field-with-label': config.ui.label}" class="plugins-field structured-field structured-field-repeated">
 
  <div class="clearfix margin-bottom-sides-16">
    <div class="pull-right">
      <md-button loading="!<%= config.ui.writableCompiled %>" type="button" class="md-raised" ng-click="config.ui.specifics.create()">
        Add
      </md-button>
    </div>
  </div>

  <div ui-sortable="config.ui.specifics.sortableOptions" 
       ng-model="config.ui.specifics.parentArgs" ng-class="{'structured-field-no-items': !config.ui.specifics.parentArgs.length}"
       class="list">
        <div ng-hide="ent._state == 'deleted'" 
             ng-repeat="ent in config.ui.specifics.parentArgs" 
             ng-class="{'list-row--has-secondary': config.ui.specifics.listConfig.secondary}"
             current-item="ent"
             class="no-move list-row no-padding clearfix">
            <div class="delete-overlay"></div>
            <list-button loading="!<%= config.ui.writableCompiled %>" ng-click="config.ui.specifics.manage(ent)">
                <strong class="first">{{ent.name}}</strong>
                <span class="second">
                  <span ng-if="ent.active">Active</span><span ng-if="!ent.active">Inactive</span>, {{config.ui.specifics.showType(ent.kind)}}
                </span>
            </list-button>

            <div class="list-secondary-tile">
                  <a ng-class="{'no-move': config.ui.specifics.sortableOptions.disabled}" loading="!<%= config.ui.writableCompiled %>" type="button" draggable-click="config.ui.specifics.sortableOptions.whatSortMeans($event)" class="md-button sort-handle"><icon type="action.reorder"></icon></a>
           </div>
        </div>
  </div>
</div>