<md-input-container <% if (config.ui.active !== undefined) { %>ng-if="<%=config.ui.active %>"<% } %> ng-class="{'no-label': config.ui.label === false}">
    <label ng-if="config.ui.label !== false"><%= config.ui.compiled.label %></label>
    <select-input multiple="config.repeated" search="config.ui.specifics.search" view="config.ui.specifics.view" items="config.ui.specifics.translatedChoices || config.choices" class="<%= config.ui.attrs['class'] %>" name="<%= config.ui.name %>" <%= config.ui.compiled.attrs %>></select-input>
   
    <div nng-if="config.ui.form.shouldShowMessages()" ng-messages="config.ui.form.messages()">
      <div ng-message="help"><%= config.ui.help %></div>
      <div ng-message="required">The field requires selection!</div>
    </div>
</md-input-container>