<md-input-container ng-class="{'no-label': config.ui.label === false}">
    <label ng-if="config.ui.label !== false"><%= config.ui.compiled.label %></label>
    <input class="<%= config.ui.attrs['class'] %>" name="<%= config.ui.name %>" <%= config.ui.compiled.attrs %>>
    <div nng-if="config.ui.form.shouldShowMessages()" ng-messages="config.ui.form.messages()">
      <div ng-message="help"><%= config.ui.help %></div>
      <div ng-message="required">This field requires "<span ng-if="config.ui.attrs['check-numeric'] !== undefined">number</span><span ng-if="config.ui.attrs['check-numeric'] === undefined">text</span>" value!</div>
    </div>
</md-input-container>