<div class="structured-field structured-field-repeated">
<% if (config.ui.specifics.cards) { %>
  <div class="clearfix button-set list-row-single-line list-content-tile">
    <div class="pull-right">
      <md-button loading="!<%= config.ui.writableCompiled %>" type="button" class="md-raised" ng-click="config.ui.specifics.create()">
        <%=config.ui.specifics.addText %>
      </md-button>
    </div>
  </div>
<% } else { %>
  <button loading="!<%= config.ui.writableCompiled %>" 
          md-ink-ripple-list ng-click="config.ui.specifics.create()" 
          type="button" 
          class="list-row list-row-one-line list-row-avatar list-row-is-clickable list-row-has-primary menu-item">
          <div class="list-content-tile">
            <div class="list-primary-tile">
              <div class="avatar"><icon type="add_circle"></icon></div>
            </div>
            <div class="first">Add</div>
          </div>
  </button>
<% }%>

<div <% if (config.ui.specifics.sortable === undefined || config.ui.specifics.sortable) { %>
           ui-sortable="config.ui.specifics.sortableOptions" 
           <% } %> 
    autoload-on-vertical-scroll-end="{loader: config.ui.specifics.reader}"
    ng-model="config.ui.specifics.parentArgs" ng-class="{'structured-field-no-items': config.ui.specifics.isEmptyList()}" class="<% if (config.ui.specifics.cards) { %>cards<% } else { %>list<% }%>">


      <% if (config.ui.specifics.cards) { %>
      <div
           ng-hide="ent._state == 'deleted'" 
           ng-repeat="ent in config.ui.specifics.parentArgs"
           current-item="ent"
           class="relative clearfix button-transparent card no-move">
           <div class="card-inner">
              <div class="delete-overlay"></div>
              <button 
                loading 
                ng-click="config.ui.specifics.manage(ent, undefined, $event)" 
                type="button" 
                md-ink-ripple 
                ng-class="{'padding-right-56': config.ui.specifics.listConfig.secondary}"
                class="card-inner-padding menu-item">

                  <% if (config.ui.specifics.cardView) { %>
                    <span <%=config.ui.specifics.cardView %>="ent"
                          <%=config.ui.specifics.cardView %>-config="config"></span>
                  <% } else { %>
                  <strong class="first ellipsis-text">{{ent|output:config.ui.specifics.fields[0].code_name}}</strong>
                  <% } %> 
              </button>

            </div>
            <div ng-if="config.ui.specifics.listConfig.secondary" class="card-action-top-right">
                  <a ng-show="(config.ui.specifics.sortable === undefined || config.ui.specifics.sortable)" 
                     ng-class="{'no-move': config.ui.specifics.sortableOptions.disabled}"
                     loading="!<%= config.ui.writableCompiled %>" 
                     draggable-click="config.ui.specifics.sortableOptions.whatSortMeans($event)"
                     md-ink-ripple-action
                     class="button-transparent button-square sort-handle">
                      <icon type="reorder"></icon>
                  </a>
            </div>
      </div>
      <% } else { %>

      <div ng-hide="ent._state == 'deleted'" 
           ng-repeat="ent in config.ui.specifics.parentArgs" 
           ng-class="{'list-row-has-secondary': config.ui.specifics.listConfig.secondary, 'list-row-one-line': config.ui.specifics.listConfig.perLine == 1, 'list-row-two-lines': config.ui.specifics.listConfig.perLine == 2, 'list-row-three-lines': config.ui.specifics.listConfig.perLine == 3}"
           current-item="ent"
           class="no-move list-row no-padding clearfix">
              <div class="delete-overlay"></div>
              <button md-ink-ripple-list ng-class="{'list-row-is-clickable': config.ui.specifics.listConfig.clickable}" type="button" loading ng-click="config.ui.specifics.manage(ent)" class="list-row menu-item list-content-tile block">
             
                     <% if (config.ui.specifics.listView) { %>
                        <span <%=config.ui.specifics.listView %>="ent"
                              <%=config.ui.specifics.listView %>-config="config"></span>
                      <% } else { %>
                      <strong class="first ellipsis-text">{{ent|output:config.ui.specifics.fields[0].code_name}}</strong>
                      <% } %>
              
              </button>

              <div ng-if="config.ui.specifics.listConfig.secondary" class="list-secondary-tile">
                    <a ng-show="(config.ui.specifics.sortable === undefined || config.ui.specifics.sortable)" 
                       ng-class="{'no-move': config.ui.specifics.sortableOptions.disabled}"
                       loading="!<%= config.ui.writableCompiled %>" 
                       draggable-click="config.ui.specifics.sortableOptions.whatSortMeans($event)"
                       md-ink-ripple-action
                       class="button-transparent button-square sort-handle"><icon type="reorder"></icon></a>
              </div>
      </div>
      <% } %>
</div>



<!-- help -->
<div ng-if="helpers.models.isEntityListEmpty(config.ui.specifics.parentArgs) && (!config.ui.specifics.reader || config.ui.specifics.reader.loaded)" help-render="config.ui.emptyHelp"></div>
<!-- end help -->

<div ng-if="config.ui.specifics.remote" load-more-button="config.ui.specifics.reader"></div>

</div>
