<div fit-in-dialog>

<form name="container.form" <% if (config.ui.specifics.remote) { %>
    ng-upload-error="completeError(content)" ng-upload="complete(content)" method="post" action="{{container.action}}"
    <% } else {%>ng-submit="save()"
        <% } %>>
    <div ng-include="config.ui.specifics.templateToolbarUrl"></div>

    <md-toolbar ng-if="!config.ui.specifics.templateToolbarUrl" ng-class="{'no-right-actions': !config.ui.specifics.templateToolbarLeft && !config.ui.specifics.templateActions}">
        <div class="md-toolbar-tools with-actions">
            <div layout="row" flex class="fill-height">
                <div layout="row" class="md-toolbar-item md-tools actions-left">
                    <span ng-include="config.ui.specifics.templateToolbarRight"></span>
                    <button md-ink-ripple-action md-themable ng-if="!config.ui.specifics.templateToolbarRight" type="button" class="button-transparent" loading ng-click="close()">
                        <div class="icon-navigation-grey600 icon-navigation-grey600-ic_close_grey600_24dp"></div>
                    </button>
                </div>
                <div class="md-toolbar-item md-breadcrumb">
                    <span class="md-toolbar-title">{{title}}</span>
                </div>
                <span flex></span>
                <div class="md-toolbar-item md-tools actions-right" layout="row">
                    <span ng-include="config.ui.specifics.templateToolbarRight"></span>
                    <md-button ng-if="!config.ui.specifics.templateToolbarRight" loading="container.form.$pristine"
                        <% if (config.ui.specifics.remote) { %>
                          submit-if-files-no-complete="noComplete()" submit-if-files="save()"
                        <% } else { %>
                          type="submit"
                        <% } %> loading="container.form.$pristine">Save</md-button>
                    <span ng-include="config.ui.specifics.templateToolbarLeft"></span>
                    <dropdown parent=".modal-content:first" template="config.ui.specifics.templateActions" ng-if="!config.ui.specifics.templateToolbarLeft && config.ui.specifics.templateActions"></dropdown>
                </div>
            </div>
        </div>
    </md-toolbar>


    <% if (config.ui.specifics.remote) { %>
        <input type="hidden" compatibility-maker="sendRootArgs" name="__body__" />
        <% } %>
    <div class="modal-body">
        <div class="fixed-height has-toolbar overflow-y">
            <div class="modal-body-inner">
                <div accordion-on-open="accordions">
                    <accordion close-others="accordions.closeOthers">
                        <accordion-group ng-repeat="accordion in accordions.groups" heading="{{accordion.label}}" is-open="accordion.open" is-disabled="accordion.disabled">
                            <div monitor-accordion-form-state="accordion" form-builder="formBuilder[$index]"></div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</form>
</div>
