<!DOCTYPE html>
<html ng-app="MainApp">
  <head>
    <title ng-bind="pageTitle"></title>
    
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<base href="/" />
    
    <meta name="fragment" content="!" />
    
    <link rel="stylesheet" type="text/css" href="{{static_dir('fonts/sawasdee/stylesheet.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{static_dir('js/lib/jquery/select2/select2.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{static_dir('css/angular/style.css')}}"/>
    
    <script src="/model_info.js"></script>
    
    <!-- jquery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
 	<!-- end jquery -->
 	
 	<!-- begin jquery plugins -->
 	{% for module in webclient_settings.JQUERY_PLUGINS %}
 	<script type="text/javascript" src="{{static_dir('js/lib/jquery/%s.js' % module)}}"></script>
 	{% endfor %}
 	<!-- end -->
 
    <!-- angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
    <!-- end angular -->
    
    <!-- angular modules -->
    {% for module in webclient_settings.ANGULAR_MODULES %}
    <script type="text/javascript" src="{{static_dir('js/lib/angular/%s.js' % module)}}"></script>
    {% endfor %}
    <!-- end angular modules -->
    
    <script type="text/javascript">
    	initdata = {{initdata|to_json|safe}};
    	current_user = {{current_user|to_json|safe}};
    </script>
    
    <script type="text/javascript" src="{{static_dir('js/angular/helper.js')}}"></script>
    
    <script type="text/javascript" src="{{static_dir('js/angular/app.js')}}"></script>
    <script type="text/javascript" src="{{static_dir('js/angular/directive.js')}}"></script>
    <script type="text/javascript" src="{{static_dir('js/angular/filter.js')}}"></script>
    
 	{% for module in webclient_settings.ANGULAR_COMPONENTS %}
    <script type="text/javascript" src="{{static_dir('js/angular/component/%s.js' % module)}}"></script>
    {% endfor %}
    
    <script type="text/javascript" src="{{static_dir('js/angular/routes.js')}}"></script>
    

  </head>
  <body>
  	<div id="top-bar">
  		<a ng-click="toggleMainMenu()" class="logo-link" href="javascript:;"><h1 id="logo">Miraclestyle</h1></a>
  	</div>
  	<div style="display:none;" id="main-menu">
  		<div ng-show="!nav.menu" class="menu-inner">
  			<div ng-show="current_user._root_admin" ng-include="logic_template('nav/search_form.html')"></div>
	  		<h1 class="fieldset">Account</h1>
	  		<ul ng-show="!current_user._is_guest" class="menu">
	  		    <li><button type="button" class="button block" ng-click="manageAccount()">Manage</button></li>
	  		    <li><button type="button" class="button block" ng-click="doLogout()">Logout</button></li>
	  		</ul>
	  		
	  		<div ng-show="!current_user._is_guest">
		  		<h1 class="fieldset">Buyer Tools</h1>
		  		<ul ng-show="!current_user._is_guest" class="menu">
		  		    <li><button type="button" class="button block" ng-click="manageBuyer()">My Addresses</button></li>
		  		    <li><button type="button" class="button block" ng-click="manageCollection()">My Collection</button></li>
		  		</ul>
	  		</div>
	  		
	  		<ul ng-show="current_user._is_guest" class="menu">
	  		    <li><button type="button" busy class="button block" ng-click="doLogin()">Login</button></li>
	  		</ul>
	  		
	  		<div ng-show="!current_user._is_guest">
	  			<h1 class="fieldset">Selling Tools</h1>
	  			<ul class="menu">
	  		   		 <li><button type="button" ng-click="toggleMainMenu(1)" class="button block" ui-sref="apps">Enterprise Apps</button></li>
	  			</ul>
	  		</div>
	  		
	        <div ng-show="current_user._root_admin">
	        	
	  			<h1 class="fieldset">Administration</h1>
	  			<ul class="menu">
	  		   		 <li ng-repeat="(kind_key, kind) in ADMIN_KINDS"><button type="button" ng-click="toggleMainMenu(1)"
		  		    		    ui-sref="admin_search({query: JSON.stringify({}), kind : kind_key})" 
		  		    		    ui-sref-active="active" class="button block" ng-bind="kind"></button></li>
	  			</ul>
	  		</div>
	  		 
  		</div>
  		
  		
  		<div ng-show="nav.menu" class="menu-inner">
  			
  		    <div ng-include="logic_template('nav/search_form.html')"></div>
  			
  			<div ng-repeat="menu_item in nav.menu">
	  			<h1 ng-bind="menu_item.name" class="fieldset"></h1>
		  		<ul class="menu">
		  		    <li ng-repeat="menu_filter in menu_item.filters">
		  		    	<button type="button" ng-click="toggleMainMenu(1)"
		  		    		    ui-sref="app_view_search({app_id : nav.domain.key, query: JSON.stringify(menu_filter.query), kind : menu_filter.kind})" 
		  		    		    ui-sref-active="active" class="button block" ng-bind="menu_filter.name"></button>
		  		    </li>
		  		</ul>
	  		</div>
  		</div>
  		
  	</div>
	{% block content %}
	<div class="content" ui-view></div>
	{% endblock %}
  </body> 
  </html>