<!DOCTYPE html>
<html ng-app="MainApp">
  <head>
    <title>{{title or 'MIRACLESTYLE'}}</title>
    
    <meta name="fragment" content="!" />
    
    <link rel="stylesheet" type="text/css" href="{{static_dir('fonts/sawasdee/stylesheet.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{static_dir('js/lib/jquery/select2/select2.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{static_dir('css/angular/style.css')}}"/>
    
    <!-- jquery -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
 	<!-- end jquery -->
 	
 	<!-- begin jquery plugins -->
 	{% for module in webclient_settings.JQUERY_PLUGINS %}
 	<script type="text/javascript" src="{{static_dir('js/lib/jquery/%s.js' % module)}}"></script>
 	{% endfor %}
 	<!-- end -->
 
    <!-- angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.js"></script>
    <!-- end angular -->
    
    <!-- angular modules -->
    {% for module in webclient_settings.ANGULAR_MODULES %}
    <script type="text/javascript" src="{{static_dir('js/lib/angular/%s.js' % module)}}"></script>
    {% endfor %}
    <!-- end angular modules -->
    
    <script type="text/javascript">
    	initdata = {{initdata|to_json|safe}};
    	current_user = {{current_user|to_json|safe}};
    </script>
    
    <script type="text/javascript" src="{{static_dir('js/angular/helper.js')}}"></script>
    
    <script type="text/javascript" src="{{static_dir('js/angular/app.js')}}"></script>
    
 	{% for module in webclient_settings.ANGULAR_COMPONENTS %}
    <script type="text/javascript" src="{{static_dir('js/angular/component/%s.js' % module)}}"></script>
    {% endfor %}
    
    <script type="text/javascript" src="{{static_dir('js/angular/routes.js')}}"></script>
    

  </head>
  <body ng-class="{loading : loading}">
  	<div id="top-bar">
  		<a ng-click="toggleMainMenu()" class="logo-link" href="javascript:;"><h1 id="logo">Miraclestyle</h1></a>
  	</div>
  	<div style="display:none;" id="main-menu">
  		<div class="menu-inner">
	  		<h1 class="fieldset">Account</h1>
	  		<ul ng-show="!current_user.is_guest" class="menu">
	  		    <li><a class="button block" ng-click="manageAccount()">Manage</a></li>
	  		    <li><a class="button block" ng-click="doLogout()">Logout</a></li>
	  		</ul>
	  		
	  		<ul ng-show="current_user.is_guest" class="menu">
	  		    <li><a class="button block" ng-click="doLogin()">Login</a></li>
	  		</ul>
	  		
	  		<div ng-show="!current_user.is_guest">
	  			<h1 class="fieldset">Selling Tools</h1>
	  			<ul class="menu">
	  		   		 <li><a class="button block" ui-sref="apps">Enterprise Apps</a></li>
	  			</ul>
	  		</div>
	  		
	  		
  		</div>
  	</div>
	{% block content %}
	<div class="content" ui-view></div>
	{% endblock %}
  </body> 
  </html>