<form ng-submit="save()" name="container.main">
<div class="modal-body scrollable">
<div class="modal-body-inner">
  
    <h2 class="fieldset">
         <span class="fieldset-text">General</span>
     </h2>
     
    <div class="form-control">
        <label class="form-label">Type</label>
        <div class="form-input">
            <select name="type" ng-required="true" ui-select2 ng-model="field.field" data-placeholder="Select field type">
 
                    <option ng-repeat="(k,v) in config" value="{{k}}">{{v[0]}}</option>
            </select>
        </div>
    </div>
  
    <div ng-show="field.field" class="form-control">
         
        <div ng-repeat="(field_name, field_config) in config[field.field][2]">
              
             <div class="form-control">
                <label class="form-label">{{field_name}}</label>
                <div class="form-input">
                     <div>
                         <input name="cfg_{{field_name}}" ng-required="true" class="text-input" type="text" ng-model="field.config[field_name]" />
                     </div>
                     <div class="field-config">
                 
                         {{field_config}}
                     </div>
                </div>
            </div>
             
        </div>
        
    </div>
      
</div>
 
  
</div>

<div class="modal-footer">
 
    <button class="button">
        Save
    </button>
    <button type="button" class="button" ng-click="cancel()">
        Cancel
    </button>
</div>


</form>