<div fit-in-modal class="modal-confirm">
      <div class="modal-body max-height">
          <div class="modal-body-inner">
                <div ng-form="container.form">
                    <div form-input="fields.note" class="confirmation-textarea"></div>
                    <div form-input="fields.message" class="confirmation-textarea"></div>
                    <div ng-repeat="thing in ['state']" ng-class="{'seam-bottom': !$last}" class="list padding-top-bottom-12">
                         <md-radio-group ng-model="args[thing]" class="list list-row-one-line list-row-has-primary">
                              <md-radio-button ng-repeat="state in fields[thing].choices" 
                                               md-ink-ripple
                                               class="list-content-tile list-row"
                                               ng-value="state"
                                               aria-label="state|labelize:'catalog'"
                                               ng-required="true">
                                  <span class="first">{{state|labelize:'catalog'}}</span>
                              </md-radio-button>
                          </md-radio-group>
                    </div>
                </div>
          </div>
       </div>
      <div ng-include="'core/misc/confirm_footer.html'"></div>
</div>