
    <div class="list list-padding">
        <div style="visibility: hidden;" ng-style="{visibility: (search.loader.loaded ? 'visible' : 'hidden')}" class="clearfix button-set list-row list-row-one-line list-content-tile">
            <div class="pull-right">
                  <md-button class="md-raised" type="button" loading ng-click="create($event)">Create</md-button>
            </div>
        </div>

        <div ng-show="search.loader.loaded && !helpers.models.isEntityListEmpty(search.results)" autoload-on-vertical-scroll-end="search" grid-scale="{square: true}" class="grid-wrapper clearfix">
            <div ng-repeat="result in search.results track by $index" grid-scale-item="{image: true}" class="grid-item grid-generator">
                <div class="grid-item-wrapper">
                <button md-ink-ripple ripple-light loading ng-click="preview(result.key, $event)" class="button-transparent block padding-0">
                    <div ng-if="result.state == 'draft'" class="catalog-draft-state">
                        <span class="display2">DRAFT</span>
                    </div>
                    <img class="not-pointable" 
                         display-image="result.cover"
                         display-image-config="{defaultImage: 'defaultCatalogCover', size:360}" />

                </button>
                  <div class="bottom-right-floating">
                    <button md-ink-ripple-action ripple-light loading class="button-transparent bottom-right-floating-action button-square" ng-click="manage(result, $event)">
                        <icon color="white" type="edit"></icon>
                    </button>
                 </div>
                </div>
            </div>
        </div>


        <!-- help -->
        <div ng-if="helpers.models.isEntityListEmpty(search.results) && search.loader.loaded" help-render="GLOBAL_CONFIG.emptyHelp.catalogList"></div>
        <!-- end help -->
        
        
      <div load-more-button="search.loader"></div>
      
    </div>