<md-content ui-view md-scroll-y flex>
    <div class="list list-padding">
        <div class="clearfix button-set list-row list-row-one-line list-content-tile">
            <div class="pull-right">
                  <md-button class="md-raised" type="button" loading ng-click="create()">Create</md-button>
            </div>
        </div>

        <div autoload-on-vertical-scroll-end="scrollEnd" grid-scale="{square: true}" class="grid-wrapper clearfix">
            <div ng-repeat="result in search.results track by $index" grid-scale-item="{image: true}" class="grid-item grid-generator">
                <button md-ink-ripple ripple-light loading ng-click="manage(result, $event)" class="button-transparent button-block padding-0">
                    <img class="not-pointable" display-image="result.cover" display-image-config="{defaultImage: 'defaultCatalogCover', size:360}" />
                </button>
                <div class="bottom-right-floating">
                    <button md-ink-ripple-action ripple-light loading class="button-transparent bottom-right-floating-action button-square" ng-click="preview(result.key, $event)">
                        <icon color="white" type="view_carousel"></icon>
                    </button>
                </div>
            </div>
        </div>


        <!-- help -->
        <div ng-if="helpers.models.isEntityListEmpty(search.results) && search.loaded" help-render="GLOBAL_CONFIG.emptyHelp.catalogList"></div>
        <!-- end help -->

        <div load-more-button="search.pagination"></div>
    </div>
</md-content>