<div class="clearfix">
  <input type="hidden" form-input="fieldProduct" />
      <div class="clearfix new-pricetag-bar button-set list-row">
      <div class="pull-right line-height-0">
         <ul class="list-inline-block padding-top-8">
                 <li md-ink-ripple loading="!entity.ui.rule.field._images.pricetags.writable" 
                     class="catalog-new-pricetag md-button"
                     drag="entity.ui.rule.field._images.pricetags.writable"
                     jqyoui-options="newPricetagDraggableOptions"
                     draggable-click="entity.ui.rule.field._images.pricetags.writable && howToDrag($event)"
                     jqyoui-draggable="{placeholder: 'keep'}">
                   <div class="catalog-pricetag-dot"></div>
                   <div class="catalog-pricetag-link button-transparent">Add</div>
                 </li>
          </ul>
      </div>
    </div>
 
  <div class="image-slider-outer">
     <div ng-class="{'swoop-from-left-finish': imagesLoaded}" image-slider-load-more="loadMoreImages(callback)" image-slider-manage-products="true" image-slider="args._images" class="image-slider images-manage unselectable swoop-from-left"> 
         <div ng-hide="image._state == 'deleted'"
              ng-repeat="image in args._images track by $index" 
              class="image-slider-item"
              drop="true"
              jqyoui-options="droppableOptions"
              jqyoui-droppable="{multiple:true, onDrop: 'onDrop(image)'}"
              >
           <img class="not-pointable" slider-image="image" /> 
           <div ng-repeat="pricetag in image.pricetags track by trackPricetags(pricetag)"
                ng-model="image.pricetags"
                ng-hide="pricetag._state == 'deleted' || !pricetag.key || pricetag._hidden"
                jqyoui-options="draggableOptions"
                jqyoui-draggable="{index: $index, onStart: 'onStart(image, pricetag)', onDrag: 'onDrag(image, pricetag)', onStop: 'onStop(image, pricetag)'}"
                drag="entity.ui.rule.field._images.pricetags.writable" 
                class="catalog-pricetag"
                md-ink-ripple
                draggable-click="manageProduct(image, pricetag, $event)"
                catalog-pricetag-position="pricetag">
                <div class="catalog-pricetag-wrapper">
                  <div class="catalog-pricetag-dot"></div>
                  <span class="catalog-pricetag-link button-transparent ellipsis-text">{{pricetag.value.name}}</span>
                </div>
           </div>
        </div>
        <div ng-show="imagesReader.more" class="vertical-loader">
            <div load-more-button="imagesReader"></div>
        </div>
     </div>
  </div>
</div>