<div class="fitter" fit-in-modal>
<form name="container.form" method="post" action="{{container.action}}">
 
  <div class="modal-body fixed-height relative">
  <div class="clearfix">

      <div class="catalog-closer">
           <button md-ink-ripple md-themable  loading type="button" class="button-transparent catalog-close-button material-icon-white" ng-click="close()">
             <icon type="navigation.close"></icon>
           </button>
      </div>
 
      <div ng-click="toggleMenu($event)" class="image-slider-outer">
         <div md-ink-ripple-fit md-ink-ripple-ignore="notRipplable" image-slider-load-more="loadMoreImages(callback)" image-slider="catalog._images" class="image-slider"> 
             <div ng-repeat="image in catalog._images track by $index" class="image-slider-item">
               <img slider-image="image" /> 
               <div ng-repeat="pricetag in image.pricetags track by $index"
                    class="button catalog-pricetag"
                    catalog-pricetag-position="pricetag">
                    <div class="catalog-pricetag-wrapper">
                        <div class="catalog-pricetag-dot"></div>
                         <button md-ink-ripple md-themable type="button" class="button-transparent catalog-pricetag-link" loading ng-click="viewProduct(image, pricetag, {targetEvent: $event})">
                            {{pricetag.value.price|formatCurrency:catalog._seller._currency}}
                         </button>
                     </div>
                </div>
            </div>

         </div>




      </div>


      <md-sidenav md-swipe-right="closeMenu()" layout="column" class="site-sidenav md-sidenav-right md-closed catalog-sidenav" md-component-id="right_catalog_sidenav">
        <md-content>
            <div class="list">
                <div class="sidebar-seller-logo">
                  <button md-ink-ripple type="button" class="button-transparent" loading ng-click="sellerDetails()">
                     <img class="seller-logo" display-image-config="logoImageConfig" display-image="catalog._seller.logo" />
                  </button>
                </div>
                <div ng-include="'catalog/quick_info.html'"></div>
                <div class="list-divider"></div>
                <sidenav-item ng-click="displayCart()">Cart</sidenav-item>
                <sidenav-item ng-click="displayShare()">Share</sidenav-item>
            </div>
        </md-content>
    </md-sidenav>
 

       
    </div>
 
  </div> 
  </div>
</form>
</div>