<div class="fitter" fit-in-modal>

<modal-loading></modal-loading>
<div class="modal-body fixed-height relative">
<form name="container.form" method="post" action="{{container.action}}">
 

  <div class="clearfix">

      <div ng-hide="hideClose" class="top-close">
           <button md-ink-ripple-pulsate-options="{color: true, speed: 1000}" md-ink-ripple-pulsate="$state.fullyReady" md-ink-ripple-action ripple-light loading type="button" class="button-transparent button-square catalog-close-button color-child-when-disabled" ng-click="close()">
             <icon color="white" type="close"></icon>
           </button>
      </div>

      <div ng-if="$state.isCompleted() && !notFound" class="top-close top-close-right">
           <button md-ink-ripple-pulsate-options="{color: true, speed: 1000}" md-ink-ripple-pulsate="$state.fullyReady" md-ink-ripple-action ripple-light loading type="button" class="button-transparent button-square catalog-close-button color-child-when-disabled pull-right" ng-click="displayCart()">
             <icon color="white" type="shopping_cart"></icon>
           </button>
           <button md-ink-ripple-pulsate-options="{color: true, speed: 1000}" md-ink-ripple-pulsate="$state.fullyReady" md-ink-ripple-action ripple-light loading type="button" class="button-transparent button-square catalog-close-button color-child-when-disabled pull-left" ng-click="displayShare()">
             <icon color="white" type="share"></icon>
           </button>
      </div>

      <div ng-if="notFound || noImages">
          <h1 ng-if="!noImages" class="no-things-available display1">This catalog does not exist.</h1>
          <h1 ng-if="noImages" class="no-things-available display1">No images for this catalog.</h1>
      </div>
 
      <div ng-if="modalOptions.opened && $state.isCompleted() && !notFound" track-if-product-view="maybeLoadProduct" class="image-slider-outer unselectable">
         <div catalog-ready="$state.fullyReady" ng-class="{'swoop-from-left-finish': true}" image-slider-load-more="loadMoreImages(callback)" image-slider="catalog._images" class="image-slider swoop-from-left"> 
             <div ng-repeat="image in catalog._images" class="image-slider-item">
               <img class="not-pointable" slider-image="image" /> 
               <div ng-repeat="pricetag in image.pricetags track by $index"
                    class="button catalog-pricetag"
                    catalog-pricetag-position="pricetag">
                    <div class="catalog-pricetag-wrapper">
                        <div class="catalog-pricetag-dot"></div>
                         <button bindonce bo-text="pricetag.value.price|formatCurrency:catalog._seller._currency" data-pricetag-id="{{::image.id}}-{{::pricetag.id}}" md-ink-ripple md-ink-ripple-pulsate-options="{repeat: 'infinite', speed: 2000}" md-ink-ripple-pulsate="$state.fullyReady" type="button" class="button-transparent catalog-pricetag-link " loading="loadingProduct" ng-click="viewProduct(image, pricetag, $event)">
                          
                         </button>
                     </div>
                </div>
            </div>

           <div ng-if="imagesReader.more" class="vertical-loader">
              <div load-more-button="imagesReader"></div>
           </div>
         </div>
      </div>

     <div ng-include="'core/social/sidenav.html'"></div>
       

    <div ng-if="$state.isCompleted() && !notFound" ng-include="'seller/view.html'"></div>
       
    </div>
</form>

</div> 
</div>