<md-asimple-dialog>
    <md-content>
        <div class="list">
            <button ng-show="parent.args.ui.rule.action.sudo.executable" md-ink-ripple loading type="button" ng-click="parent.actions.sudo()" class="list-row list-row--is-clickable menu-item list-content-tile block">Administer</button>

            <button ng-show="args.ui.rule.action.publish.executable && args.action_id != 'create'" md-ink-ripple loading type="button" ng-click="actions.publish()" class="list-row list-row--is-clickable menu-item list-content-tile block">Publish</button>

            <button ng-show="args.ui.rule.action.discontinue.executable" md-ink-ripple loading type="button" ng-click="actions.discontinue()" class="list-row list-row--is-clickable menu-item list-content-tile block">Discontinue</button>

            <button ng-show="args.ui.rule.action.catalog_duplicate.executable" md-ink-ripple loading type="button" ng-click="actions.duplicate()" class="list-row list-row--is-clickable menu-item list-content-tile block">Duplicate</button>
        </div>
    </md-content>
</md-asimple-dialog>
