.selection
{
	position:relative;
}

.selection .button
{
	min-width:200px;
}

.selection.opened .options
{
 	display:block;
}

.option
{
	display:block;
	
	border-bottom: 1px solid #AAA;
	border-left:1px solid #AAA;
	border-right:1px solid #AAA;
	 
	padding:5px 20px;
	
	text-decoration:none;
	
}

.option:hover, .option.active
{
	border-color: #333333;
    background-color: #FAFAFA;
}

.option:focus
{
  border-color:#333333;
  background-color: #FFFFFF;
}
 

.options
{
	position: absolute;
	background:white;
	border-top: none;
 	display:none;
	text-align: left;
	max-height:300px;
}