<div fit-in-modal>
<div class="modal-body scrollable has-footer">
<div class="modal-body-inner padding-24">
<h2>Please select variant for this product instance</h2>
<form>
    <div ng-repeat="variant in variants track by $index" ng-hide="variant._state == 'deleted'" class="form-control">
        <div form-input="variantSelection[$index]"></div>
    </div>
</form>
</div>
</div>

<div class="modal-footer">
  
  <button loading type="button" class="button" ng-click="choose()">
    Select
  </button>
  <button loading type="button" class="button" ng-click="close()">
      Close
  </button>
</div>
</div>