<div fit-in-modal>

    <form ng-submit="save()" name="container.form">

        <div class="modal-body">
 
                <div ng-click="toggleMenu($event)" md-ink-ripple-ignore="notRipplable" md-ink-ripple class="fixed-height relative overflow-x">
                    <div ng-if="product.images.length" image-slider="product.images" class="image-slider">
                        <div ng-repeat="image in product.images track by image.key" class="image-slider-item">
                            <img slider-image="image" />
                        </div>
                    </div>
                    <div ng-if="!product.images.length">
                        <h1 class="no-things-available">No images available</h1>
                    </div>
                     <div class="catalog-closer">
                       <button md-ink-ripple loading type="button" class="button-transparent catalog-close-button" ng-click="close()">
                         <icon type="navigation.close"></icon>
                       </button>
                    </div>
                </div>

                <md-sidenav md-swipe-right="closeMenu()" layout="column" class="site-sidenav md-sidenav-right md-whiteframe-z2 md-closed product-sidenav" md-component-id="right_product_sidenav">
                    <md-content>
                    <div>
                        <div class="product-detail-content">
                            <div class="list">
                                <div ng-include="'catalog/quick_info.html'"></div>
                            </div>
                            <div class="product-category">{{product._category.name}}</div>
                            <h1 class="product-name">{{product.name}}</h1>
                            <div class="product-code">{{product.code}}</div>
                            <div class="product-description">{{product.description}}</div>
                            <div ng-if="product.contents.length" class="product-contents">
                                <div class="list">
                                    <div ng-repeat="content in product.contents track by content.key"
                                         class="list-row no-padding">
                                       <list-button ng-click="viewContent(content)">
                                          <strong class="first">{{content.title}}</strong>
                                       </list-button>
                                    </div>
                                </div>
                            </div>
                            <div class="product-price">
                                {{product.unit_price|formatCurrency:catalog._seller._currency}} ({{catalog._seller._currency.code}})
                            </div>
                            <div class="product-availability">{{product.availability}}</div>
                            <div class="product-variant-selection" ng-if="variantSelection.length">
                                <div form-builder="variantSelection"></div>
                            </div>
                            <div class="form-control">
                                <label class="form-label">
                                  Quantity ({{product._uom.name}})
                                </label>
                                <div class="form-input">
                                  <md-input-container layout="row">
                                      <md-button flex ng-click="decreaseQuantity()" loading="!canAddToCart" class="md-raised product-quantity-button product-quantity-button-deincrease">
                                        <icon type="content.remove"></icon>
                                      </md-button>
                                        <input class="text-input product-quantity-input" name="productQuantity" ng-required="true" ng-disabled="!canAddToCart" type="text" ng-model="productQuantity"/>
                                      <md-button flex ng-click="increaseQuantity()" loading="!canAddToCart" type="button" class="md-raised product-quantity-button product-quantity-button-increase">
                                         <icon type="content.add"></icon>
                                      </md-button>
                                  </md-input-container>
                                </div>
                            </div>

                             <div class="product-actions button-set padding-bottom-sides-16">
                               <md-button type="button" ng-click="share()" loading class="md-raised">
                                Share
                               </md-button>
                               <md-button type="button" ng-click="addToCart()" loading="!canAddToCart || disableUpdateCart" class="md-raised">
                                <span ng-show="hasThisProduct">Update Cart</span>
                                <span ng-show="!hasThisProduct">Add To Cart</span>
                               </md-button>
                              </div>

                        </div>
                    </div>
                    </md-content>
                </md-sidenav>
 
            </div>

        </div>
    </form>
</div>
