<div ng-controller="HandleLog">
<h2 class="fieldset">History</h2>
<div accordion>
      <div is-open="commander.isOpen" accordion-group heading="History">
 
		<table ng-show="commander.first" class="table">
			<thead>
				<th>Logged</th>
				<th>Agent</th>
				<th>Action</th>
			</thead>
			<tbody>
				<tr ng-show="!logs.length && commander.first">
					<td colspan="3">
						No records found.
					</td>
				</tr>
				<tr ng-repeat="log in logs">
					<td>{{log|output:'logged'}}</td>
					<td>{{log._agent}}</td>
					<td>{{log._action}}</td>
				</tr>
				
				<tr ng-show="commander.loading">
					<td colspan="3">
						<div class="text-center">
							<p>Loading...</p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div class="text-center" ng-hide="commander.first">
			<p>Loading...</p>
		</div>
		
		<button type="button" busy ng-click="loadMore()" ng-show="history.args.more && commander.first && !commander.loading" 
				class="button block load-more">Load More</button>

	  </div>	    
</div>
</div>