<h1 class="fieldset with-button">
	<span class="fieldset-text">{{title}}</span>
</h1>
<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Created</th>
					<th>Updated</th>
					<th>State</th>
					<th>Primary E-mail</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="usr in search.entities track by $index">
					<td>{{usr.id}}</td>
					<td>{{usr|output:'created'}}</td>
					<td>{{usr|output:'updated'}}</td>
					<td>{{usr.state}}</td>
					<td>{{usr._primary_email}}</td>
					<td>
						<button type="button" busy ng-click="update(usr)" class="button">
							Edit
						</button>
					</td>
				</tr>
			</tbody>
</table>

<div ng-show="search.more && !search.loading">
    <button style="width:100%;" class="button block" busy ng-click="search.loadsMore()" type="button">Load More</button>
</div>