div.catalog-pricetag, li.catalog-new-pricetag {
    position: absolute;
    top: 20%;
    left: 20px;
    z-index: 55;
    padding: 0px;
    visibility: hidden;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.26);
    background: white;
    cursor: move;
    font-size: 14px;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transition-property: box-shadow, background;
}

div.catalog-pricetag:active, 
li.catalog-new-pricetag:active {
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.26);
}

a.catalog-pricetag-link,
div.catalog-pricetag-link {
  cursor: move;
}

li.catalog-new-pricetag {
    position: static;
    left: auto;
    top: auto;
    visibility: visible;
}

.catalog-pricetag-dot {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.54);
    height: 4px;
    width: 4px;
    top: 3px;
    left: 3px;
    position: absolute;
}

.catalog-pricetag .catalog-pricetag-link, .catalog-new-pricetag .catalog-pricetag-link {
    text-decoration: none;
    display: block;
    padding: 6px 8px;
    line-height: 24px;
    text-transform: inherit;
}

.catalog-pricetag button.button-transparent {
    text-decoration: none;
    display: block;
    padding: 6px 8px;
    min-width: 64px;
}

.catalog-new-pricetag {
    display: block;
}

.catalog-new-pricetag .catalog-pricetag {
    display: none;
}

.catalog-new-pricetag.ui-draggable-dragging .catalog-pricetag {
    display: block;
}

.catalog-new-pricetag.ui-draggable-dragging .just-text {
    display: none;
}

.catalog-pricetag-wrapper {
    position: relative;
}

.sidebar-seller-logo button {
    padding: 0px;
    display: block;
}

.seller-logo {
    width: 280px;
    height: auto;
    display: block;
}

.full-logo img {
    width: 100%;
    display: block;
    height: auto;
}

.product-quantifier md-input-container {
    padding: 0px;
}

md-input-container .product-quantity-input {
    border-bottom: none;
    width: 64px;
    padding: 4px 0px;
    text-align: center;
    display: block;
}

.product-quantifier input, .product-quantifier button {
    color: rgba(0, 0, 0, 0.54);
}

.product-quantifier input {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

.product-quantity-control {
    float: left;
    padding-right: 4px;
    padding-left: 4px;
}

.product-quantity-input-wrapper {
    float: left;
    padding-left: 16px;
    padding-right: 16px;
}

button.product-quantity-button {
    min-width: initial;
    margin: 0px;
}

.product-quantity-controls {
    order: 2;
}

.product-quantifier label {
    padding-left: 16px;
    padding-right: 16px;
}

.product-quantifier [ng-messages] {
    padding-left: 16px;
    padding-right: 16px;
}

.category {
    /*position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    bottom: 0px;*/
}

@keyframes category-slide-in {
    0% {
        left: 100%;
        right: -100%;
    }
    100% {
        left: 0px;
        right: 0px;
    }
}

@keyframes category-slide-out {
    0% {
        left: 0px;
        right: 0px;
    }
    100% {
        left: 100%;
        right: -100%;
    }
}

.category.slide {
    animation-timing-function: cubic-bezier(0.8, 0, 0.4, 1);
}

.category.slide.in {
    animation-name: category-slide-in;
}

.category.slide.out {
    animation-name: category-slide-out;
}

.category-modal .modal-content, .category-modal .modal-body {
    position: static;
}

.category {
    background-color: white;
    top: 0px;
    position: absolute;
    overflow: auto;
    left: 0px;
    right: 0;
    bottom: 0px;
    z-index: 11;
}
