<div class="clearfix buttons">
  <div class="pull-right">
    <span class="fieldset-button"><a class="button" loading ng-click="create()">Create Catalog</a>
    </span>
  </div>
</div>

<div autoload-on-scrollend class="grid-wrapper clearfix">
    <div ng-repeat="result in search.results track by $index" grid-generator-image="result.cover" grid-generator="{square:false, margin:2, maxWidth:240, minWidth:180}" class="grid-item grid-generator">
        <a ng-click="manage(result)" class="pointable">
            <img display-image="result.cover" display-image-config="{defaultImage: 'defaultCatalogCover', size:360}" />
        </a>

    </div>
</div>


<div ng-show="search.more && !search.loading">
    <button style="width:100%;" class="button block" busy ng-click="search.loadsMore()" type="button">Load More</button>
</div>
