<div class="clearfix buttons">
  <div class="pull-right">
    <span class="fieldset-button"><button class="button" type="button" loading ng-click="create()">Create Catalog</button>
    </span>
  </div>
</div>

<div autoload-on-scrollend="search.pagination" class="grid-wrapper clearfix">
    <div ng-repeat="result in search.results track by $index" grid-generator-image="result.cover" grid-generator="{square:false, margin:1, maxWidth:240, minWidth:180}" on-ng-repeat-end class="grid-item grid-generator">
        <button loading ng-click="preview(result.key)" class="button-transparent pointable">
            <img display-image="result.cover" display-image-config="{defaultImage: 'defaultCatalogCover', size:360}" />
        </button>
        <div class="button-wrapper">
            <button loading class="button block" ng-click="manage(result)">
                Edit
            </button>
        </div>
    </div>
</div>

<div load-more-button="search.pagination"></div>