<div class="fitter" fit-in-dialog>
<form name="container.form" ng-submit="save()" method="post" action="{{container.action}}">
  <input type="hidden" compatibility-maker="args" name="__body__" />
    
  <div class="modal-body unscrollable">
  <div class="clearfix">
    <div class="pull-left t60"> 
      
      <div class="catalog-slider-outer hand">
         <div catalog-slider-load-more="loadMoreImages" catalog-slider="images" class="catalog-slider"> 
             <div ng-repeat="image in args._images" class="item"><img catalog-slider-image="image" /></div>
         </div>
      </div>
       
    </div>
    
    <div class="pull-right t40">
      <div class="modal-body-inner scrollable"> 
         
        <div form-input="fieldProducts"></div>
 
        <div class="corner-right">
                <div>
                  <button loading type="submit" class="button">Save</button>
                  <button loading type="button" class="button" ng-click="close()">Close</button>
              </div>
        </div>
      </div>
    </div>
  </div>
      
  </div>
 
</form>
</div>