.time-date > .control > .full-title {
    display: none;
    background-color: #00796b;
    color: #e1e1e1;
}

.time-date > .control > .slider > .date-control > .title {
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    line-height: 48px;
    position: relative;
}

.time-date > .control > .slider > .date-control .day-cell {
    float: left;
    width: 35px;
    height: 35px;
    padding: 6px;
    cursor: pointer;
    border-radius: 35px;
    min-width: initial;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 14px;
}

.time-date > .control > .slider > .date-control > .days .day-cell {
    color: #202020;
}

.time-date > .control > .slider > .date-control > .days .day-cell.today {
    color: #009688;
}

.time-date > .control > .slider > .date-control > .days .day-cell.selected {
    color: #fff;
    background-color: #009688;
}

.time-date > .control > .slider > .time-control > .buttons {
    text-align: right;
    margin-top: 24px;
    margin-right: 8px;
}

.time-date > .display, .time-date > .control {
    text-align: center;
}

.time-date button, .time-date .button {
    color: #009688;
}

.time-date.full-mode > .control > .full-title {
    display: block;
}

.time-date.full-mode > .control > .slider > .switch-control {
    display: none;
}

.time-date.full-mode > .buttons {
    background-color: #009688;
}

.time-date.vertical {
    width: auto;
    max-width: 274px;
}

.time-date.vertical.time-mode > .display > .content {
    padding-top: 16px;
    padding-bottom: 16px;
}

.time-date.vertical.full-mode > .display {
    display: none;
}

.time-date.vertical.full-mode > .control > .slider {
    float: none;
    width: 100%;
    height: auto;
    overflow: auto;
}

.time-date.vertical.full-mode > .control > .slider > .time-control, .time-date.vertical.full-mode > .control > .slider > .date-control {
    width: 100%;
    float: left;
}

.time-date .material-icon {
    display: inline-block;
}

.time-date .material-icon:first-child {}

.time-inputs input {
    font-size: 60px;
    text-align: center;
}

.time-inputs md-input-container {
    margin: 0px;
}

.title button {
    position: absolute;
    top: 0px;
    min-width: initial;
    line-height: normal;
    margin: 0px;
    width: 48px;
    height: 48px;
    padding: 0px;
    overflow: hidden;
}

.title .t1 {
    left: 0px;
}

.title .t2 {
    right: 0px;
}

.title {
    position: relative;
}

.title .contain {
    text-align: center;
    margin: auto;
    padding-right: 48px;
    padding-left: 48px;
}

.time-inputs button {
    width: 100%;
    line-height: normal;
    min-width: inherit;
}

.time-inputs input[type=number]::-webkit-inner-spin-button, .time-inputs input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.date-control {
    height: 340px;
}
