.day-cell {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0);
    width: 36px;
    height: 36px;
    padding: 6px 10px 6px 10px;
    border-radius: 50%;
    float: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    min-width: initial;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-property: background, color, left, right, top, bottom;
}

.date-control .title-above {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 12px;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 12px;
    position: relative;
    text-align: center;
}

.title-above .pager {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.title-above .pager-prev {
    right: auto;
    left: 0px;
    padding-left: 12px;
    padding-right: 4px;
}

.title-above .pager button {
    min-width: inherit;
    margin: 0px;
}

.time-date {
    width: 300px;
    min-height: 504px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.date-control-days {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.date-control .selected {
    background: rgba(0, 0, 0, 0.54);
    color: rgba(255, 255, 255, 1);
}

.time-inputs .md-button {
    margin: 0px;
    min-width: initial;
    text-align: center;
}

.time-inputs .choicer {
    padding-left: 24px;
    padding-right: 24px;
    float: left;
}

.time-inputs .t3 {
    float: right;
}

.time-inputs md-input-container {
    margin: 0px;
    padding: 0px;
}

.time-inputs .separator {
    float: left;
    padding: 52px 0px;
}

.time-inputs input {
    border-bottom: none;
    width: 64px;
    padding: 4px 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

span.first.month-part {
    text-align: center;
}

.time-inputs {
    padding-left: 32px;
    padding-right: 32px;
}

.time-control {
    padding-left: 8px;
    padding-right: 8px;
}

.datepicker-pop .modal-dialog {
    width: auto;
}