{# This file is only used to act as a compiler of html for the client. It has 0 backend logic to it. It will perform linking static files and writing down all templates inside a file. This was done for easier maintenance. #}
<!DOCTYPE html>
<html>

<head>
    <title ng-bind="pageTitle"></title>
    <base href="/" />
    <meta id="is-landscape" />
    <meta id="is-mobile" />
    <meta id="is-tablet" />
    <meta id="is-desktoplike" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="fragment" content="!" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700italic,700,900italic,900' rel='stylesheet' type='text/css'> {% for style in settings.ANGULAR_CSS_PATHS %}
    <link rel="stylesheet" type="text/css" href="{{static_dir('%s' % style)}}" /> {% endfor %}
</head>
<body ng-controller="MainMenuCtrl" layout="row">
    <md-sidenav md-swipe-left="closeMenu()" layout="column" class="left md-closed" md-component-id="left">
        <md-content>
            <div class="bar-logo">
                <img src="/client/dist/static/logo_240.png" />
            </div>
            <div class="list list-padding seam-bottom">
                <div class="list-subheader subheader">Explore</div>
                <sidenav-item ui-sref="following">Following</sidenav-item>
                <sidenav-item ui-sref="home">All</sidenav-item>
            </div>

            <div class="list list-padding seam-bottom" ng-show="!currentAccount._is_guest" ng-controller="BuyerManagementCtrl">
                <div class="list-subheader subheader">Buy</div>
                <sidenav-item ng-click="manageCollection()">Following</sidenav-item>
                <sidenav-item ui-sref="buy-carts">Carts</sidenav-item>
                <sidenav-item ui-sref="buy-orders">Orders</sidenav-item>
                <sidenav-item ng-click="settings()">Addresses</sidenav-item>
            </div>

            <div class="list list-padding seam-bottom" ng-controller="SellerManagementCtrl" ng-show="!currentAccount._is_guest">
                <div class="list-subheader subheader">Sell</div>
                <sidenav-item ui-sref="sell-catalogs">Catalogs</sidenav-item>
                <sidenav-item ui-sref="sell-orders">Orders</sidenav-item>
                <sidenav-item ng-click="settings()">Settings</sidenav-item>
            </div>

            <div class="list list-padding seam-bottom" ng-controller="AccountManagementCtrl" ng-show="!currentAccount._is_guest">
                <div class="list-subheader subheader">Account</div>
                <sidenav-item ng-click="logout()">Sign Out</sidenav-item>
                <sidenav-item ng-click="settings()">Settings</sidenav-item>
            </div>

            <div class="list list-padding seam-bottom" ng-controller="LoginLinksCtrl" ng-show="currentAccount._is_guest">
                <div class="list-subheader subheader">Account</div>
                <sidenav-item ng-click="login(1)">Sign in with Google</sidenav-item>
            </div>

            <div class="list list-padding seam-bottom" ng-show="currentAccount._root_admin && GLOBAL_CONFIG.admin.menu">
                <div class="list-subheader subheader">Administration</div>
                <sidenav-item ng-repeat="item in GLOBAL_CONFIG.admin.menu" ui-sref="admin-list({query: JSON.stringify({}), kind : item.kind})" ng-bind="item.name"></sidenav-item>
            </div>

              <div class="list list-padding">
                <div class="list-subheader subheader">Support</div>
                <sidenav-item ui-sref="about">About</sidenav-item>
                <sidenav-item ui-sref="tour">Tour</sidenav-item>
                <sidenav-item ui-sref="terms">Privacy &amp; Terms</sidenav-item>
                <sidenav-item ui-sref="trademark">Copyright &amp; Trademark</sidenav-item>
                <sidenav-item ui-sref="support">Support</sidenav-item>
              </div>
            </div>
        </md-content>
    </md-sidenav>

    <div layout="column" layout-fill tabIndex="-1" role="main">
        <md-toolbar>
            <div class="md-toolbar-tools homepage-toolbar with-actions no-right-actions">
                <div class="fill-height">
                    <div class="md-toolbar-item md-tools">
                        <button md-ink-ripple-action ng-click="openMenu()" type="button" class="button-transparent homepage-menu button-square">
                            <icon type="navigation.menu"></icon>
                        </button>
                    </div>
                    <div class="md-toolbar-item md-breadcrumb">
                        <span class="md-toolbar-title">
                            Home
                        </span>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-content ui-view md-scroll-y flex></md-content>
    </div>

    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    {% for js in settings.ANGULAR_JAVASCRIPT_PATHS %}
    <script type="text/javascript" src="{{static_dir('%s' % js)}}"></script>
    {% endfor %}

    {% if settings.DEBUG %}
    <script type="text/javascript" src="/build/dynamics.js"></script>
    {% endif %}

</body>

</html>
