{# This file is only used to act as a compiler of html for the client. It has 0 backend logic to it. It will perform linking static files and writing down all templates inside a file. This was done for easier maintenance. #}
<!DOCTYPE html>
<html>

<head>
    <script>
        window.DEBUG = {% if settings.DEBUG %}true{% else %}false{% endif %};
        if (window.location.hash && window.location.hash.indexOf('#context-monitor-') !== -1) {
            window.location.hash = '';
        }
    </script>
    <title ng-bind="site.title"></title>
    <base href="/" />
    <meta id="is-landscape" />
    <meta id="is-mobile" />
    <meta id="is-tablet" />
    <meta id="is-desktoplike" />

    
    {# 
    <meta property="al:android:url" content="abs url" />
    <meta property="al:android:package" content="com name of the app" />
    #}


    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="fragment" content="!" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700italic,700,900italic,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% if settings.DEBUG %}
        {% for style in settings.ANGULAR_CSS_PATHS %}
        <link rel="stylesheet" type="text/css" href="{{static_dir('%s' % style)}}" /> {% endfor %}
    {% else %}
    {% for style in settings.ANGULAR_VENDOR_CSS %}
     <link rel="stylesheet" type="text/css" href="{{static_dir('%s' % style)}}" /> {% endfor %}
     <link rel="stylesheet" type="text/css" href="{{static_dir('dist/style.css')}}" />
    {% endif %}
</head>
<body ng-controller="RootController" layout="row">
    <div class="loading-splash" home-splash>
        <div class="progress-wrapper progress circular">
            <div class="progress circular">
                <div class="spinner">
                    <div class="arc one"></div>
                    <div class="arc two"></div>
                    <div class="mask one"></div>
                    <div class="mask two"></div>
                    <div class="pin"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <md-sidenav md-swipe-left="site.toolbar.menu.close()" layout="column" class="left md-closed" md-component-id="site.toolbar.menu.id">
        <md-content>
            <div class="bar-logo">
                <img src="/client/dist/static/logo_240.png" />
            </div>
            <div class="list list-padding seam-bottom">
                <div class="list-subheader subheader">Explore</div>
                <sidenav-item ng-show="!currentAccount._is_guest" close-master-menu ui-sref="following">Following</sidenav-item>
                <sidenav-item close-master-menu ui-sref="home">All</sidenav-item>
            </div>

            <div class="list list-padding seam-bottom" ng-show="!currentAccount._is_guest" ng-controller="BuyerManagementController">
                <div class="list-subheader subheader">Buyer</div>
                <sidenav-item close-master-menu ng-click="manageCollection()">Following</sidenav-item>
                <sidenav-item close-master-menu ui-sref="buy-carts">Carts</sidenav-item>
                <sidenav-item close-master-menu ui-sref="buy-orders">Orders</sidenav-item>
                <sidenav-item close-master-menu  ng-click="settings()">Addresses</sidenav-item>
            </div>

            <div class="list list-padding seam-bottom" ng-controller="SellerManagementController" ng-show="!currentAccount._is_guest">
                <div class="list-subheader subheader">Seller</div>
                <sidenav-item close-master-menu ui-sref="sell-catalogs">Catalogs</sidenav-item>
                <sidenav-item close-master-menu ui-sref="sell-orders">Orders</sidenav-item>
                <sidenav-item close-master-menu ng-click="settings()">Settings</sidenav-item>
            </div>

            <div class="list list-padding seam-bottom" ng-controller="AccountManagementController" ng-show="!currentAccount._is_guest">
                <div class="list-subheader subheader">Account</div>
                <sidenav-item close-master-menu ng-click="logout()">Sign out</sidenav-item>
                <sidenav-item close-master-menu ng-click="settings()">Settings</sidenav-item>
            </div>

            <div class="list list-padding seam-bottom" ng-controller="LoginLinksController" ng-show="currentAccount._is_guest">
                <div class="list-subheader subheader">Account</div>
                <sidenav-item close-master-menu ng-click="login()">Sign in / Sign up</sidenav-item>
            </div>

            <div class="list list-padding seam-bottom" ng-show="currentAccount._root_admin && GLOBAL_CONFIG.admin.menu">
                <div class="list-subheader subheader">Administration</div>
                <sidenav-item ng-repeat="item in GLOBAL_CONFIG.admin.menu" ui-sref="admin-list({query: helpers.url.jsonToUrlsafe({}), kind : item.kind})" close-master-menu ng-bind="item.name"></sidenav-item>
            </div>

              <div class="list list-padding">
                <div class="list-subheader subheader">Support</div>
                <sidenav-item close-master-menu ui-sref="about">About</sidenav-item>
                <sidenav-item close-master-menu ui-sref="tour">Tour</sidenav-item>
                <sidenav-item close-master-menu ui-sref="tos">Terms</sidenav-item>
                <sidenav-item close-master-menu ui-sref="privacy_policy">Privacy</sidenav-item>
                <sidenav-item close-master-menu ui-sref="support">Support</sidenav-item>
              </div>
            </div>
        </md-content>
    </md-sidenav>
    <div layout="column" layout-fill tabIndex="-1" role="main">
        <md-toolbar class="main-toolbar" ng-class="{'no-right-actions': site.toolbar.hideRight,
                               'no-left-actions': site.toolbar.hideLeft, 'ngloaded': true, 'hidden': site.toolbar.hidden}">
            <div class="md-toolbar-tools with-actions">
                <div class="fill-height">
                    <div ng-if="!site.toolbar.hideLeft" class="md-toolbar-item md-tools actions-left ng-scope">
                        <button md-ink-ripple-action
                                ng-click="site.toolbar.menu.open()"
                                type="button"
                                class="button-transparent homepage-menu button-square">
                                <icon type="menu"></icon>
                        </button>
                    </div>

                    <div class="md-toolbar-item md-breadcrumb">
                        <span ng-bind="site.toolbar.title" class="md-toolbar-title"></span>
                    </div>

                    <div ng-if="!site.toolbar.hideRight" class="md-toolbar-item md-tools actions-right ng-scope">
                        <button ng-click="site.toolbar.actionRight()"
                                md-ink-ripple-action type="button"
                                class="action button-transparent button-action ripple-presence" 
                                loading>
                            <icon type="more_vert">more_vert</icon>
                        </button>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <div class="ui-view-wrapper" ui-view></div>
    </div>

    <snackbar></snackbar>
 

    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    {% if settings.DEBUG %}
        {% for js in settings.ANGULAR_JAVASCRIPT_PATHS %}
        <script type="text/javascript" src="{{static_dir('%s' % js)}}"></script>
        {% endfor %}
        <script type="text/javascript" src="/build/dynamics.js"></script>
    {% else %}
        {% for js in settings.ANGULAR_VENDOR_JS %}
        <script type="text/javascript" src="{{static_dir('%s' % js)}}"></script>
        {% endfor %}
        <script type="text/javascript" src="{{static_dir('dist/app.js')}}"></script>
        <script type="text/javascript" src="{{static_dir('dist/templates.js')}}"></script>
    {% endif %}

</body>

</html>
