{% extends 'seo/index.html' %}

{% block meta %}

<title>{{title}}</title>

<meta name="keywords" content="{{product.name|keywords}}" />
<meta name="description" content="{{description}}" />


{# 

  REQUIRED DATA:
  title
  description
  category
  product_code
  image
  price
  availability ?

#}

{# twitter has card of type product, so we are good with that https://dev.twitter.com/cards/types/product #}
<meta name="twitter:card" content="product">

{#
  <meta name="twitter:site" content="@iHeartRadio">
  <meta name="twitter:creator" content="@iHeartRadio">
#}

<meta name="twitter:title" content="{{title}}">
{% if image %}
<meta name="twitter:image" content="{{image}}">
{% endif %}
<meta name="twitter:label1" content="Description">
<meta name="twitter:data1" content="{{description}}">
<meta name="twitter:label2" content="Category">
<meta name="twitter:data2" content="{{category}}">
<meta name="twitter:label3" content="Code">
<meta name="twitter:data3" content="{{code}}">
<meta name="twitter:label4" content="Price">
<meta name="twitter:data4" content="{{price}} ({{currency.code}})">

{# pinterest uses similar or exactly the same og spec for product https://developers.pinterest.com/rich_pins_product/ #}

<meta property="og:type"                         content="product" /> 
<meta property="og:url"                          content="{{path}}" /> 
<meta property="og:title"                        content="{{title}}" /> 
<meta property="og:image"                        content="{{image|autohttps}}" />
<meta property="og:updated_time"                 content="{{updated}}" />
<meta property="product:price:amount"   content="{{price}}" /> 
<meta property="product:price:currency" content="{{currency.code}}" /> 
<meta property="product:category"                content="{{category}}" />


{% endblock %}

{% block crumbs %}

<div class="breadcrumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
  <a href="{{uri_for('home')}}" itemprop="url">
    <span itemprop="title">Home</span>
  </a> ›
  <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{uri_for('home')}}" itemprop="url">
      <span itemprop="title">Catalogs</span>
    </a>
  </div> ›
  <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{uri_for('catalog.view', key=catalog.key)}}" itemprop="url">
      <span itemprop="title">{{catalog.name}}</span>
    </a> ›
    <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{{path}}" itemprop="url">
        <span itemprop="title">{{product.name}}</span>
      </a>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<section>
  <div itemscope itemtype="http://schema.org/Product">
    <div class="product-detail"><span itemprop="category">{{category}}</span></div>
    <div class="product-detail">
      <span itemprop="name">{{title}}</span>
    </div>
    <div class="product-images">
      {% for img in product.images %}
      <div class="product-image">
          <img itemprop="image" src="{{img.serving_url|autohttps}}=s550" alt="{{product.name}} Image {{loop.index}}" />
      </div>
      {% endfor %}
    </div>
    <div class="product-detail">
      <span itemprop="description">
        {{product.description}}
      </span>
    </div>
    
    <div class="product-detail">Product #: <span itemprop="mpn">{{code}}</span></div>
   
    <span itemprop="offers" class="product-detail" itemscope itemtype="http://schema.org/Offer">
        <div class="product-detail">
            Regular price:
          <meta itemprop="priceCurrency" content="{{currency.code}}" />
          {{currency.symbol}} <span itemprop="price">{{price}}</span>
        </div>
     
        <div class="product-detail">
          Available from: <span itemprop="seller" itemscope itemtype="http://schema.org/Organization">
                          <span itemprop="name">{{catalog._seller.name}}</span>
                        </span>
        </div>
        
        <div class="product-detail">
          Condition: <link itemprop="itemCondition" href="http://schema.org/NewCondition"/>New
        </div>

        <div class="product-detail">
          <link itemprop="availability" href="http://schema.org/InStock"/>In stock!
          {# 

          {% if product.availability == 'in stock' %}
          <link itemprop="availability" href="http://schema.org/InStock"/>In stock!
          {% endif %}

          {% if product.availability == 'out of stock' %}
          <link itemprop="availability" href="http://schema.org/OutOfStock"/>Out of stock.
          {% endif %}

          {% if product.availability == 'available for order' or product.availability == 'preorder' %}
          <link itemprop="availability" href="http://schema.org/PreOrder"/>Preorder
          {% endif %}
          #}
        </div>
      </span>
  </div>
</section>

{% endblock %}