<div fit-in-dialog>
<div class="modal-body overflow-hidden fixed-height has-footer">
    <div class="overflow-y fixed-height overflow-y include-footer-height">
        <div class="modal-body-inner modal-body-inner-padded">
            <h2>Errors occurred while attempting to perform an action</h2>
            <ul>
              <li ng-repeat="error in errors">
                <span ng-if="error[0] !== 'traceback'" ng-bind-html="error[1]"></span>
                <pre ng-if="error[0] === 'traceback'">{{error[1]}}</pre>
             </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="button" ng-click="ok()">Ok</button>
</div>
</div>