<form ng-submit="save()" action="{{form_info.action}}" ng-upload="completed(content)" name="manage_product">
	
<input type="hidden" name="action_key" value="upload_images" />
<input type="hidden" name="action_model" value="38" />
<input type="hidden" name="key" value="{{entity.key}}" />
	
<div class="modal-body scrollable">
<div class="modal-body-inner">
 
<div ng-init="isOpen=true" accordion>
   <div is-open="isOpen" accordion-group heading="General">
   
    	<div class="form-control">
    	
    	<label class="form-label">Category</label>
		<div class="form-input">
			<div class="form-text">
				<select name="product_category" ng-required="rule.input[action].product_category.required"
					    ng-disabled="!rule.field.product_category.writable" ui-select2 
					    ng-model="entity.product_category" data-placeholder="Select a product category">
				    <option value=""></option>
				    <option ng-repeat="category in categories track by $index" value="{{category.key}}">{{category.complete_name}}</option>
				</select>
			</div>
		</div>
		</div>
		
		
    	<div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="name" 
				 		ng-required="rule.input[action].name.required"
				 	    class="text-input" type="text" ng-model="entity.name"
				 	    ng-disabled="!rule.field.name.writable" />
			</div>
		</div>
		</div>
		
		<div class="form-control">
		<label class="form-label">Default Unit of Measure</label>
		<div class="form-input">
			<div class="form-text">
				 <select name="product_uom" ng-required="rule.input[action].product_uom.required"
					    ng-disabled="!rule.field.product_uom.writable" ui-select2 
					    ng-model="entity.product_uom" data-placeholder="Select a product unit of measure">
				    <option value=""></option>
				    <option ng-repeat="unit in units track by $index" value="{{unit.key}}">{{unit._measurement.name}} - {{unit.name}}</option>
				 </select>
			</div>
		</div>
		</div>
		
		<div class="form-control">
		<label class="form-label">Unit Price</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="unit_price" 
				 		ng-required="rule.input[action].unit_price.required"
				 	    class="text-input" type="text" ng-model="entity.unit_price"
				 	    ng-disabled="!rule.field.unit_price.writable" />
			</div>
		</div>
		</div>
		
		<div class="form-control">
		<label class="form-label">Description</label>
		<div class="form-input">
			<div class="form-text">
				 <textarea ng-required="rule.input[action].description.required"
				 		   class="text-input text-textarea" ng-model="entity.description" name="description"
				 		   ng-disabled="!rule.field.description.writable"></textarea>
			</div>
		</div>
		</div>
		
		<div class="form-control">
		<label class="form-label">Weight</label>
		<div class="form-input">
			<div class="form-text">
				<table class="table3">
				 	<tbody>
				 		<tr>
				 			<td class="t60 cpr10"><input name="weight" 
											 		ng-required="rule.input[action].weight.required"
											 	    class="text-input" type="text" ng-model="entity.weight"
											 	    ng-disabled="!rule.field.weight.writable" /></td>
				 			<td class="t40 cpl10">
				 				 <select name="weight_uom" ng-required="rule.input[action].weight_uom.required"
									    ng-disabled="!rule.field.weight_uom.writable" ui-select2 
									    ng-model="entity.weight_uom" data-placeholder="Select a weight unit of measure">
								    <option value=""></option>
								    <option ng-repeat="unit in units track by $index" value="{{unit.key}}">{{unit._measurement.name}} - {{unit.name}}</option>
								 </select>
				 			</td>
				 		</tr>
				 	</tbody>
				 </table>
			</div>
		</div>
		</div>
		
		<div class="form-control">
		<label class="form-label">Volume</label>
		<div class="form-input">
			<div class="form-text">
				 <table class="table3">
				 	<tbody>
				 		<tr>
				 			<td class="t60 cpr10"><input name="volume" 
											 		ng-required="rule.input[action].volume.required"
											 	    class="text-input" type="text" ng-model="entity.volume"
											 	    ng-disabled="!rule.field.volume.writable" /></td>
				 			<td class="t40 cpl10">
				 				 <select name="product_uom" ng-required="rule.input[action].volume_uom.required"
									    ng-disabled="!rule.field.product_uom.writable" ui-select2 
									    ng-model="entity.volume_uom" data-placeholder="Select a volume unit of measure">
								    <option value=""></option>
								    <option ng-repeat="unit in units track by $index" value="{{unit.key}}">{{unit._measurement.name}} - {{unit.name}}</option>
								 </select>
				 			</td>
				 		</tr>
				 	</tbody>
				 </table>
			</div>
		</div>
		</div>
  
		<div class="form-control">
		<label class="form-label">Code</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="code" 
				 		ng-required="rule.input[action].code.required"
				 	    class="text-input" type="text" ng-model="entity.code"
				 	    ng-disabled="!rule.field.code.writable" />
			</div>
		</div>
		</div>
		
		<div class="form-control">
		<label class="form-label">Availability</label>
		<div class="form-input">
			<div class="form-text">
			   <input name="availability" 
				 		ng-required="rule.input[action].availability.required"
				 	    class="text-input" type="text" ng-model="entity.availability"
				 	    ng-disabled="!rule.field.availability.writable" />
			</div>
		</div>
		</div>
		
		<div class="form-control">
		<label class="form-label">Low stock quantity</label>
		<div class="form-input">
			<div class="form-text">
			   <input name="low_stock_quantity" 
				 		ng-required="rule.input[action].low_stock_quantity.required"
				 	    class="text-input" type="text" ng-model="entity.low_stock_quantity"
				 	    ng-disabled="!rule.field.low_stock_quantity.writable" />
			</div>
		</div>
		</div>
		
		
	</div>
 
	<div ng-show="entity.id" accordion-group heading="Variants">
		
		<div class="clearfix">
			<div class="pull-right">
				<button ng-show="rule.field._variants.writable" ng-click="manageVariant()" type="button" class="button">Add Variant</button>
			</div>
		</div>
		
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="variant in entity._variants track by $index">
					<td>{{variant.name}}</td>
					<td>
						<span ng-show="rule.field._variants.writable">
						<button type="button" ng-click="removeVariant(variant)" class="button">Remove</button>
						<button type="button" ng-click="manageVariant(variant)" class="button">Edit</button>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		 
	</div>
	 
	<div ng-show="entity.id" accordion-group heading="Images">
		<div class="form-control clearfix mb15">
		  <div class="pull-right">
		  <div ng-show="rule.field._images.writable" class="button fake-button">
		  	 <span>Add Images</span>
		  	 <input class="upload" name="images" multiple ng-change="addFiles()" type="file" ng-model="entity._supplied_filename" />
		  </div>
		  </div>
		  
		</div>
		
		<div ng-show="$isUploading">Images are uploading... please wait...</div>
		
		<div ui-sortable="sortableOptions" ng-model="entity._images" class="clearfix">
			<div ng-repeat="image in entity._images  track by $index" class="image-image">
				<img class="img" ng-src="{{image._image_240}}" />
				<button ng-show="rule.field._images.writable" type="button" class="button" ng-click="removeImage(image)">Remove</button>
			</div>
		</div>
	</div>
	
	<div ng-show="entity.id" accordion-group heading="Contents">
		
		 <div class="clearfix">
			<div class="pull-right">
				<button ng-show="rule.field._contents.writable" ng-click="manageContent()" type="button" class="button">Add Content</button>
			</div>
		</div>
		
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="content in entity._contents track by $index">
					<td>{{content.title}}</td>
					<td>
						<span ng-show="rule.field._contents.writable">
						<button type="button" ng-click="removeContent(content)" class="button">Remove</button>
						<button type="button" ng-click="manageContent(content)" class="button">Edit</button>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		 
	</div>
	
	<div ng-show="entity.id" accordion-group heading="Product Instances">
		 
	</div>
	
	
	 
</div>


<div ng-show="rule.action.read_records.executable && entity.id" class="form-control">
  <div ng-include="logic_template('misc/logs.html')"></div>
</div>
	
 
</div>
</div>


<div class="modal-footer">
 
    <button ng-disabled="$isUploading" type="button" 
    		ng-click="remove()" ng-show="update_mode" busy class="button">
		Remove
	</button>
 
	<button type="submit"
			ng-show="rule.action.update || rule.action.create" 
			ng-disabled="!manage_product.$valid || $isUploading" busy class="button">
		Save
	</button>
	
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>