<form action="{{form_info.action}}" ng-upload="completed(content)" name="container.main">
	
<input type="hidden" name="action_id" value="product_instance_upload_images" />
<input type="hidden" name="action_model" value="35" />
<input type="hidden" name="key" value="{{child.parent.parent.key}}" />
<input type="hidden" name="product_instance" value="{{child.key}}" />
	
<div scroll-end class="modal-body scrollable">
<div class="modal-body-inner">
	
 
<div accordion>
   <div is-open="accordions.general" accordion-group heading="General">
  
    	<div class="form-control">
		<label class="form-label">Code</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="name" 
				 		ng-required="rule.input[action].code.required"
				 	    class="text-input" type="text" ng-model="child.code"
				 	    ng-disabled="!rule.field._products._instances.code.writable" />
			</div>
		</div>
		</div>
 
		<div class="form-control">
		<label class="form-label">Unit Price</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="unit_price" 
				 		ng-required="rule.input[action].unit_price.required"
				 	    class="text-input" type="text" ng-model="child.unit_price"
				 	    ng-disabled="!rule.field._products._instances.unit_price.writable" />
			</div>
		</div>
		</div>
		
		<div class="form-control">
		<label class="form-label">Description</label>
		<div class="form-input">
			<div class="form-text">
				 <textarea ng-required="rule.input[action].description.required"
				 		   class="text-input text-textarea" ng-model="child.description" name="description"
				 		   ng-disabled="!rule.field._products._instances.description.writable"></textarea>
			</div>
		</div>
		</div>
		
		<div class="form-control">
		<label class="form-label">Weight</label>
		<div class="form-input">
			<div class="form-text">
				<table class="table3">
				 	<tbody>
				 		<tr>
				 			<td class="t60 cpr10"><input name="weight" 
											 		ng-required="rule.input[action].weight.required"
											 	    class="text-input" type="text" ng-model="child.weight"
											 	    ng-disabled="!rule.field._products._instances.weight.writable" /></td>
				 			<td class="t40 cpl10">
			 
								<input
							       name="weight_uom" 
							       ng-required="rule.input[action].weight_uom.required"
							       ng-disabled="!rule.field._products._instances.weight_uom.writable"
							       ui-select2="commonSelect2Options.weight"
							       ng-model="child.weight_uom"
							       data-placeholder="Select a weight unit of measure" />								 
				 			</td>
				 		</tr>
				 	</tbody>
				 </table>
			</div>
		</div>
		</div>
		
		<div class="form-control">
		<label class="form-label">Volume</label>
		<div class="form-input">
			<div class="form-text">
				 <table class="table3">
				 	<tbody>
				 		<tr>
				 			<td class="t60 cpr10"><input name="volume" 
											 		ng-required="rule.input[action].volume.required"
											 	    class="text-input" type="text" ng-model="child.volume"
											 	    ng-disabled="!rule.field._products._instances.volume.writable" /></td>
				 			<td class="t40 cpl10">
				 	 
								<input
							       name="volume_uom" 
							       ng-required="rule.input[action].volume_uom.required"
							       ng-disabled="!rule.field._products._instances.volume_uom.writable"
							       ui-select2="commonSelect2Options.volume"
							       ng-model="child.volume_uom"
							       data-placeholder="Select a volume unit of measure" />									 
								 
				 			</td>
				 		</tr>
				 	</tbody>
				 </table>
			</div>
		</div>
		</div>
		 
		<div class="form-control">
		<label class="form-label">Availability</label>
		<div class="form-input">
			<div class="form-text">
 
				 	    
			   <select name="availability" ng-required="rule.input[action].availability.required"
					    ng-disabled="!rule.field._products._instances.availability.writable" ui-select2 
					    ng-model="child.availability" data-placeholder="Select availability">
				    <option value=""></option>
				    <option ng-repeat="choice in rule.input[action].availability.choices track by $index" value="{{choice}}">{{choice}}</option>
				</select>
				
			</div>
		</div>
		</div>
 
		<div class="form-control">
		<label class="form-label">Low stock quantity</label>
		<div class="form-input">
			<div class="form-text">
			   <input name="low_stock_quantity" 
				 		ng-required="rule.input[action].low_stock_quantity.required"
				 	    class="text-input" type="text" ng-model="child.low_stock_quantity"
				 	    ng-disabled="!rule.field._products._instances.low_stock_quantity.writable" />
			</div>
		</div>
		</div>
		
		<div ng-show="child.id">
			<h2 class="fieldset with-button">
				<span class="fieldset-text">Images</span>
				<span class="fieldset-button">
					 <div ng-show="rule.field._products._instances.images.writable" class="button fake-button">
					  	 <span>Add Images</span>
					  	 <input class="upload" name="images" multiple upload-on-select="uploadConfig" type="file" ng-model="child._supplied_filename" />
					 </div>
				</span>
			</h2>
			
			<div ng-show="$isUploading">Images are uploading... please wait...</div>
			
			<div ui-sortable="sortableOptions" ng-model="child.images" class="clearfix grid-wrapper">
				<div ng-repeat="image in child.images track by $index" ng-hide="image._state == 'deleted'" uploaded-image-grid="gridConfig" class="image-image grid-item">
					<div class="img spaceout">
						<img ng-src="{{image.serving_url}}=s360" />
					</div>
					<button ng-show="rule.field._products._instances.images.writable" type="button" class="button" ng-click="removeImage(image)">Remove</button>
				</div>
			</div>
		</div>
		
		<div ng-show="child.id">
			<h2 class="fieldset with-button">
				<span class="fieldset-text">Contents</span>
				<span class="fieldset-button">
					<button ng-show="rule.field._products._instances.contents.writable" ng-click="manageContent()" type="button" class="button">Add Content</button>
				</span>
			</h2>
			
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="content in child.contents track by $index" ng-hide="content._state == 'deleted'">
						<td>{{content.title}}</td>
						<td>
							<span ng-show="rule.field._products._instances.contents.writable">
							<button type="button" ng-click="removeContent(content)" class="button">Remove</button>
							<button type="button" ng-click="manageContent(content)" class="button">Edit</button>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
	</div>
    
	
	
</div>
 
 
</div>
</div>
 
<div class="modal-footer">
 
    <button ng-disabled="$isUploading" type="button" 
    		ng-click="remove()" ng-show="child.id && rule.action['delete'].executable" busy class="button">
		Remove
	</button>
 
	<button type="button"
			ng-click="save()" 
			ng-show="rule.action.update.executable || rule.action.create.executable" 
			ng-disabled="container.main.$invalid || $isUploading" busy class="button">
		Save
	</button>
	<!-- ng-disabled="" does not work well with busy directive -->
	
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
	
</div>


</form>