<form>
<div class="modal-body scrollable">
<div class="modal-body-inner">
  
  	<h2 class="fieldset">
		 <span class="fieldset-text">General</span>
	 </h2>
  
    <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="option" ng-required="true" class="text-input" type="text" ng-model="option.name" />
			</div>
		</div>
	</div>
  
</div>
 
  
</div>

<div class="modal-footer">
 
	<button type="button" ng-click="save()" class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>