.panel {
  margin-bottom: 0;
  /*overflow: hidden;*/
  border: 1px solid #BBBBBB;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.panel + .panel {
  margin-top: 10px;
}

.panel-default > .panel-heading {
  color: #333333;
  background-color: #FFFFFF;
}

.panel .panel-heading {
  border-bottom: 0;
}

.panel .panel-footer {
  border-top: 0;
}

.panel-is-not-open:hover {
  border: 1px solid #999999;
}

.panel-is-not-open .panel-title > a:hover {
  background-color: #F9F9F9;
}

.panel-is-not-open:active {
  border: 1px solid #999999;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
}

.panel-is-not-open .panel-title > a:active {
  background-color: #FFFFFF;
}

.panel-is-open {
  border: 1px solid #EEEEEE;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.05);
}

.panel-is-open .panel-title > a {
  border-bottom: 1px solid #EEEEEE;
}

.panel-is-open .panel-title > a {
  /*border: 1px solid #999999;*/
}

.panel-heading {
}

.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}

.panel-body {
  padding: 10px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  font-size: 24px;
  line-height: 26px;
  color: #777777;
}

.panel-title > a {
  color: inherit;
  display: block;
  padding: 15px 20px;
  text-align:center;
}

.panel-scroller {
  max-height:200px;
  overflow-y:auto;
  overflow-x:hidden;
}

.accordion-toggle {
  cursor: pointer;
}
