a.block, .block, button.block {
    display: block;
}
.logo {
    display: inline-block;
}
.logo img {
    width: auto;
    height: 14px;
}
.bar-logo {
    margin: 16px;
}
.bar-logo img {
    width: 100%;
}
.menu-item {
    position: relative;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    line-height: 1;
}
.ui-select-highlight {
    font-weight: bold;
}
a.sort-handle {
    cursor: move;
}
.image-image {
    display: block;
    position: relative;
    margin: 1px;
    float: left;
}
.image-image .spaceout {
    width: 100%;
    height: auto;
}
.load-more {
    width: 100%;
}
.image-image .img {
    display: block;
}
.image-image-placeholder .img {
    border: 1px dashed #CCC;
    background: #FAFAFA;
}
.image-image a.sort-handle {
    cursor: move;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.button-wrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

[ui-sortable] > *:not(.no-move) {
    cursor: move;
}
.t60 {
    width: 60%;
}
.t40 {
    width: 40%;
}
.t100 {
    width: 100%;
}
.t0 {
    width: 0%;
}
.overflow-master {
    width: 1500000000px;
}
.image-image-scroll {
    float: left;
    height: 100%;
    position: relative;
    display: block;
}
.image-image-scroll .img {
    height: 100%;
    display: block;
    width: auto;
}
.overflow-master ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.placeholder-image {
    background: gray;
    color: white;
    font-weight: bold;
    padding: 20px;
    width: 240px;
    height: 200px;
}
.app-block {
    width: 240px;
    height: 150px;
}
.app-block .logo {
    width: 100%;
    height: auto;
}
.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}
.image-image img {
    width: 100%;
}
.pointable {
    cursor: pointer;
}
img.horizontal, .horizontal {
    height: 100%;
    width: 100%;
}
img.vertical, .vertical {
    height: 100%;
    width: 56%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
.grid-generator {
    float: left;
    margin: 1px;
    position: relative;
}
.image-slider-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    overflow-x: visible;
}
.image-slider .image-slider-item {
    float: left;
    position: relative;
}
div.catalog-pricetag {
    position: absolute;
    top: 20%;
    left: 20px;
    z-index: 80;
    padding: 0px;
    visibility: hidden;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    background:white;
    cursor:pointer;
}
li.catalog-new-pricetag {
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    background:white;
    cursor:pointer;
}
.catalog-pricetag-dot {
    border-radius: 50%;
    background: #333333;
    width: 2px;
    height: 2px;
    position: absolute;
    top: 3px;
    left: 3px;
}
.catalog-pricetag a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}
.catalog-pricetag button.button-transparent {
    text-decoration: none;
    display: block;
    padding: 6px 10px 4px;
}
.catalog-new-pricetag {
    display: block;
}
.catalog-new-pricetag .catalog-pricetag {
    display: none;
}
.catalog-new-pricetag.ui-draggable-dragging .catalog-pricetag {
    display: block;
}
.catalog-new-pricetag.ui-draggable-dragging .just-text {
    display: none;
}
.catalog-pricetag-wrapper {
    position: relative;
}
.no-things-available {
    color: #CCC;
    text-align: center;
}
.modal-footer-right {
    padding: 5px;
    /* Note: Take a look at .modal-footer .button! */
    
    text-align: right;
    border-top: 1px solid #EEEEEE;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: #FFFFFF;
    font-size: 0px;
}
.modal-footer-right .button {
    margin: 5px;
}
.catalog-view-menu, .catalog-view-controls {
    position: fixed;
    left: auto;
    z-index: 100;
}
.catalog-view-controls {
    right: 10px;
    bottom: 10px;
}
.catalog-view-menu {
    top: 10px;
    right: 10px;
    bottom: auto;
    padding: 0px 5px;
    width: 40px;
    z-index: 300;
}
.catalog-view-menu-icon {
    display: block;
}
.catalog-view-menu-icon-bar {
    width: 100%;
    height: 5px;
    background: #FFFFFF;
    -webkit-box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.5);
    margin-bottom: 7px;
    /* border-radius: 2px; */
}
.catalog-view-menu-content {
    display: none;
    position: fixed;
    right: 0px;
    background: #FFFFFF;
    background-clip: padding-box;
    overflow-y: auto;
    top: 0px;
    width: 270px;
    overflow-x: hidden;
    z-index: 200;
    height: 100%;
}
.catalog-view-menu-content-inner {
    padding: 51px 10px 10px;
}
.catalog-view-menu-items {
    list-style: none;
    display: block;
    padding: 10px 0px 0px;
    margin: 0px;
}
.menu .catalog-view-menu-item {
    margin: 0px 5px 10px;
}
.catalog-view-menu-items .catalog-view-menu-item:last-child {
    margin-bottom: 0px;
}
.seller-logo {
    width: 240px;
    height: 100px;
    display: block;
}
.seller-logo.button {
    padding: 0px;
}
.seller-detail-content {
    padding: 10px 10px 0px;
}
.seller-name {
    margin: 20px 5px;
}
.seller-feedback {
    padding: 10px 5px;
}
.catalog-view-menu-social-item {
    margin-bottom: 10px;
}
.product-detail-content {
    padding: 10px;
}
.catalog-product-show-details-wrapper {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
    z-index: 100;
}
.selected-total {
    display: none;
}
.catalog-name {
    font-size: 18px;
    line-height: 21px;
    padding: 5px;
}
.catalog-expire-time {
    padding: 0px 5px 5px;
    color: #777777;
}
.product-category {
    margin: 0px;
    padding: 20px 5px 5px;
    color: #777777;
}
.product-name {
    margin: 0px;
    padding: 0px 5px 5px;
}
.product-code {
    padding: 0px 5px 10px;
}
.product-description {
    padding: 10px 5px;
}
.product-price {
    padding: 10px 5px 5px;
    font-size: 18px;
    line-height: 21px;
}
.product-availability {
    padding: 0px 5px 10px;
    font-size: 18px;
    line-height: 21px;
    color: #777777;
}
.seller-contents, .product-contents {
    padding: 5px 0px;
}
.seller-content-item, .product-content-item {
    padding: 5px;
}
.seller-content-item .button, .product-content-item .button {
    display: block;
    width: 100%;
}
.product-variant-selection {
    /*padding: 0px 0px 10px;*/
}
.text-input.product-quantity-input {
    width: 50px;
    margin: 0px 5px;
    display: inline-block;
    float: left;
}
.button.product-quantity-button {
    padding: 13px 20px;
    float: left;
}
.order {
    margin-top: 10px;
    border-top: 1px solid #EEEEEE;
}
.order-message-head, .order-label {
    color: #777777;
}
.order-line-product-name {
    font-size: 18px;
    line-height: 21px;
    padding: 0px 0px 1px;
}
.order-line-product-code {
    padding: 0px;
}
.order-line-product-unit_price {
    font-size: 16px;
    padding: 10px 0px 5px;
}
.order-line-product-variant_signature {
    padding: 0px;
}
.order-line-product-quantity {
    padding: 0px;
}
.item-right .line-item {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 5px;
}
.item-right .order-line-discount_subtotal {
    text-align: right;
}
.item-right .order-label {
    padding: 0px 0px 5px;
}
.item-right .order-value {
    padding: 0px;
}
.order-totals {
    padding: 10px 5px;
    font-size: 16px;
    text-align: right;
    vertical-align: middle;
}
.order-totals .order-label {
    padding: 0px 0px 5px 0px;
}
.order-totals .order-value {
    padding: 0px 0px 5px 15px;
}
.order-messages {
    padding: 10px 0px;
}
.order-message-head {}
