.simple-dialog-option {
    cursor: pointer;
}
.selected-item {
    padding-right: 30px;
    min-height: 26px;
}
.select-icon {
    position: absolute;
    right: 2px;
    bottom: 2px;
}
.select-box {
    cursor: pointer;
}
md-input-container .as-md-input {
    position: relative;
}
.select-search-input input[type="search"] {
    border: none;
    padding: 12px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 36px;
    padding-right: 36px;
}
.select-search {
    background: white;
    width: 100%;
    z-index: 11;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 44px;
}
.select-search md-input-container {
    padding-bottom: 0px;
}
.select-search-cancel-icon {
    position: absolute;
    right: 10px;
    top: 11px;
}
.select-search-search-icon {
    position: absolute;
    left: 10px;
    top: 11px;
}
span.select-item-multiple {
    display: inline-block;
    background: #EEE;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
md-item-content md-checkbox {
    margin: 0px;
}
.button-transparent {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    margin: 0;
    background: transparent;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}
.button-action {
    padding: 12px;
    margin: 4px;
}
.md-toolbar-tools.with-actions {
    padding: 0px;
}
.md-toolbar-tools.with-left-action {
    padding-left: 0px;
}
.md-toolbar-tools.with-right-action {
    padding-right: 0px;
}
.no-right-actions .md-toolbar-tools {
    padding-right: 16px;
}
li .ui-select-highlight {
    display: inline;
}
.simple-dialog-option md-checkbox {
    margin: 0px;
}
md-input-container md-checkbox, md-input-container md-switch {
    margin: 0px;
}
.button-set button {
    margin-right: 4px;
    margin-left: 4px;
}
.button-set button:last-child {
    margin-right: 0px;
}
a.block, .block, button.block {
    display: block;
}
.logo {
    display: inline-block;
}
.logo img {
    width: auto;
    height: 20px;
}
.bar-logo {
    margin: 16px;
}
.bar-logo img {
    width: 100%;
}
.menu-item {
    position: relative;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
    line-height: 1;
}
.ui-select-highlight {
    font-weight: bold;
}
a.sort-handle {
    cursor: move;
    padding: 12px;
    margin: 4px;
    display: block;
    min-width: initial;
    min-height: initial;
}
.image-image {
    display: block;
    position: relative;
    margin: 1px;
    float: left;
}
.image-image .spaceout {
    width: 100%;
    height: auto;
}
.load-more {
    width: 100%;
}
.image-image .img {
    display: block;
}
[ui-sortable] > *:not(.no-move) {
    cursor: move;
}
.t60 {
    width: 60%;
}
.t40 {
    width: 40%;
}
.t100 {
    width: 100%;
}
.t0 {
    width: 0%;
}
.manage-product-actions {
    position: static;
}
.list-inline-block {
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.bottom-right-floating {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 11;
}
.bottom-right-floating-action {
    background: rgba(255, 255, 255, 1);
    padding: 5px;
    display: block;
}
.image-image-scroll {
    float: left;
    height: 100%;
    position: relative;
    display: block;
}
.image-image-scroll .img {
    height: 100%;
    display: block;
    width: auto;
}
.app-block {
    width: 240px;
    height: 150px;
}
.app-block .logo {
    width: 100%;
    height: auto;
}
.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}
.image-image img {
    width: 100%;
}
.pointable {
    cursor: pointer;
}
img.horizontal, .horizontal {
    height: 100%;
    width: 100%;
}
img.vertical, .vertical {
    height: 100%;
    width: 56%;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
.grid-generator {
    float: left;
    margin: 1px;
    position: relative;
}
.image-slider-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    overflow-x: visible;
}
.image-slider .image-slider-item {
    float: left;
    position: relative;
}
div.catalog-pricetag {
    position: absolute;
    top: 20%;
    left: 20px;
    z-index: 59;
    padding: 0px;
    visibility: hidden;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    background: white;
    cursor: pointer;
}
li.catalog-new-pricetag {
    padding: 5px 10px;
    display: block;
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    background: white;
    cursor: pointer;
}
.catalog-pricetag-dot {
    border-radius: 50%;
    background: #333333;
    width: 2px;
    height: 2px;
    position: absolute;
    top: 3px;
    left: 3px;
}
.catalog-pricetag a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}
.catalog-pricetag button.button-transparent {
    text-decoration: none;
    display: block;
    padding: 6px 10px 4px;
}
.catalog-new-pricetag {
    display: block;
}
.catalog-new-pricetag .catalog-pricetag {
    display: none;
}
.catalog-new-pricetag.ui-draggable-dragging .catalog-pricetag {
    display: block;
}
.catalog-new-pricetag.ui-draggable-dragging .just-text {
    display: none;
}
.catalog-pricetag-wrapper {
    position: relative;
}
.no-things-available {
    color: #CCC;
    text-align: center;
}
.md-toolbar-title {
    display: inline-block;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    overflow: hidden;
}
.delete-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.52);
    z-index: 1;
}
.about-to-delete .delete-overlay {
    display: block;
}
pre {
    overflow: auto;
    font-size: 13px;
    padding: 5px;
    width: auto;
    max-height: 600px;
    background-color: #eee;
    margin-bottom: 1em;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
}
.ui-sortable .list-content-tile {
    padding-right: 0px;
}
.ui-sortable .list-secondary-tile {
    right: 0px;
}
.catalog-closer {
    position: fixed;
    z-index: 100;
    left: 10px;
    top: 10px;
}
.sidebar-seller-logo button {
    padding: 0px;
}
.seller-logo {
    width: 240px;
    height: 100px;
    display: block;
}
md-sidenav.catalog-sidenav {
    width: 240px;
    min-width: 240px;
}
md-sidenav.product-sidenav {
    width: 400px;
    min-width: 400px;
}
input.product-quantity-input {
    order: 4;
    text-align: center;
}
.product-quantity-button-deincrease {
    order: 3;
    margin-right: 20px;
    max-width: 64px;
}
.product-quantity-button-increase {
    order: 5;
    margin-left: 20px;
    max-width: 64px;
}
.product-quantity-button {
    min-height: 36px;
}
.product-quantity-button .material-icon {
    display: inline-block;
    vertical-align: middle;
}
.product-quantity-control {
    order: 2;
    margin-top: 10px;
}
.product-quantity-input-wrapper {
    order: 4;
}
.product-quantity-input-wrapper input {
    width: 100%;
}
.product-quantifier md-input-container label {
    transform: none;
    padding: 0px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
}
.button-set button:first-child {
    margin-left: 0px;
}
.product-name {
    margin: 0px;
}

.image-slider {
    position:relative;
    float:left;
}