.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clear {
    clear: both;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.invisible {
    visibility: hidden;
}
.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.affix {
    position: fixed;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}
.fade.in {
    opacity: 1;
}
.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.overflow-x {
    overflow-x: scroll;
    overflow-y: hidden;
}
.overflow-y {
    overflow-y: scroll;
    overflow-x: hidden;
}
.overflow-auto-y {
    overflow-y: auto;
    overflow-x: hidden;
}
.overflow-auto-x {
    overflow-x: auto;
    overflow-y: hidden;
}
.overflow-hidden {
    overflow: hidden;
}
body .mb15 {
    margin-bottom: 15px;
}
.relative {
    position: relative;
}
.padding-0 {
    padding: 0px;
}
.padding-16 {
    padding: 16px;
}
.padding-sides-16 {
    padding-right: 16px;
    padding-left: 16px;
}
.padding-top-sides-16 {
    padding-right: 16px;
    padding-top: 16px;
    padding-left: 16px;
}
.padding-bottom-sides-16 {
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}
.padding-24 {
    padding: 24px;
}
.padding-sides-24 {
    padding-right: 24px;
    padding-left: 24px;
}
.padding-top-sides-24 {
    padding-right: 24px;
    padding-top: 24px;
    padding-left: 24px;
}
.padding-bottom-sides-24 {
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}
.margin-16 {
    margin: 16px;
}
.margin-top-16 {
    margin-top: 16px;
}
.margin-bottom-16 {
    margin-bottom: 16px;
}
.margin-top-bottom-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}
.margin-sides-16 {
    margin-right: 16px;
    margin-left: 16px;
}
.margin-top-sides-16 {
    margin-right: 16px;
    margin-top: 16px;
    margin-left: 16px;
}
.margin-bottom-sides-16 {
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
}
.margin-24 {
    margin: 24px;
}
.margin-sides-24 {
    margin-right: 24px;
    margin-left: 24px;
}
.margin-top-sides-24 {
    margin-right: 24px;
    margin-top: 24px;
    margin-left: 24px;
}
.margin-bottom-sides-24 {
    margin-right: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
}
