
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/client/fonts/sawasdee/stylesheet.css"/>
    
        <link rel="stylesheet" type="text/css" href="/client/js/lib/angular-ui-bootstrap-datetimepicker/datetimepicker.css"/>
        
        <link rel="stylesheet" type="text/css" href="/client/css/style.css"/>
        <style>
          .padding-right {
            padding-right:10px;
          }
        </style>
    </head>
    <body>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td style="padding-right:10px;">
                        <div>
                          <a style="display:block;" ng-click="viewProduct(line)" class="ng-binding">
                          <div class="cart-line-product-name clearfix">
                            Dog shit
                          </div>
                          <div class="cart-line-product-code clearfix ng-binding">
                            4040A
                          </div>
                          <div class="cart-line-product-variant_signature clearfix" ng-show="line.product.variant_signature">
                              <!-- ngRepeat: variant in line.product.variant_signature --><div ng-repeat="variant in line.product.variant_signature" class="ng-scope">
                                  <!-- ngRepeat: (key, value) in variant --><div ng-repeat="(key, value) in variant" class="ng-binding ng-scope">
                                    Color: Red
                                  </div><!-- end ngRepeat: (key, value) in variant -->
                              </div><!-- end ngRepeat: variant in line.product.variant_signature -->
                          </div>
                          <div class="cart-line-product-unitprice clearfix ng-binding">
                              $4.00 (USD)
                          </div> 
                        </a>
                        </div>
                    </td>
                    <td style="text-align:right;">
                        <div class="list-actions">
                          <table style="float:right;text-align:right;">
                            <tbody>
                                <tr>
                                    <td class="padding-right"></td>
                                    <td><button ng-click="remove(line)" type="button" class="button">Remove</button></td>
                                </tr>
                                <tr>
                                    <td class="padding-right">Quantity (u)</td>
                                    <td><input ng-disabled="order.state !== 'cart'" type="numeric" style="width:50px;" ng-model="line.quantity" class="ng-pristine ng-valid" disabled="disabled"></td>
                                </tr>
                                <tr>
                                    <td class="padding-right">Discount (%)</td>
                                    <td>0.00</td>
                                </tr>
                                <tr>
                                    <td class="padding-right">Subtotal</td>
                                    <td>$4.00</td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="padding-right:10px;">
                        <div>
                          <a style="display:block;" ng-click="viewProduct(line)" class="ng-binding">
                          <div class="cart-line-product-name clearfix">
                            Dog shit
                          </div>
                          <div class="cart-line-product-code clearfix ng-binding">
                            4040A
                          </div>
                          <div class="cart-line-product-variant_signature clearfix" ng-show="line.product.variant_signature">
                              <!-- ngRepeat: variant in line.product.variant_signature --><div ng-repeat="variant in line.product.variant_signature" class="ng-scope">
                                  <!-- ngRepeat: (key, value) in variant --><div ng-repeat="(key, value) in variant" class="ng-binding ng-scope">
                                    Color: Red
                                  </div><!-- end ngRepeat: (key, value) in variant -->
                              </div><!-- end ngRepeat: variant in line.product.variant_signature -->
                          </div>
                          <div class="cart-line-product-unitprice clearfix ng-binding">
                              $4.00 (USD)
                          </div> 
                        </a>
                        </div>
                    </td>
                    <td style="text-align:right;">
                        <div class="list-actions">
                          <table style="float:right;text-align:right;">
                            <tbody>
                                <tr>
                                    <td class="padding-right"></td>
                                    <td><button ng-click="remove(line)" type="button" class="button">Remove</button></td>
                                </tr>
                                <tr>
                                    <td class="padding-right">Quantity (u)</td>
                                    <td><input ng-disabled="order.state !== 'cart'" type="numeric" style="width:50px;" ng-model="line.quantity" class="ng-pristine ng-valid" disabled="disabled"></td>
                                </tr>
                                <tr>
                                    <td class="padding-right">Discount (%)</td>
                                    <td>52353255453454534534534534534534</td>
                                </tr>
                                <tr>
                                    <td class="padding-right">Subtotal</td>
                                    <td>$4.00</td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td style="text-align:right;">
                        <table style="float:right;text-align:right;">
                            <tbody>
                                 <tr class="cart-total-currency clearfix">
                                    <td class="padding-right">Currency </td>
                                    <td class="nothing ng-binding">US Dollar (USD)</td>
                                  </tr>
                                  <tr class="cart-total-shippingandhandling clearfix">
                                    <td class="padding-right">Shipping &amp; Handling </td>
                                    <td class="nothing ng-binding">$0.00</td>
                                  </tr>
                                  <tr class="cart-total-nettotal clearfix">
                                    <td class="padding-right">Net Total </td>
                                    <td class="nothing ng-binding">$4.00</td>
                                  </tr>
                                  <tr class="cart-total-taxes clearfix">
                                    <td class="padding-right">Taxes </td>
                                    <td class="nothing ng-binding">$0.00</td>
                                  </tr>
                                  <tr class="cart-total-total clearfix">
                                    <td class="padding-right">Total </td>
                                    <td class="nothing ng-binding">$4.00</td>
                                    </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>