/* All material design related adjustments, for now */

.simple-dialog-option {
    cursor: pointer;
}
.selected-item {
    padding-right: 30px;
    min-height: 26px;
}
.select-icon {
    position: absolute;
    right: 2px;
    bottom: 2px;
}
md-input-container .as-md-input {
    position: relative;
}
.select-search-input input[type="search"] {
    border: none;
    padding: 12px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 36px;
    padding-right: 36px;
}
.select-search {
    background: white;
    width: 100%;
    z-index: 11;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 44px;
}
.select-search md-input-container {
    padding-bottom: 0px;
}
.select-search-cancel-icon {
    position: absolute;
    right: 10px;
    top: 11px;
}
.select-search-search-icon {
    position: absolute;
    left: 10px;
    top: 11px;
}
.md-item-active md-item-content {
    background: #eee;
}
span.select-item-multiple {
    display: inline-block;
    background: #EEE;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
md-item-content md-checkbox {
    margin: 0px;
}
.button-transparent {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    margin: 0;
    background: transparent;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}
.with-actions .button-transparent {
    padding: 12px;
    margin: 4px;
}
.md-toolbar-tools.with-actions {
    padding: 0px;
}
.md-toolbar-tools.with-left-action {
    padding-left: 0px;
}
.md-toolbar-tools.with-right-action {
    padding-right: 0px;
}
.no-right-actions .md-toolbar-tools {
    padding-right: 16px;
}
li .ui-select-highlight {
    display: inline;
}
.simple-dialog-option md-checkbox {
    margin: 0px;
}
md-input-container md-checkbox, md-input-container md-switch {
    margin: 0px;
}
.button-set button {
    margin-right: 4px;
    margin-left: 4px;
}
.button-set button:last-child {
    margin-right: 0px;
}
.homepage-toolbar {
    text-align: center;
}
.homepage-menu {
    margin-top:5px;
}
