.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow:hidden;
  background: #FFFFFF;
}

.modal.no-overflow {
  overflow: hidden;
}

.modal-dialog {
  position: relative;
  z-index: 1050;
  width: auto;
  /* margin: 15px; */
}

.modal-content {
  position: relative;
  outline: none;
  background-clip: padding-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  /*float: left;
  color: #777777;
  font-size: 24px;
  line-height: 28px;
  padding: 7px 0px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  display: block;*/
}

.modal-body {
  position: relative;
  padding: 0px;
  padding-bottom: 0px;
}

.modal-body.no-footer, .modal-body.unscrollable {
  padding-bottom: 0px;
}
.modal-body.scrollable {
  overflow-y:scroll;
}


.modal-footer {
  padding: 10px 10px 0px; /* Note: Take a look at .modal-footer .button! */
  text-align: right;
  /*
  position: relative;
  -webkit-box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.25);
  */
  border-top: 1px solid #EEEEEE;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #FFFFFF;
  z-index:9;
}

.modal-footer .button {
  margin-bottom: 10px; /* Perhaps all buttons require similar treatment!? */
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-small .modal-dialog {
  width: 40%;
  margin: auto;
}

.modal-small, .modal-medium, .modal-large {
  top: 10%;
  background: none;
  overflow: visible;
}

.modal-medium .modal-footer {
  position: static;
}

.modal-medium .modal-dialog {
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 6px #333333;
  box-shadow: 1px 1px 6px #333333;
  background-clip: padding-box;
}

.modal-medium .modal-body {
  padding-bottom: 0px;
}

.modal-body-inner-padded {
  padding: 10px;
}

.modal-small .modal-dialog {
  width: 40%;
  margin: auto;
}

.modal-medium .modal-dialog {
  width: 60%;
  margin: auto;
}

.modal-large .modal-dialog {
  width: 60%;
  margin: auto;
}