@media screen and (orientation: portrait) {
    /* Portrait styles here */
    
    #is-landscape {
        visibility: hidden;
    }
}
/* Landscape */

@media screen and (orientation: landscape) {
    /* Landscape styles here */
    
    #is-landscape {
        visibility: visible;
    }
}

@media screen and (max-width: 1024px) {
    #is-tablet {
        visibility: visible;
    }
}

@media screen and (max-width: 767px) {
    /*this is only for mobile devices */
   #is-mobile {
        visibility: visible;
    }

    .product-left.t60 {
        display:none;
    }
 
    .product-right.t40, .product-left.t60 {
      width: 100%;
    }

}