<form ng-submit="save()" name="container.main">
<div class="modal-body scrollable">
<div class="modal-body-inner">
  
  	<h2 class="fieldset">
		 <span class="fieldset-text">General</span>
	 </h2>
 
	  <div class="form-control">
		<label class="form-label">Template Type</label>
		<div class="form-input">
			<select name="kind" ui-select2 ng-model="entity.kind" data-placeholder="Select a type">
				    <option value=""></option>
				    <option ng-repeat="(key, type) in types" value="{{key}}">{{type.label}}</option>
			</select>
		</div>
	  </div>
 
</div>
 
  
</div>

<div class="modal-footer">
 
	<button class="button">
		Create
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>