<form name="container.main" ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
  
	  <h2 class="fieldset">
		 <span class="fieldset-text">General</span>
	  </h2>
	  
	  <div class="form-control">
		<label class="form-label">Action</label>
		<div class="form-input">
			<select name="action" ng-required="rule.input[action].action.required" ng-disabled="!rule.field.action.writable" ui-select2 ng-model="entity.action" data-placeholder="Select an action">
				    <option value=""></option>
				    <option ng-repeat="(action_key, action_name) in actions" value="{{action_key}}">{{action_name}}</option>
			</select>
		</div>
	  </div>
 
	  <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input ng-disabled="!rule.field.name.writable" name="name" ng-required="rule.input[action].name.required" class="text-input" type="text" ng-model="entity.name" />
	     </div>
	    </div>
	  </div>
	
	  <div class="form-control">
			<label class="form-label">Condition</label>
			<div class="form-input">
				<div class="form-text">
					 <textarea name="condition" ng-disabled="!rule.field.condition.writable"  ng-required="rule.input[action].condition.required" class="text-input" ng-model="entity.condition"></textarea>
				</div>
			</div>
		</div>	
  
	  <div class="form-control">
			<label class="form-label">Active</label>
			<div class="form-input">
				<div class="form-text">
					 <button toggle ng-disabled="!rule.field.active.writable" class="button" type="button" ng-model="entity.active"></button>
				</div>
			</div>
		</div>
		 
		<h2 class="fieldset with-button">
			<span class="fieldset-text">Templates</span>
			<span  ng-show="rule.field.templates.writable" class="fieldset-button">
				<button ng-click="createTemplate()" type="button" class="button">Add Template</button>
		    </span>
		</h2>
 
		<table class="table">
			<thead>
				<tr>
					<th>Subject</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="template in entity.templates track by $index">
					<td>{{template.message_subject}}</td>
					<td>
						<span ng-show="rule.field.templates.writable">
						<button type="button" ng-click="removeTemplate(template)" class="button">Remove</button>
						<button type="button" ng-click="manageTemplate(template)" class="button">Edit</button>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
  
	<div ng-show="rule.action.read_records.executable && history && entity.id" class="form-control">
		<div ng-include="logic_template('misc/logs.html')"></div>
	</div>	 
	  
</div>
 
  
</div>

<div class="modal-footer">
 
	<button ng-show="rule.action[action].executable" busy class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>