<div class="no-move list-row list-row-one-line list-row-has-secondary no-padding clearfix seam-bottom">
    <button md-ink-ripple type="button" loading class="list-row-one-line list-row menu-item list-content-tile block list-row-is-clickable" ng-click="layout.action()">
        <strong class="first">{{layout.label}}</strong>
    </button>
    <div class="list-secondary-tile">
      <button type="button" ng-click="layout.action()" class="button-transparent button-square">
          <icon type="chevron_right" class="accordion-arrow"></icon>
      </button>
    </div>
</div>