<div class="list-row list-row-one-line list-row-has-secondary no-padding clearfix seam-bottom">
    <button md-ink-ripple type="button" loading class="list-row-one-line list-row menu-item list-content-tile block list-row-is-clickable color-child-when-disabled" ng-click="layout.action()">
        <strong class="first">{{layout.label}}</strong>
        <div class="list-secondary-tile">
          <button type="button" loading ng-click="layout.action()" class="button-transparent button-square color-child-when-disabled">
              <icon type="chevron_right" class="accordion-arrow"></icon>
          </button>
        </div>
    </button>
</div>