<div fit-in-modal>
    <div ng-form="container.form" class="modal-body">
        <div class="top-close">
                <button md-ink-ripple-action loading type="button" class="button-transparent button-square catalog-close-button" ng-click="close()">
                    <icon type="close"></icon>
                </button>
        </div>
        <div class="fixed-height relative overflow-auto-y">
            <div class="modal-body-inner list-padding padding-top-64 height100">
                <div class="modal-body-inner multiline height100">
                    <div ng-if="plainText" class="body1 height100" ng-bind-html="content.body | escape | autobr"></div>
                    <div ng-if="markDown" class="body1 height100" btf-markdown="content.body"></div>
                </div>
            </div>
        </div>
    </div>
</div>
