<div fit-in-modal>
  <form name="container.form" 
        ng-upload-error="completeError(content)"
        ng-upload="complete(content)"
        ng-upload-start="completeStart()"
        ng-upload-end="completeEnd()"
        method="post" action="{{container.action}}">
    <action-toolbar spec="dialog.toolbar"></action-toolbar>
    <activity-spinner toolbar="true"></activity-spinner>
    <input type="hidden" compatibility-maker="args" name="__body__" />
    <div class="modal-body">
      <modal-loading toolbar="true"></modal-loading>
      <content-spinner toolbar="true"></content-spinner>
      <div class="fixed-height relative overflow-auto-y has-toolbar">
            <div class="modal-body-inner">
                <div ng-if="$state.isCompleted()" ng-include="dialog.templateBodyUrl"></div>
            </div>
      </div>
    </div>
  </form>
</div>