<form name="container.form" ng-upload method="post" action="config.action">
  <div fit-in-dialog class="modal-body scrollable">
  <div class="modal-body-inner">
      <div ng-include="config.body"></div>

  </div>
  </div>
  
  <div class="modal-footer">
    <span ng-repeat="action in config.actions">
      <button ng-click="action.callback()" class="button" busy type="button">{{action.name}}</button>
    </span>
    <button ng-show="config.showCancel" busy type="button" class="button" ng-click="close()">Cancel</button>
  </div>
  
</form>