.social-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.social-grid.native {
    padding-top: 8px;
}

.social-grid-item {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
    padding: 8px 24px;
}

.social-grid-item-line {
    line-height: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.social-grid-item-line.with-text {
    padding-bottom: 0px;
}

.social-grid-text {
    line-height: 16px;
    color: rgba(0, 0, 0, 0.54);
    display: inline;
}

.social-icon {
    padding: 4px;
    width: 48px;
    height: 48px;
    display: block;
}

.social-icon.large {
    width: 192px;
    height: 192px;
}

.social-grid.padding-0 {
    padding: 0px;
}

[class^="socicon-"] {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.54);
    line-height: 30px;
}
