<div class="seller-detail-content padding-16">
<h1 class="seller-name">{{seller.name}}</h1>
    <div class="seller-feedback">
        <div ng-if="chartConfig" resize-chart google-chart chart="chartConfig"></div>
        <div ng-if="!chartConfig">
            <h1 class="no-things-available">No feedback stats available</h1>
        </div>
        <div class="feedback-stats">
            Positive feedback in last 12 months: {{feedbackStats[0]}}%
        </div>
    </div>
</div>
<div ng-if="seller._content.documents.length" class="seller-contents">
     <div class="list">
        <div ng-repeat="content in seller._content.documents track by content.key" class="list-row no-padding">
           <list-button ng-click="viewContent(content)">
              <strong class="first ellipsis-text">{{content.title}}</strong>
           </list-button>
        </div>
     </div>
</div>