<md-sidenav md-state-changed="sellerDetails.stateChanged" md-swipe-right="sellerDetails.menu.close()" layout="column" class="right md-closed wide-sidenav" md-component-id="sellerDetails.menu.id">
    <md-content>
      <div class="list">
          <div class="list">
            <div class="full-logo">
                <img class="not-pointable" display-image-config="{size: true}" display-image="sellerDetails.seller.logo" />
            </div>
        </div>
        <div class="list list-padding">
            <div class="list-row list-content-tile list-row-large-multiline">
                <span class="headline">{{sellerDetails.seller.name}}</span>
            </div>
          

        </div>
 
      </div>
    </md-content>
</md-sidenav>