<md-sidenav md-swipe-right="sellerDetails.menu.close()" layout="column" class="right md-closed wide-sidenav" md-component-id="sellerDetails.menu.id">
    <md-content>
      <div class="list">
          <div class="list">
            <div class="full-logo">
                <img class="not-pointable" display-image-config="{size: true}" display-image="sellerDetails.seller.logo" />
            </div>
        </div>
        <div ng-class="{'seam-bottom': sellerDetails.seller._content.documents.length}" class="list list-padding">
            <div class="list-row list-content-tile list-row-avatar">
                <span class="display1">{{sellerDetails.seller.name}}</span>
            </div>
            <div class="list-row list-content-tile list-row-avatar">
                <div ng-if="sellerDetails.chartConfig" resize-chart google-chart chart="sellerDetails.chartConfig"></div>
                <div ng-if="!sellerDetails.chartConfig">
                    <h1 class="no-things-available">No feedback stats available</h1>
                </div>
            </div>

            <div class="list-row list-content-tile list-row-two-lines">
                <div class="feedback-stats">
                    <span class="first">Positive feedback: {{sellerDetails.feedbackStats[3]}}%</span>
                    <span class="second">{{sellerDetails.feedbackStats[1]}} positive feedbacks, of {{sellerDetails.feedbackStats[2]}} total feedbacks.</span>
                </div>
            </div>
 
          <md-input-container class="padding-0">
               
          <div class="list-row-two-lines list-row-has-primary padding-0">
             <md-checkbox
                md-ink-ripple
                class="list-content-tile list-row"
                ng-false-value="false"
                ng-change="sellerDetails.toggleCollection()"
                ng-model="sellerDetails.globalSellerStack.inCollection"
                loading
                role="checkbox">
                  <strong class="first">Follow</strong>
                  <span class="second ellipsis-text">
                    {{sellerDetails.globalSellerStack.follower_count|number}} Followers
                  </span>
                  </md-checkbox>
          </div>
          </md-input-container>

        </div>
        <div ng-if="sellerDetails.seller._content.documents.length" class="list seam-bottom list-padding">
             <list-button ng-click="sellerDetails.displayShare()">
                  <strong class="first ellipsis-text">Share</strong>
             </list-button>
             <div ng-repeat="content in sellerDetails.seller._content.documents track by content.key" class="list-row no-padding">
               <list-button ng-click="sellerDetails.viewContent(content)">
                  <strong class="first ellipsis-text">{{content.title}}</strong>
               </list-button>
            </div>
        </div>
      </div>
    </md-content>
</md-sidenav>