.card {
    border-radius: 2px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.26);
    width: 100%;
    display: block;
    margin: 4px 0px;
    padding: 0px;
}
.card-table, .card-table td {
    border-spacing: 0px;
}
.card-table td {
    padding: 0px;
    display: table-cell;
}
.card-table td.info {
    padding-right:16px;
}
.cards {
    padding: 4px 8px;
}
.card-primary-action {
  display: block;
  width: 100%;
  padding: 16px;
  padding-right: 72px;
}