.card {
    padding: 4px 8px;
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
}

.card-inner {
    border-radius: 2px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.26);
    width: 100%;
    display: block;
    padding: 0px;
    background: white;
    position: relative;
}

.card-table, .card-table td {
    border-spacing: 0px;
}

.card-table td {
    padding: 0px;
    display: table-cell;
}

.card-table td.info {
    padding-right: 16px;
}

.cards {
    padding: 4px 0px;
}

.card-primary-action {
    display: block;
    width: 100%;
    padding: 16px;
    padding-right: 72px;
}

.card-action-top-right, .card-action-bottom-right {
    top: 4px;
    right: 8px;
    position: absolute;
    z-index: 1;
    padding: 4px;
}
.card-action-bottom-right {
    top:auto;
    bottom:4px;
}

.card .delete-overlay {
    border-radius: 2px;
}
.card-primary-action .card-footer {
    margin-right: -56px;
}

.card .card-inner.menu-item {
    background: white;
}

.cards .ui-sortable-placeholder {display:none;}