<div class="modal-body-inner-padded">
    <h1 class="seller-name">{{seller.name}}</h1>
    <div>
        <div class="seller-feedback">
            <div ng-if="chartConfig" google-chart chart="chartConfig" style="height:600px; width:100%;"></div>
            <div ng-if="!chartConfig">
                <h1 class="no-things-available">No feedback stats available</h1>
            </div>
        </div>
    </div>
    <div ng-if="seller._content.documents.length" class="seller-contents">
       <div ng-repeat="content in seller._content.documents track by content.key" class="seller-content-item">
         <button ng-click="viewContent(content)" type="button" class="button">{{content.title}}</button>
       </div>
    </div>
</div>