 <md-toolbar>
    <div class="md-toolbar-tools">
      <div layout="row" flex class="fill-height">
        <div layout="row" class="md-toolbar-item md-tools">
          <span ng-include="config.templateToolbarRight"></span>
          <button md-ink-ripple ng-if="!config.templateToolbarRight" type="button" ng-show="config.showClose" class="button-transparent" loading ng-click="close()">
            <div class="icon-navigation-grey600 icon-navigation-grey600-ic_close_grey600_24dp"></div>
          </button>
        </div>
        <div class="md-toolbar-item md-breadcrumb">
          <span style="display: inline-block;" >{{title}}</span>
        </div>
        <span flex></span>
        <div class="md-toolbar-item md-tools" layout="row">
          <span ng-include="config.templateToolbarRight"></span>
          <md-button ng-if="!config.templateToolbarRight" loading="container.form.$pristine" submit-if-valid="validateForm()"
            type="submit">Save</md-button>
          <span ng-include="config.templateToolbarLeft"></span>
          <button md-ink-ripple ng-if="!config.templateToolbarLeft" type="button" class="button-transparent" loading>
            <div class="icon-navigation-grey600 icon-navigation-grey600-ic_more_vert_grey600_24dp"></div>
          </button>
        </div>
      </div>
    </div>
</md-toolbar>