 <md-toolbar ng-class="{'no-right-actions': !config.templateToolbarLeft && !config.templateActions}">
    <div class="md-toolbar-tools with-actions">
      <div layout="row" flex class="fill-height">

        <div layout="row" class="md-toolbar-item md-tools actions-left">
          <span ng-include="config.templateToolbarRight"></span>
          <button md-ink-ripple ng-if="!config.templateToolbarRight" type="button" ng-show="config.showClose" class="button-transparent" loading ng-click="close()">
            <div class="icon-navigation-grey600 icon-navigation-grey600-ic_close_grey600_24dp"></div>
          </button>
        </div>

        <div class="md-toolbar-item md-breadcrumb">
          <span style="display: inline-block;" >{{title}}</span>
        </div>

        <span flex></span>

        <div class="md-toolbar-item md-tools actions-right" layout="row">
          <span ng-include="config.templateToolbarRight"></span>
          <md-button ng-if="!config.templateToolbarRight" loading="container.form.$pristine" submit-if-valid="validateForm()"
            type="submit">Save</md-button>
          <span ng-include="config.templateToolbarLeft"></span>
          <md-adropdown parent=".modal-content:first" template="config.templateActions" ng-if="!config.templateToolbarLeft && config.templateActions"></md-adropdown>
        </div>

      </div>
    </div>
</md-toolbar>