{% extends 'base.html' %}

{% block body %}
<span>
  {% if account._root_admin %}
  Administrator left the following message on your order
  "<a href="{{absolute_url('order/%s' % entity.key_urlsafe)}}">#{{entity.key_id}}</a>":
  {% endif %}
  {% if not account._root_admin and account.key == entity.key._root %}
  Buyer "ID{{entity.key._root}}" left the following message on your order
  "<a href="{{absolute_url('order/%s' % entity.key_urlsafe)}}">#{{entity.key_id}}</a>":
  {% endif %}
  {% if not account._root_admin and account.key == entity.seller_reference._root %}
  {% if entity.state == 'cart' %}
  Seller
  "<a href="{{absolute_url('seller/%s' % entity.seller_reference.urlsafe())}}">{{entity._seller.name|safe}}</a>."
  left the following message on your cart:
  {% endif %}
  {% if entity.state != 'cart' %}
  Seller
  "<a href="{{absolute_url('seller/%s' % entity.seller_reference.urlsafe())}}">{{entity._seller.name|safe}}</a>."
  left the following message on your order
  "<a href="{{absolute_url('order/%s' % entity.key_urlsafe)}}">#{{entity.key_id}}</a>":
  {% endif %}
  {% endif %}
</span><br/><br/>
<span>
  {{input.message|safe|nl2br}}
</span>
{% endblock %}