{% extends 'base.html' %}

{% macro order_link(entity, for_seller) -%}{{absolute_url('%s/%s/%s' % ('seller' if for_seller else 'buyer', 'cart' if entity.state == 'cart' and not for_seller else 'order', entity.key_urlsafe))}}{%- endmacro %}


{% block body %}
<span>
  {% if account.key == entity.key._root %}
  Buyer left {% if message_count > 1 %}{{message_count}} messages{% else %}a message{% endif %} on your order
  "<a href="{{order_link(entity, for_seller)}}">#{{entity.key_id}}</a>."
  {% endif %}
  {% if account.key == entity.seller_reference._root %}
  {% if entity.state == 'cart' %}
  Seller
  "{{entity._seller.value.name}}"
  left {% if message_count > 1 %}{{message_count}} messages{% else %}a message{% endif %} on your
  <a href="{{order_link(entity, for_seller)}}">cart</a>.
  {% endif %}
  {% if entity.state != 'cart' %}
  Seller
  "{{entity._seller.value.name}}"
  left {% if message_count > 1 %}{{message_count}} messages{% else %}a message{% endif %} on your order
  "<a href="{{order_link(entity, for_seller)}}">#{{entity.key_id}}</a>."
  {% endif %}
  {% endif %}
</span>
{% endblock %}