.order-stage {
    width: 100%;
    transition-timing-function: cubic-bezier(0.8, 0, 0.4, 1);
    transition-property: top;
    transition-duration: 300ms;
    position: absolute;
}

.order-stage.out {
    top: 100%;
    height: 0px;
    overflow: hidden;
}

.order-stage.out-up {
    /*
    transform: translateY(-100%);
    */
    top: -100%;
    position: absolute;
    height: auto;
    overflow: auto;
}

.order-stage.in {
    top: 0px;
    overflow: auto;
    height: auto;
}

.order-next-stage {
    display: block;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: 100%;
}

.order-next-stage-inner {
    padding: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.order-reset-button-text {
    padding: 12px 8px;
}

.order-reset-button {
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.order-go-pay {
    padding: 0px;
    line-height: 0px;
    font-size: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}