.order-stage {
    top:0px;
    width: 100%;
    transition-timing-function: cubic-bezier(0.8, 0, 0.4, 1);
    transition-property: top;
    transition-duration: 300ms;
    position: absolute;
    -webkit-overflow-scrolling: touch;
}

html body .order-loading-wrapper  .progress-wrapper.progress.circular {
    width: 100%;
    background: white;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.order-stage.out {
    top: 100%;
    height: 0px;
    overflow: hidden;
}

.order-stage.out-up {
    /*
    transform: translateY(-100%);
    */
    top: -100%;
    position: absolute;
    height: auto;
    overflow: auto;
}

.order-stage.in {
    top: 0px;
    overflow: auto;
    height: auto;
}

.order-next-stage {
    display: block;
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: auto;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.order-next-stage-inner {
    padding: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top:8px;
    padding-bottom: 8px;
}

.order-reset-button-text {
    padding: 12px 8px;
}

.order-reset-button {
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.order-go-pay {
    padding: 8px 24px;
}