.md-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    padding: 6px 8px;
    margin: 6px 4px;
    background: transparent;
    white-space: nowrap;
    min-width: 64px;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    line-height: 24px;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transition-property: box-shadow, background;
}

.md-button, .md-button-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    text-transform: uppercase;
}

.md-button:focus {
    outline: none;
}

.md-button.ng-hide {
    transition: none;
}

.md-button.md-icon {
    padding: 0;
    background: none;
}

.md-button.md-raised {
    transform: translate3d(0, 0, 0);
}

.md-button.md-raised:not([disabled]) {
    box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.26);
}

.md-button.md-raised:active {
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.26);
}

.button-transparent {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    margin: 0;
    background: transparent;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

.md-button {
    border-radius: 2px;
}

.md-button.md-primary {
    color: rgb(158, 158, 158);
}

.md-button.md-primary.md-raised {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(158, 158, 158);
}

.md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):focus {
    background-color: rgba(0, 0, 0, 0.54);
}

.md-button.md-raised {
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
}

.md-button[disabled], .md-button.md-raised[disabled] {
    color: rgba(0, 0, 0, 0.26);
    cursor: not-allowed;
    background: rgba(255, 255, 255, 1);
}

.md-button.md-raised[disabled] {
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.26);
}
