.panel {
    margin-bottom: 0;
    /*overflow: hidden;*/
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.panel-default > .panel-heading {
    background-color: #FFFFFF;
}
.panel .panel-heading {
    border-bottom: 0;
}
.panel .panel-footer {
    border-top: 0;
}
.panel-is-not-open .panel-title > a:hover {
    /* background-color: #F9F9F9; */
}
.panel-is-not-open .panel-title > a:active {
    /* background-color: #F9F9F9; */
}
.panel-is-open .panel-title > a:hover {
    /* background-color: #F9F9F9; */
}
.panel-is-open .panel-title > a:active {
    /*background-color: #F9F9F9;*/
}
.panel-heading {} .panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    position: relative;
}
.panel-title > a {
    color: inherit;
    display: block;
}
.panel-scroller {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.accordion-toggle {
    cursor: pointer;
    padding: 12px 72px 12px 16px;
    background: transparent;
    border: none;
    width: 100%;
}
.accordion-arrow {
    height: 24px;
    speak: none;
    width: 24px;
    display: block;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    position: absolute;
    right: 12px;
    top: 12px;
}
.accordion-title {
    text-align: left;
}
.accordion-arrow-toggled {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
