<simple-dialog>
     <% if (select.search) { %>
     <div class="select-search" ng-form="select.search.form">
       <div class="select-search-input">
       <div class="icon-action-grey600 icon-action-grey600-ic_search_grey600_24dp select-search-search-icon"></div>
         <input tabindex="1" type="search" name="search" ng-change="select.search.doFind()" ng-model="<%= select.search.model %>" />
         <div ng-click="<%= select.search.model %> = '';" ng-show="<%= select.search.model %>.length" class="icon-navigation-grey600 icon-navigation-grey600-ic_cancel_grey600_24dp select-search-cancel-icon"></div>
       </div>
       <md-divider></md-divider>
    </div>
    <% } %>
    <md-content ng-class="{'has-search': select.search}">
      <ul class="list list-padding">
            <% if (select.multiple) { %>

              <li ng-show="select.isChecked(item)" class="simple-dialog-option list-row list-row--is-clickable-and-hoverable" 
                    ng-repeat="item in select.items <% if (select.search) { %><%= select.search.filter %><% } %>"
                    tabindex="{{$index + 2}}">
                    <div class="list-content-tile list-content-tile--one-line">
                       <md-checkbox class="md-tile-content" ng-model="select.multipleSelection[item.key]" ng-change="select.multipleSelect(item)" ng-true-value="true" ng-false-value="false" aria-label="{{select.view(item)}}">
                         <span ng-bind-html="select.view(item)"></span>
                      </md-checkbox>
                    </div>
              </li>

              <li class="list-divider" ng-if="select.anyChecks()"></li>

              <li ng-show="!select.isChecked(item)" class="simple-dialog-option list-row list-row--is-clickable-and-hoverable " 
                    ng-repeat="item in select.items <% if (select.search) { %><%= select.search.filter %><% } %>"
                    tabindex="{{$index + 2}}">
                    <div class="list-content-tile list-content-tile--one-line">
                       <md-checkbox class="md-tile-content" ng-model="select.multipleSelection[item.key]" ng-change="select.multipleSelect(item)" ng-true-value="true" ng-false-value="false" aria-label="{{select.view(item)}}">
                         <span ng-bind-html="select.view(item)"></span>
                      </md-checkbox>
                    </div>
              </li>

              <% } else { %>
                <li md-ink-ripple-list ng-class="{'list-row--is-active': select.isSelected(item)}" class="simple-dialog-option list-row list-row--is-clickable-and-hoverable"
                    ng-click="select.select(item)"
                    ng-repeat="item in select.items <% if (select.search) { %><%= select.search.filter %><% } %>"
                    tabindex="{{$index + 2}}">
                    <div class="list-content-tile list-content-tile--one-line">
                          <strong class="first"><span ng-bind-html="select.view(item)<% if (select.search) { %> | highlight: <%= select.search.model %><% } %>"></span></strong>
                    </div>
                </li>
              <% } %>
      </ul>
    </md-content>
</simple-dialog>