{% extends 'seo/index.html' %}

{% block meta %}



<title>{{title}}</title>


{#

None of the providers have type of "catalog" 

Tools for testing and approval

A. Twitter Validation Tool

https://dev.twitter.com/docs/cards/validation/validator

Before your cards show on Twitter, you must first have your domain approved. Fortunately, it's a super-easy process. After you implement your cards, simply enter your sample URL into the validation tool. After checking your markup, select the "Submit for Approval" button.
B. Facebook Debugger

https://developers.facebook.com/tools/debug

You don't need prior approval for your meta information to show on Facebook, but the debugging tool they offer gives you a wealth of information about all your tags and can also analyze your Twitter tags.
C. Google Structured Data Testing Tool

http://www.google.com/webmasters/tools/richsnippets

Webmasters traditionally use the structured data testing tool to test authorship markup and preview how snippets will appear in search results, but you can also use see what other types of meta data Google is able to extract from each page.
D. Pinterest Rich Pins Validator

http://developers.pinterest.com/rich_pins/validator/

Like Twitter, Pinterest requires an approval process to enable Rich Pin functionality. Use the Rich Pin Validator tool to test your data markup and apply for approval at the same time.

#}

<meta name="keywords" content="{{catalog.name|keywords}}" />

{# twitter has this one https://dev.twitter.com/cards/types/summary-large-image #}

{#

<meta name="twitter:site" content="@iHeartRadio">
<meta name="twitter:creator" content="@iHeartRadio">

#}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{title}}" />
<meta name="twitter:image" content="{{image}}">


{# for facebook, we dont have anything else than article 
https://developers.facebook.com/docs/reference/opengraph

article: https://developers.facebook.com/docs/reference/opengraph/article 

facebook, pinterest and google + uses these

 #}
<meta property="og:type"                         content="article" /> 
<meta property="og:url"                          content="{{path}}" /> 
<meta property="og:title"                        content="{{title}}" /> 
<meta property="og:image"                        content="{{image|autohttps}}" />
<meta property="og:updated_time"                 content="{{updated}}" />


{% endblock %}

{% block crumbs %}

<div class="breadcrumbs" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
  <a href="{{uri_for('home')}}" itemprop="url">
    <span itemprop="title">Home</span>
  </a> ›
  <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{uri_for('home')}}" itemprop="url">
      <span itemprop="title">Catalogs</span>
    </a>
  </div> ›
  <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="{{path}}" itemprop="url">
      <span itemprop="title">{{catalog.name}}</span>
    </a>
  </div>
</div>

{% endblock %}

{% block content %}

<section>
  
  <article>
    <h1>{{catalog.name}}</h1>
    <div class="expires">Expires: <time>{{catalog.discontinue_date}}</time></div>

    {% for img in catalog._images %}
        <div class="catalog-image relative">
           <div><img class="not-pointable" src="{{img.serving_url|autohttps}}=s550"> </div>
           <ul>
           {% for pricetag in img.pricetags %}
                <li>
                   <a href="{{uri_for('catalog.product.view', key=catalog.key, image_id=img.id, pricetag_id=pricetag.id)}}">
                        {{pricetag.value.price}} {{catalog._seller._currency.symbol}}
                   </a>
                </li>
            {% endfor %}

            </ul>
        </div> 
    {% endfor %} 

  </article>

</section>
{% endblock %}