{% extends 'index.html' %}
{% block content %}
<div>
	<p><input style="width:100%;display:block;" type="text" name="f" id="urk" /></p>
</div>
<div>
	<p>
		<label>Send X requests at once?</label><input type="text" name="f2" value="1" id="urk2" /></p>
</div>
<div>
	<a class="c" href="#">Send ajax</a>
</div>
<div>
	<a class="cc" onclick="$('#fa').empty(); return false;" href="#">Clear Log</a>
</div>
<div id="fa"></div>
{% endblock %}

{% block footer_js %}
<script>
	$(function () {
		$('a.c').click(function (e) {
			
			for (var i = 0; i<parseInt($('#urk2').val()); i++)
			{ 
				var k = new Date().getTime() + '_' + i;
				
				//var div = $('<div />');
				//div.html('Sending request...');
				//$('#fa').append(div);
				 
				$.ajax({
					async: true,
					url : $('#urk').val(),
					data: {'ts' : k},
					complete : function (ha, a, b, c)
					{
						//console.log(k);
						///$(div).html('Request completed, got: ' + ha.responseText);
						$('#fa').append('<div>Request "'+this.url+'" completed, got: ' + ha.responseText + '<div>');
					}
				});
			 
			}
			
			e.preventDefault();
		});
		
	});
</script>
{% endblock %}
