{% extends base %}
{% block content %}
{% for u in users %}
<pre style="line-height:1em;font-size:12px;">Log:
{% for ix in io %}
{{ix}}
{% endfor %}
</pre>
<form method="post">
	{% for f in u.form %}
	<div>
		<label>{{f.label}}</label>
		<div>{{f}}</div>
	    {% if f.errors %}	
		<ul>
			{% for e in f.errors %}
			<li>{{e}}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
	{% endfor %}
</form>
<br />

	{% for k in u.children %}
	<h2>{{k.title}}</h2>
	<ul>
	{% for i in k.children %}
		<li><strong>ENTITY ID:</strong> {{i.key.integer_id()}} <strong>PARENT ID:</strong> {{i.key.parent().integer_id()}} {% for f in i._properties %} <strong>{{f}}:</strong> {{i[f]}}, {% endfor %}</li>
	{% endfor %}
	</ul>
	
	{% endfor %}


{% endfor %}
{% endblock %}
