<form ng-submit="save()" name="container.main">
    
<div class="modal-body scrollable">


<div class="clearfix">
    <div class="pull-left t60 overflow-x">
        <div class="overflow-master">
            <ol>
             <li class="catalog-image-scroll" ng-repeat="image in child.images track by $index"
                 data-width="{{image.width}}" data-height="{{image.height}}">
                 <img catalog-slider class="img" ng-src="{{image.serving_url}}=s1000" />
          
             </li>
            </ol>
        </div>
    </div>
    
    <div class="pull-right t40">
        <div class="modal-body-inner more-hr-space">
            
          <h2>{{child.name}}</h2>
          <div>{{child.description}}</div>
          
          <hr />
          
          <div>
              <b>Code</b>: {{child.code}}
          </div>
    
          <div>
              <b>Category</b>: {{child._product_category.complete_name}}
          </div>
          
          <div>
              <b>Volume</b>: {{child.volume}} {{child._volume_uom.symbol}}
          </div>
          
          <div>
              <b>Weight</b>: {{child.weight}} {{child._weight_uom.symbol}}
          </div>
          
          <div>
              <b>Availability</b>: {{child.availability}}
          </div>
    
          <hr />
          
          <div>
              <b>Price</b>: {{child.unit_price}}
          </div>
          
          <hr />
          
          <div class="contents">
               <div accordion>
                    <div ng-repeat="content in child.contents" accordion-group heading="{{content.title}}">
                        {{content.body}}
                    </div>
                </div>
          </div>
     
     
          <hr />
             
          <div ng-show="child.variants">
            <div ng-repeat="variant in child.variants">
                <div class="form-control">
        
                    <label class="form-label">{{variant.name}}</label>
                    <div class="form-input">
                        <div class="form-text">
                            <select ng-change="changeProductView()" name="variant_{{variant.name}}"
                                    ui-select2="{allowClear : 'true'}"
                                    ng-model="variant_combo[variant.name]" data-placeholder="Select variant">
                                    <option></option>
                                    <option ng-repeat="opt in variant.options track by $index" value="{{opt}}">{{opt}}</option>
                            </select>
                        </div>
                    </div>
                    </div>
            </div>
          </div>
          
          <br />
          <br />
          <br />
          <br />
         
         <div class="corner-right">
             
             <button type="button" ng-click="pay()" 
                     busy class="button">
                Shopping Cart
            </button>
             
             <button type="button" ng-click="addToCart()" 
                     busy class="button">
                Add To Cart
            </button>
            <button type="button" class="button" ng-click="cancel()">
                Cancel
            </button>
         </div>
        </div>
    </div>
</div>
   

</div>

 
</form>