md-backdrop {
    z-index: 50;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

md-backdrop.md-dialog-backdrop {
    z-index: 79;
}

md-backdrop.md-sidenav-backdrop {
    z-index: 59;
}

md-backdrop.md-opaque {
    background-color: rgba(0, 0, 0, 0.12);
}
