{% extends 'base.html' %}

{% block body %}
<span>
  Your catalog
  "<a href="{{absolute_url('catalog/%s' % entity.key_urlsafe)}}">{{entity.name}}</a>"
  was successfully discontinued.
</span><br/><br/>
<span>
  The catalog was automatically discontinued based on the "Expiration date" setting
  that was set to {{entity.discontinue_date|format_date}} UTC (Coordinated Universal Time).
</span><br/><br/>
<span>
  Here are few reminders to be aware of:
</span><br/><br/>
<span>
  When created, a catalog initially assumes draft state and is not accessible to the general public.
  While in draft state, a catalog can be edited.
  A catalog in draft state aged more than 15 days is automatically deleted.
</span><br/><br/>
<span>
  A published catalog is accessible to the general public
  and can be shared and embedded to third party websites.
  With an exception of a product "Stock configurations", a published catalog cannot be edited.
  However, a published catalog can be duplicated,
  and the duplicate is ready for editing.
</span><br/><br/>
<span>
  A discontinued catalog is not accessible to the general public
  and is entirely removed from the Miraclestyle app after 15 days.
</span>
{% endblock %}