{% extends 'base.html' %}

{% block body %}
<span>
  Administrative action was taken against your catalog
  "<a href="https://www.miraclestyle.com/catalog/{{entity.key_urlsafe}}">{{entity.name|safe}}</a>".
</span><br/>
<span>
  The catalog is {{entity.state}} {% if input.index_state == "index" %}and set to be indexed on the Miraclestyle app{% else %}
  and set to be unindexed from the Miraclestyle app{% endif %}.
</span><br/>
<span>
  Administrator left you the following message:
</span><br/>
<span>
  {{input.message|safe|nl2br}}
</span>
{% endblock %}