{% extends 'base.html' %}

{% block body %}
<span>
  Administrative action was taken against your catalog
  "<a href="{{absolute_url('catalog/%s' % entity.key_urlsafe)}}">{{entity.name}}</a>."
</span><br/><br/>
<span>
  The catalog is {{entity.state}} {% if input.state == "indexed" %}and set to be indexed on the Miraclestyle app{% else %}
  and set to be unindexed from the Miraclestyle app{% endif %}.
</span><br/><br/>
<span>
  Administrator left you the following message:
</span><br/><br/>
<span>
  {{input.message|nl2br}}
</span>
{% endblock %}