<form action="{{form_info.action}}" ng-upload="completed(content)" name="container.main">
	
<input type="hidden" name="action_id" value="create" />
<input type="hidden" name="action_model" value="6" />
	
<div class="modal-body scrollable">
<div class="modal-body-inner">
	
<div>
<h2 class="fieldset">Application</h2>
  
    <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="name" ng-required="rule.input.create.domain_name.required" class="text-input" type="text" ng-model="entity.name" />
			</div>
		</div>
	</div>
	
	<div class="form-control">
		<label class="form-label">Logo</label>
		<div class="form-input">
			<div class="form-text">
				 <input create-upload-url-on-select="createUploadUrlOnSelectOptions" name="logo" type="file" ng-model="entity._logo_filename" />
			</div>
		</div>
	</div>
  
</div>
 
 
</div>
</div>

<div class="modal-footer">
 
	<button type="submit" ng-disabled="!container.main.$valid || $isUploading" busy class="button">
		Submit
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>