<form ng-attr-action="{{upload_url}}" ng-upload="completed(content)" name="manage_app">
	
<input type="hidden" name="action_key" value="create" />
<input type="hidden" name="action_model" value="6" />
	
<div class="modal-body scrollable">
<div class="modal-body-inner">
	
<div ng-form="domain_form" ng-show="step == 1">
<h2 class="fieldset">Application</h2>
  
    <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="domain_name" ng-required="rule.input.create.domain_name.required" class="text-input" type="text" ng-model="app.domain_name" />
			</div>
		</div>
	</div>
  
</div>


<div ng-form="company_form" ng-show="step == 2">
	
	<h2 class="fieldset">Company</h2>
  
    <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="company_name" ng-required="rule.input.create.company_name.required" class="text-input" type="text" ng-model="app.company_name" />
			</div>
		</div>
	</div>
	
	
	<div class="form-control">
		<label class="form-label">Logo</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="company_logo" ng-required="true" type="file" ng-model="app.company_logo" />
			</div>
		</div>
	</div>
	
 
</div>
 
</div>
</div>

<div class="modal-footer">
    
    
    <button type="button" class="button" ng-click="nextStep(step-1)" ng-show="step > 1">
		Back
	</button>
	
	<button type="button" class="button" ng-click="nextStep(2)" ng-show="step == 1" ng-disabled="!domain_form.$valid">
		Next
	</button>
	<button  ng-disabled="!manage_app.$valid || $isUploading" ng-show="step == 2" busy class="button">
		Submit
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>