<form action="{{form_info.action}}" ng-upload="completed(content)" name="container.main">

<input type="hidden" name="key" value="{{entity.key}}" />	
<input type="hidden" name="action_id" value="update" />
<input type="hidden" name="action_model" value="6" />

<div scroll-end class="modal-body scrollable">
<div class="modal-body-inner">
	

<h2 class="fieldset">General</h2>

    <div ng-hide="!entity.id">
	<div class="form-control">
		<label class="form-label">ID</label>
		<div class="form-input">
			 <div class="form-text">
			 	{{entity.id}}
			 </div>
		</div>
	</div>
	
	<div class="form-control">
		<label class="form-label">Registered</label>
		<div class="form-input">
			 <div class="form-text">
			 	{{entity|output:'created'}}
			 </div>
		</div>
	</div>
	
	
	<div class="form-control">
		<label class="form-label">Status</label>
		<div class="form-input">
			<div class="form-text">
				 {{entity.state}}
			</div>
		</div>
	</div>
	
	</div>
	
	
    <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input name="name" ng-disabled="!rule.field.name.writable"
				 	    ng-required="rule.input[action].name.required" 
				 	    class="text-input" type="text" ng-model="entity.name" />
			</div>
		</div>
	</div>
	 
	<div class="form-control">
		<label class="form-label">Primary Contact</label>
		<div class="form-input">
			<input 
			       name="primary_contact" 
			       ng-required="rule.input[action].primary_contact.required" 
			       ui-select2="select2_domain_user"
			       ng-model="entity.primary_contact"
			       data-placeholder="Select a domain user" />
		</div>
	</div>	 
	
	<div class="form-control">
		<label class="form-label">Logo</label>
		<div class="form-input">
			<div class="form-text">
				 <input create-upload-url-on-select="createUploadUrlOnSelectOptions" name="logo" type="file" ng-model="entity.domain_logo" />
		 
			</div>
		</div>
	</div>
	 
	<div class="form-control">
		<label class="form-label">Current logo</label>
		<div class="form-input">
			<div class="form-text">
				 <div>
					 <img style="max-width:240px;height:auto;" ng-src="{{entity.logo.serving_url}}" />
				 </div>
			</div>
		</div>
		
	</div>
	  
	<div ng-show="rule.action.read_records.executable && entity.id" class="form-control">
		<div ng-include="logic_template('misc/logs.html')"></div>
	</div>
	
 
</div>
</div>

<div class="modal-footer">
	
	<button busy ng-click="sudo()" type="button" class="button" ng-show="rule.action.sudo.executable">
		Administer
	</button>
	
	<button busy ng-click="suspend()" type="button" class="button" ng-show="rule.action.suspend.executable">
		Suspend
	</button>
	
	<button busy ng-click="activate()" type="button" class="button" ng-show="rule.action.activate.executable">
		Activate
	</button>
 
	<button type="submit" ng-disabled="!container.main.$valid || $isUploading" ng-show="rule.action.update.executable" busy class="button">
		Save
	</button>
	
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>