<form name="container.main" ng-submit="save()">
<div scroll-end class="modal-body scrollable">
<div class="modal-body-inner">
	

<h2 class="fieldset">General</h2>

    <div ng-hide="!entity.id">
	<div class="form-control">
		<label class="form-label">ID</label>
		<div class="form-input">
			 <div class="form-text">
			 	{{entity.id}}
			 </div>
		</div>
	</div>
	
	<div class="form-control">
		<label class="form-label">Registered</label>
		<div class="form-input">
			 <div class="form-text">
			 	{{entity|output:'created'}}
			 </div>
		</div>
	</div>
	
	
	<div class="form-control">
		<label class="form-label">Status</label>
		<div class="form-input">
			<div class="form-text">
				 {{entity.state}}
			</div>
		</div>
	</div>
	
	</div>
	
	
    <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input ng-disabled="!rule.field.name.writable" ng-required="rule.input[action].name.required" class="text-input" type="text" ng-model="entity.name" />
			</div>
		</div>
	</div>
	
	 
	<div class="form-control">
		<label class="form-label">Primary Contact</label>
		<div class="form-input">
			<select ng-disabled="!rule.field.primary_contact.writable" 
				    ng-required="rule.input[action].primary_contact.required"
				    ui-select2 ng-model="entity.primary_contact" data-placeholder="Select primary contact for this App">
				    <option value=""></option>
				    <option value="{{entity.primary_contact}}">{{entity._primary_contact_email}}</option>
			</select>
		</div>
	</div>	 
	 
	
	<div ng-show="rule.action.read_records.executable && entity.id" class="form-control">
		<div ng-include="logic_template('misc/logs.html')"></div>
	</div>
	
 
</div>
</div>

<div class="modal-footer">
	
	<button busy ng-click="sudo()" type="button" class="button" ng-show="rule.action.sudo.executable">
		Administer
	</button>
	
	<button busy ng-click="suspend()" type="button" class="button" ng-show="rule.action.suspend.executable">
		Suspend
	</button>
	
	<button busy ng-click="activate()" type="button" class="button" ng-show="rule.action.activate.executable">
		Activate
	</button>
 
	<button ng-show="rule.action.update.executable" busy class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>