<div autoload-on-vertical-scroll-end="{loader: history.reader}" class="list list-padding">
    <list-button class="list-row-three-lines" ng-repeat="record in history.records" ng-click="history.view(record)">
        <strong class="first ellipsis-text">{{record|output: 'logged'}}</strong>
        <span class="second ellipsis-text">
            {{record._action}}
        </span>
        <span class="second ellipsis-text">
            {{record._agent}}
        </span>
    </list-button>
</div>
<div load-more-button="history.reader"></div>