<form name="container.main" ng-submit="sender.submit()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
 

        
<div class="form-control">
    <label class="form-label">Kind <span ng-show="sender.kind != null">({{sender.kind}})</span></label>
    <div class="form-input">
        <select ng-change="sender.changeKind()" name="search_kind" ng-required="true" ui-select2 ng-model="sender.kind" data-placeholder="Select kind to search">
                <option></option>
                <option ng-repeat="(kind_key, kind) in FRIENDLY_KIND_NAMES" value="{{kind_key}}">{{kind}}</option>
        </select>
    </div>
</div>


<div ng-show="sender.kind != null" class="form-control">    
 
        <label class="form-label">Action</label>
        <div class="form-input">
            <select ng-change="sender.changeAction()" name="change_action" ng-required="true" ui-select2 ng-model="sender.action" data-placeholder="Select action to fire">
            <option></option>
            <option ng-repeat="(action_key, action) in actions" value="{{action_key}}">{{action_key}}</option>
            </select>
        </div>
 
</div>
    
<div ng-show="current_action != null" class="form-control">    
 
        <label class="form-label">Arguments</label>
        <div class="form-input">
                <div spit-field="{'model': 'args', 'fields': 'fields', 'is_new': 'is_new'}">
                                 
                </div>
        </div>
        
         <label class="form-label">Or Paste JSON</label>
        <div class="form-input">
              <textarea cols="10" rows="5" ng-model="transformer.text" class="text-input"></textarea>
        </div>
 
</div>

<div class="form-control">
    <label class="form-label"></label>
    <div class="form-input">
        <button class="button block" type="submit">Send Action</button>
    </div>
</div>
 
 
  
    <div>
  
        <div class="form-control" ng-show="result != null">
            <br />
            <label class="form-label">Result <a href="javascript:;" class="button" ng-click="sender.clear()">Clear</a></label>
            <div class="form-input">
                <pre style="font-size: 12px;line-height: 1em;">
                    {{result|json}}
                </pre>
            </div>
        </div>
         <br />
   </div>

 



 

</div>



</div>
<div class="modal-footer">
  
    <button type="button" class="button" ng-click="cancel()">
        Close
    </button>
</div>
</form>