.panel
{
  margin-bottom: 20px;
}

.panel-heading
{
  
}

.panel-body
{
  padding: 15px;
}

.panel-heading > .dropdown .dropdown-toggle
{
  color: inherit;
}

.panel-title
{
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}
 
.panel-title > a {
 color: inherit;
 display: block;
 padding: 12px 24px;
}

.panel-group .panel
{
  margin-bottom: 0;
  overflow: hidden;
  border: 1px solid #BBBBBB;
  -webkit-box-shadow: 1px 1px 3px #BBBBBB;
  box-shadow: 1px 1px 3px #BBBBBB;
}

.panel-group .panel:hover
{
  border: 1px solid #333333;
  background-color: #FAFAFA;
}

.panel-group .panel + .panel
{
  margin-top: 5px;
}

.panel-group .panel-heading
{
  border-bottom: 0;
}

.panel-group .panel-footer
{
  border-top: 0;
}

.accordion-toggle
{
  cursor: pointer;
}

.panel-default > .panel-heading
{
  color: #333333;
  background-color: #FFFFFF;
}
