*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body
{
  font-size: 14px;
  font-family: "sawasdeeregular", Arial, Helvetica, sans-serif;
  color: #333333;
  line-height: 1.5em;
}

body.loading
{
  cursor: wait;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: normal;
}

a
{
  color: #333333;
}

a:hover
{
  text-decoration: none;
}

a:visited
{
  color: #333333;
}

:focus
{
  outline: none;
}

.content
{
  margin-right: 15px;
  margin-left: 15px;
}

#top_bar
{
  background: white;
  z-index: 100;
  height: 50px;
  top: 0px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #BBBBBB;
  -webkit-box-shadow: 0 3px 3px #BBBBBB;
  box-shadow: 0 3px 3px #BBBBBB;
}

#top_bar a.logo_link
{
  text-align: center;
  /*width: 215px;
  margin-left: auto;
  margin-right: auto;*/
  text-decoration: none;
  display: block;
}

#logo
{
  text-transform: uppercase;
  font-size: 30px;
  margin: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.content
{
  margin-top: 65px;
}

#main_menu
{
  background: white;
  position: absolute;
  top: 50px;
  z-index: 90;
  width: 100%;
  border-bottom: 1px solid #BBBBBB;
}

.menu_inner
{
  padding-left: 10px;
  padding-right: 10px;
}

.menu
{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.menu li
{
  display: block;
  margin-bottom: 5px;
}

a.block, .block
{
  display: block;
}

#main_menu .button 
{
  padding-top: 14px;
  padding-bottom: 14px;
}

.no_style
{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.no_style li
{
  display: block;
}

strong, b
{
  font-family: 'sawasdeebold', Arial, Helvetica, sans-serif;
  font-weight: bold;
}
