.modal_open
{
  overflow: hidden;
}

.modal
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}

.modal.fade .modal_dialog
{
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal_dialog
{
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal_dialog
{
  position: relative;
  z-index: 1050;
  width: auto;
  margin: 10px;
}

.modal_content
{
  position: relative;
  background-color: #FFFFFF;
  /**border: 1px solid #FFFFFF;**/
  outline: none;
  -webkit-box-shadow: 3px 3px 9px #333333;
  box-shadow: 3px 3px 9px #333333;
  background-clip: padding-box;
}

.modal_backdrop
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}

.modal_backdrop.fade
{
  opacity: 0;
  filter: alpha(opacity=0);
}

.modal_backdrop.in
{
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal_header
{
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.modal_header .close
{
  margin-top: -2px;
}

.modal_title
{
  margin: 0;
  line-height: 1.428571429;
}

.modal_body
{
  position: relative;
  padding: 0px;
  overflow:auto;
}

.modal_footer
{
  padding: 10px;
  text-align: right;
}

.modal_footer:before,
.modal_footer:after 
{
  display: table;
  content: " ";
}

.modal_footer:after
{
  clear: both;
}

.modal_footer:before,
.modal_footer:after
{
  display: table;
  content: " ";
}

.modal_footer:after
{
  clear: both;
}

.btn + .btn
{
  margin-bottom: 0;
  margin-left: 5px;
}

.modal_footer .btn-group .btn + .btn
{
  margin-left: -1px;
}

.modal_footer .btn-block + .btn-block
{
  margin-left: 0;
}

.modal_body_inner
{
  padding: 10px;
  padding-bottom: 0px;
}
