.tab-navi {
    float: left;
    width: 15%;
    min-width: 200px;

}

.tab-navi ul
{
	padding: 0px;
    list-style: none;
    margin: 0px;
}

.tab-content {
    float: left;
    width: 85%;
}

.tab-pane 
{
	display:none;
	padding-left:20px;
}

.tab-pane.active
{
	display:block;
}


.nav li .button
{
	display:block;
}

.nav li 
{
	margin-bottom:5px;
}
