<div ng-if="sellerDetail !== false" class="clearfix buttons">
  <div class="pull-left">
      <button loading ng-click="viewSeller()" class="button-transparent pointable">
            <img display-image="sellerDetail.logo" display-image-config="{defaultImage: 'defaultLogo', size:240}" />
      </button>
      
  </div>
  <div class="pull-right">
     <h1>{{sellerDetail.name}}</h1>
  </div>
</div>

<div autoload-on-vertical-scroll-end="scrollEnd" ng-init="maxHeight = (sellerDetail !== false ? 240 : 340)" grid-generator-items="search.results" grid-generator="{square:false, margin:1, maxWidth:240, minWidth:180, maxHeight: maxHeight, minHeight:345}" class="grid-wrapper clearfix">
    <div ng-repeat="result in search.results track by $index" on-ng-repeat-end class="grid-item grid-generator">
        <button loading ng-click="view(result.key)" class="button-transparent pointable">
            <img display-image="result._cover" display-image-config="{defaultImage: 'defaultCatalogCover', size:240}" />
        </button>
        <button ng-if="!sellerDetail" loading ui-sref="seller-info({key: result.seller_account_key})" class="button-transparent pointable seller-logo-bellow">
            <img display-image="result._seller_logo" display-image-config="{defaultImage: 'defaultLogo', size:240}" />
        </button>
    </div>
</div>

<div load-more-button="search.pagination"></div>

<div ng-controller="AppCtrl">
 
    <form name="projectForm">
      <md-input-container>
        <label>Description</label>
        <input md-maxlength="30" required name="description" ng-model="project.description">
        <div ng-messages="projectForm.description.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Client Name</label>
        <input required name="clientName" ng-model="project.clientName">
        <div ng-messages="projectForm.clientName.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Hourly Rate (USD)</label>
        <input required type="number" step="any" name="rate" ng-model="project.rate" min="800" max="4999" required>
        <div ng-messages="projectForm.rate.$error">
          <div ng-message="required">You've got to charge something! You can't just <b>give away</b> a Missile Defense System.</div>
          <div ng-message="min">You should charge at least $800 an hour. This job is a big deal... if you mess up, everyone dies!</div>
          <div ng-message="max">$5,000 an hour? That's a little ridiculous. I doubt event Bill Clinton could afford that.</div>
        </div>
      </md-input-container>
    </form>
 
 

</div> 