<form ng-submit="save()" name="container.main">
	
<div class="modal-body scrollable">


<div class="clearfix">
	<div load-infinite-catalog-images class="pull-left t60 overflow-x">
		<div class="overflow-master">
			<ol>
			 <li class="catalog-image-scroll" ng-repeat="catalog_image in entity._images track by $index" ng-hide="catalog_image._state == 'deleted'"
			     data-drop="true" ng-model='catalog_image.pricetags' data-jqyoui-options="{accept: '.new-pricetag'}" 
			     jqyoui-droppable="{multiple:true, onDrop : 'onDrop(catalog_image)'}"
			     data-width="{{catalog_image.width}}" data-height="{{catalog_image.height}}">
				 <img catalog-slider class="img" ng-src="{{catalog_image.serving_url}}=s600" />
				 
				 <div ng-style="{top: pricetag._position_top + 'px', left : pricetag._position_left + 'px'}"
				      ng-model="image.pricetags" data-jqyoui-options="{containment : 'parent'}" 
				      jqyoui-draggable="{index: {{$index}}, onStop : 'onStop(pricetag)'}" 
				 	  data-drag="true" class="button pricetag"
				 	  catalog-pricetag-position
				 	  ng-repeat="pricetag in catalog_image.pricetags track by $index"
				 	  ng-hide="pricetag._state == 'deleted' || !pricetag.key">
				 	<a ng-click="manageProductById(pricetag)" href="javascript:;">{{pricetag.value}}</a>
				 </div>
				 
		     </li>
		    </ol>
	    </div>
	</div>
	
	<div class="pull-right t40">
		<div class="modal-body-inner">
			
		  <div class="text-right">
		  	<button type="button" class="button" ng-click="manageProduct()">Add Product</button>
		  </div>
	 
		  <ul>
            <li class="new-pricetag" ng-repeat='product in entity._products track by $index' data-drag="true" 
                data-jqyoui-options="{revert: 'invalid', scope2:'new-pricetag', helper: 'clone'}" 
                ng-model="entity._products" jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}">
                <div class="just-text"><a ng-click="manageProduct(product)" href="javascript:;">{{product.name}}</a></div>
                <div class="button pricetag">{{product.unit_price}}</div>
            </li>
          </ul>
          
          <div ng-show="entity._next_read_arguments._products.config.more">
			<button type="button" ng-click="getMoreProducts()" busy class="button">Load more products</button>
		  </div>
	 
	   	 <div class="corner-right">
	   	 	 <button type="button" ng-click="save()" 
				ng-show="rule.action.update" busy class="button">
				Save
			</button>
			<button type="button" class="button" ng-click="cancel()">
				Cancel
			</button>
	   	 </div>
		</div>
	</div>
</div>
   

</div>

 
</form>