#is-mobile {
    visibility: hidden;
}
#is-tablet {
    visibility: hidden;
}
#is-desktoplike {
    visibility: hidden;
}
@media screen and (orientation: portrait) {
    /* Portrait styles here */
    
    #is-landscape {
        visibility: hidden;
    }
}
/* Landscape */

@media screen and (orientation: landscape) {
    /* Landscape styles here */
    
    #is-landscape {
        visibility: visible;
    }
}

@media screen and (min-width: 960px) {
    #is-desktoplike {
        visibility: visible;
    }

    .modal-medium .modal-dialog, .max-width-confirmation {
        min-width: 360px;
    }
}

@media screen and (max-width: 1024px) {
    #is-tablet {
        visibility: visible;
    }
}

@media screen and (max-width: 767px) {
    /*this is only for mobile devices */
   #is-mobile {
        visibility: visible;
    }

}