
    <div autoload-on-vertical-scroll-end="scrollEnd">
            <div class="item clearfix" ng-repeat="order in search.results">
                      <div class="item-left">
                         <div>{{order._seller.name}}</div>
                         <div>{{order.state}}</div>
                         <div>{{order|output:'created'}}</div>
                      </div>
                      <div class="item-right list-actions">
                          <button loading ng-click="view(order)" type="button" class="button">View</button> 
                      </div>
            </div>
    </div>
