.button-action {
    padding: 12px;
}
.md-toolbar-tools.with-actions {
    padding: 0px;
}
.md-toolbar-tools.with-left-action {
    padding-left: 0px;
}
.md-toolbar-tools.with-right-action {
    padding-right: 0px;
}
.md-toolbar-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
    overflow: hidden;
    display:block;
}
.actions-right .action {
    float:left;
}