<div fit-in-modal>
      
      <div class="modal-body login-methods fixed-height">
          <modal-loading absolute="true"></modal-loading>
          <div ng-if="$state.isCompleted()" class="modal-body-inner">
                <div class="list padding-top-24 padding-bottom-16">
                    <div class="padding-sides-24">
                      <span class="title">Sign in with existing account</span>
                    </div>
                </div>
                 <div class="list padding-top-8 padding-bottom-8">
                    <div class="social-grid">
                        <button ng-click="loginPopup(soc)" type="button" ng-repeat="soc in socials" class="social-grid-item" md-ink-ripple>
                            <div class="social-grid-item-line">
                                <img class="social-icon" ng-src="{{getIcon(soc)}}">
                            </div>
                        </button>
                    </div>
                </div>
          </div>
       </div>
</div>