<div accordion-on-open="accordions">
    <accordion close-others="accordions.closeOthers">
        <accordion-group heading="{{accordions.groups[0].label}}" is-open="accordions.groups[0].open" is-disabled="accordions.groups[0].disabled">
            <ul class="list">
                  <li class="list-row">
                        <div class="list-content-tile list-content-tile-two-lines">
                              <strong class="first">ID</strong>
                              <span class="second">{{entity.id}}</span>
                        </div>
                  </li>
                  <li class="list-row">
                      <div class="list-content-tile list-content-tile-two-lines">
                          <strong class="first">Registered</strong>
                          <span class="second">{{entity|output:'created'}}</span>
                      </div>
                  </li>
                  <li class="list-row">
                      <div class="list-content-tile list-content-tile-two-lines">
                          <strong class="first">State</strong>
                          <span class="second">{{entity.state}}</span>
                      </div>
                  </li>
            </ul>
        </accordion-group>

        <accordion-group heading="{{accordions.groups[1].label}}" is-open="accordions.groups[1].open" is-disabled="accordions.groups[1].disabled">
           <div class="list">
            <div ng-repeat="ident in entity.identities" class="list-row no-padding list-row-has-secondary">
               <list-button ng-disabled="ident.identity == args.primary_identity" ng-click="setPrimary(ident)">
                  <strong class="first">{{ident.identity|formatLoginProivider}}</strong>
                  <span class="second">
                    {{ident.email}}<span ng-if="ident.identity == args.primary_identity">, Primary</span>
                  </span>
               </list-button>
               <div class="list-secondary-tile">
                  <md-button loading type="button" ng-disabled="!entity.ui.rule.field.identities.writable" class="button" ng-click="disassociate(ident)">
                        <span ng-show="!isAssociated(ident)">Associate</span>
                        <span ng-show="isAssociated(ident)">Disassociate</span>
                  </md-button>
               </div>
             </div>
           </div>
        </accordion-group>

        <accordion-group ng-if="accordions.groups[2]" heading="{{accordions.groups[2].label}}" is-open="accordions.groups[2].open" is-disabled="accordions.groups[2].disabled" ng-init="accordion = accordions.groups[2]">
          <div ng-if="accordion.include" ng-include="accordion.include"></div>
        </accordion-group>
    </accordion>
 </div>