<div>
     <ul class="list list-padding seam-bottom">
          <li class="list-row list-row-two-lines">
                <div class="list-content-tile list-content-tile-two-lines">
                      <strong class="first">ID</strong>
                      <span class="second">{{entity.id}}</span>
                </div>
          </li>
          <li class="list-row list-row-two-lines">
              <div class="list-content-tile list-content-tile-two-lines">
                  <strong class="first">Registered</strong>
                  <span class="second">{{entity|output:'created'}}</span>
              </div>
          </li>
          <li class="list-row list-row-two-lines">
              <div class="list-content-tile list-content-tile-two-lines">
                  <strong class="first">State</strong>
                  <span class="second">{{entity.state}}</span>
              </div>
          </li>
    </ul>
    <div class="list list-padding">
        <div class="list-subheader subheader">Sign In Methods</div>

         <button 
              type="button"
              md-ink-ripple
              ng-repeat="ident in identities"
              ng-click="maybeDisconnect(ident)"
              class="menu-item list-row list-row-has-primary"
              ng-class="{'list-row-two-lines': ident.email && !ident.primary,
                         'list-row-three-lines': ident.primary}">
              <div class="list-content-tile">
                <div class="list-primary-tile">
                   <div class="avatar-small">
                     <div class="button-square">
                       <icon ng-show="!ident.associated && ident.associated !== undefined" type="toggle.check-box-outline-blank"></icon>
                       <icon ng-show="ident.associated || ident.associated === undefined" type="toggle.check-box"></icon>
                     </div>
                   </div>
                </div>
                <strong class="first">{{ident.identity|formatLoginProivider}}</strong>
                <span ng-if="ident.email" class="second">
                  {{ident.email}}
                </span>
                <span ng-if="ident.primary" class="second">
                  All notifications are directed to this email.
                </span>
              </div>
         </button>

    </div>
    <!-- records -->
 </div>