/*
Error: Invalid CSS after "}": expected selector or at-rule, was "}"
        on line 3445 of /Users/admin/Dev/py/miraclestyle-lite/frontend/node/raw/style.css

3440: 
3441: .catalog-draft-state .display2 {
3442:     color: rgba(255, 0, 0, 0.87);
3443:     transform: rotate(-45deg);
3444: }
3445: }
3446: .logo img {
3447:     width: auto;
3448:     height: 100%;
3449:     vertical-align: middle;
3450:     display: block;

Backtrace:
/Users/admin/Dev/py/miraclestyle-lite/frontend/node/raw/style.css:3445
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:1164:in `expected'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:1098:in `expected'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:43:in `parse'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/lib/sass/engine.rb:393:in `_to_tree'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/lib/sass/engine.rb:285:in `render_with_sourcemap'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:407:in `run'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:63:in `process_result'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/lib/sass/exec/base.rb:52:in `parse'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/lib/sass/exec/base.rb:19:in `parse!'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.4.14/bin/scss:13:in `<top (required)>'
/opt/local/bin/scss:23:in `load'
/opt/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected selector or at-rule, was \"}\"\A         on line 3445 of /Users/admin/Dev/py/miraclestyle-lite/frontend/node/raw/style.css\A \A 3440: \A 3441: .catalog-draft-state .display2 {\A 3442:     color: rgba(255, 0, 0, 0.87);\A 3443:     transform: rotate(-45deg);\A 3444: }\A 3445: }\A 3446: .logo img {\A 3447:     width: auto;\A 3448:     height: 100%;\A 3449:     vertical-align: middle;\A 3450:     display: block;"; }
