
<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Created</th>
					<th>Updated</th>
					<th>State</th>
					<th>Primary Contact</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="app in search.entities">
					<td>{{app.id}}</td>
					<td>{{app.name}}</td>
					<td>{{app.created|date:DATE_FULL}}</td>
					<td>{{app.updated|date:DATE_FULL}}</td>
					<td>{{app.state}}</td>
					<td>{{app._primary_contact_email}}</td>
					<td>
						<button type="button" busy ng-click="update(app)" class="button">
							Edit
						</button>
					</td>
				</tr>
			</tbody>
</table>