
<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Created</th>
					<th>Updated</th>
					<th>State</th>
					<th>Primary E-mail</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="usr in search.entities">
					<td>{{usr.id}}</td>
					<td>{{usr.created|date:DATE_FULL}}</td>
					<td>{{usr.updated|date:DATE_FULL}}</td>
					<td>{{usr.state}}</td>
					<td>{{usr._primary_email}}</td>
					<td>
						<button type="button" busy ng-click="update(usr)" class="button">
							Edit
						</button>
					</td>
				</tr>
			</tbody>
</table>