<div ng-class="{'structured-field-repeated' : config.repeated, 'field-with-label': config.ui.label}" class="image-field structured-field">
 

      <div class="clearfix buttons">
        <div class="pull-right">
            <button loading type="button" ng-click="addProducts()" class="button">Manage Products</button>
           <div loading="!<%= config.ui.writableCompiled %>" class="button fake-button">
               <span>Add Images <span class="selected-total">(Selected: :total)</span> <span ng-show="$isUploading">(Uploading...)</span></span>
               <input ng-show="<%= config.ui.writableCompiled %>" class="upload" name="<%= config.ui.formName %>"
                       multiple
                       show-number-of-selected-files=".selected-total"
                       generate-upload-url="true"
                       type="file" />
           </div>
        </div>
      </div>
 

    <div ui-sortable="config.ui.specifics.sortableOptions" fancy-grid-generator="config.ui.specifics.parentArgs" ng-model="config.ui.specifics.parentArgs" ng-class="{'grid-no-items': !config.ui.specifics.parentArgs.length}" class="clearfix grid-wrapper">

        <div on-ng-repeat-end ng-repeat="image in config.ui.specifics.parentArgs" ng-hide="image._state == 'deleted'" class="no-move image-image grid-item">

            <div class="img spaceout">
                <img display-image-config="config.ui.specifics.displayImageConfig" display-image="image" />
            </div>

            <div class="button-wrapper clearfix">
                <button loading="!<%= config.ui.writableCompiled %>" type="button" loading class="button" ng-click="config.ui.specifics.remove(image)">Remove</button>
                <a ng-show="config.ui.specifics.sortable === undefined || config.ui.specifics.sortable" ng-class="{'no-move': config.ui.specifics.sortableOptions.disabled}" loading="!<%= config.ui.writableCompiled %>" type="button" tap-or-click="config.ui.specifics.sortableOptions.whatSortMeans()" class="button sort-handle">Sort</a>
            </div>
        </div>
    </div>

    <div load-more-button="config.ui.specifics.reader"></div>
</div>