<div fit-in-dialog>
    <form name="container.form" ng-submit="save()">
        <div class="modal-body fixed-height overflow-hidden has-footer">
            <div class="fixed-height overflow-y include-footer-height">
                <div class="modal-body-inner">
                <div accordion-on-open="accordions">
                    <accordion close-others="accordions.closeOthers">
                        <accordion-group ng-repeat="accordion in accordions.groups" heading="{{accordion.label}}" is-open="accordion.open" is-disabled="accordion.disabled">
                            <div monitor-accordion-form-state="accordion" form-builder="formBuilder[$index]"></div>
                        </accordion-group>
                    </accordion>
                </div>

            </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" loading class="button">
                Save
            </button>
            <button type="button" loading class="button" ng-click="close()">
                Close
            </button>
        </div>
    </form>
</div>
