<div fit-in-dialog>
<form name="container.form" ng-submit="save()">
  <textarea style="display:none;" compatibility-maker="args" ng-model="json_body" name="__body__"></textarea>
  <div class="modal-body scrollable">
    <div class="modal-body-inner">
       <h2 class="fieldset">General</h2>
       <div form-input="config.ui.specifics.selectKinds"></div>
       <div ng-include="pluginTemplate"></div>
    </div>
  </div> 
  <div class="modal-footer">
    <button class="button">
      Save
    </button>
    <button type="button" class="button" ng-click="cancel()">
      Cancel
    </button>
  </div>
</form>
</div>