<div fit-in-dialog>
<form name="container.form" ng-submit="save()">
  <textarea style="display:none;" compatibility-maker="args" ng-model="json_body" name="__body__"></textarea>
  <div class="modal-body scrollable">
    <div class="modal-body-inner">
    <h2 class="fieldset">General</h2>  
    <div form-builder="config.ui.specifics.formBuilder"></div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" loading class="button">
      Save
    </button>
    <button type="button" loading class="button" ng-click="close()">
      Close
    </button>
  </div>
</form>
</div>