<div fit-in-dialog>
    <form name="container.form" <% if (config.ui.specifics.remote) { %>
        ng-upload-error="completeError(content)" ng-upload="complete(content)" method="post" action="{{container.action}}"
        <% } else {%>ng-submit="save()"
            <% } %>>
                <% if (config.ui.specifics.remote) { %>
                    <input type="hidden" compatibility-maker="rootArgs" name="__body__" />
                    <% } %>
                        <div class="modal-body scrollable">
                            <div class="modal-body-inner">
                                <div accordion-on-open="accordions">
                                    <accordion close-others="accordions.closeOthers">
                                        <accordion-group ng-repeat="accordion in accordions.groups" heading="{{accordion.label}}" is-open="accordion.open" is-disabled="accordion.disabled">
                                            <div form-builder="formBuilder[$index]"></div>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <% if (config.ui.specifics.templateFooterUrl) { %>
                            <span ng-include="config.ui.specifics.templateFooterUrl"></span>
                            <% } else { %>
                            <button <% if (config.ui.specifics.remote) { %>
                                 submit-if-files-no-complete="noComplete" submit-if-files="save"
                                <% } else { %>type="submit"
                                    <% } %>loading class="button"> Save
                            </button>
                            <button type="button" loading class="button" ng-click="close()">
                                Close
                            </button>
                            <% } %>
                        </div>
    </form>
</div>
