.logo img {
    width: auto;
    height: 100%;
    vertical-align: middle;
    display: block;
}

.bar-logo img {
    width: 100%;
    display: block;
}

.main-toolbar {
    display: none;
}

.main-toolbar.ngloaded {
    display: block;
}

.main-toolbar.ngloaded.hidden {
    display: none;
}
