.logo img {
    width: auto;
    height: 100%;
    vertical-align: middle;
    display: block;
}

.bar-logo img {
    width: 100%;
    display: block;
}

.main-toolbar {
    display: none;
}

.main-toolbar.ngloaded {
    display: block;
}

.main-toolbar.ngloaded.hidden {
    display: none;
}

.login-methods .social-grid {
    padding-top: 0px;
}

.loading-splash {
    z-index: 100;
    width: 100%;
    background: white;
    height: 100%;
    position: fixed;
}

.loading-splash .progress-wrapper {
    position: absolute;
    text-align: center;
    width: 100%;
    height: calc(100% - 56px);
    padding: 0px !important;
    border-radius: inherit;
}

.about-page-top {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}
.main-toolbar {
    display: block;
    position: absolute;
    z-index: 11;
}

.ui-view-wrapper {
    margin-top: 56px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

body, html {
    overflow: hidden;
}