<form ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
	
	<div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input ng-required="rule.input[action].name.required" class="text-input" type="text" ng-model="entity.name" />
			</div>
		</div>
	</div>
  
  	
    <div class="form-control">
		<label class="form-label">E-mail</label>
		<div class="form-input">
			<div class="form-text">
				 <input ng-required="rule.input[action].user.required" class="text-input" type="text" ng-model="entity.user" />
			</div>
		</div>
	</div>
	 
    <div class="form-control">
		<label class="form-label">Role</label>
		<div class="form-input">
			<select multiple="true" name="role" ng-required="rule.input[action].roles.required" ui-select2 ng-model="entity.roles" data-placeholder="Select roles for this user">
				    <option value=""></option>
				    <option ng-repeat="role in roles" value="{{role.key}}">{{role.name}}</option>
			</select>
		</div>
	</div>
 
 </div>
 
  
</div>

<div class="modal-footer">
 
	<button  ng-show="rule.action.invite.executable" busy class="button">
		Invite
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>