<form name="container.main" ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
  <h2 class="fieldset">
	 <span class="fieldset-text">General</span>
  </h2>
  
	<div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input ng-required="rule.input[action].name.required" class="text-input" type="text" ng-model="entity.name" />
			</div>
		</div>
	</div>
  
  	
    <div class="form-control">
		<label class="form-label">E-mail</label>
		<div class="form-input">
			<div class="form-text">
				 <input ng-required="rule.input[action].email.required" class="text-input" type="text" ng-model="entity.email" />
			</div>
		</div>
	</div>
	 
    <div class="form-control">
		<label class="form-label">Roles</label>
		<div class="form-input">
			<input multiple="true" 
			       name="role" 
			       ng-required="rule.input[action].roles.required" 
			       ng-disabled="!rule.field.roles.writable" 
			       ui-select2="commonSelect2Options.role"
			       ng-model="entity.roles"
			       data-placeholder="Select roles for this user" />
		</div>
	</div>
 
 </div>
 
  
</div>

<div class="modal-footer">
 
	<button  ng-show="rule.action.invite.executable" busy class="button">
		Invite
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>