<form ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
  
 <h2 class="fieldset">
	 <span class="fieldset-text">General</span>
 </h2>
		 	
    <div class="form-control">
		<label class="form-label">Name</label>
		<div class="form-input">
			<div class="form-text">
				 <input ng-disabled="!rule.field.name.writable" name="name" ng-required="rule.input[action].name.required" class="text-input" type="text" ng-model="entity.name" />
			</div>
		</div>
	</div>
 
	<div class="form-control">
		<label class="form-label">Active</label>
		<div class="form-input">
			<div class="form-text">
				 <button toggle ng-disabled="!rule.field.active.writable" class="button" type="button" ng-model="entity.active"></button>
			</div>
		</div>
	</div>
	
	
	<h2 class="fieldset with-button">
			<span class="fieldset-text">Permissions</span>
			<span ng-show="rule.field.permissions.writable && rule.action.update.executable" class="fieldset-button"><a class="button" busy ng-click="addPermission()">Add Permission</a></span>
		</h2>
		<table class="table">
					<thead>
						<tr>
							<th>Model</th>
							<th>Action/Field</th>
							<th>Rule</th>
							<th ng-show="rule.action.update.executable"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="perm in entity.permissions">
							<td>{{FRIENDLY_KIND_NAMES[perm.kind]}}</td>
							<td>
								<span ng-show="perm.fields != null">{{perm.fields|join:', '}}</span>
								<span ng-show="perm.actions != null">{{perm|permissionResolveActionName|join:', '}}</span>
							</td>
							<td>
								<span ng-show="perm.executable != null">Executable: {{perm.executable}}</span>
								<span ng-show="perm.writable != null">Writable: {{perm.writable}}</span>
								<span ng-show="perm.visible != null">Visible: {{perm.visible}}</span>
							</td>
							<td ng-show="rule.action.update.executable">
								<button ng-click="removePermission(perm)" type="button" class="button">Remove</button>
								<button ng-click="editPermission(perm)" type="button" class="button">Edit</button>
							</td>
						</tr>
					</tbody>
		</table>
	 
	<div ng-show="rule.action.read_records.executable && history" class="form-control">
		<div ng-include="logic_template('misc/logs.html')"></div>
	</div>	 
	 

</div>
 
  
</div>

<div class="modal-footer">
 
	<button  ng-show="rule.action[action].executable" busy class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>