<form name="container.main" ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
	
	<div class="form-control">
		<label class="form-label">Type</label>
		<div class="form-input">
			<select ng-change="get_meta()" name="type" ng-required="true" ui-select2 ng-model="permission.model" data-placeholder="Select a model">
					<option value=""></option>
				    <option ng-repeat="(type_key, type) in types" value="{{type_key}}">{{type}}</option>
			</select>
		</div>
	</div>
	
	<div ng-show="permission.model">
 
	 
    <div class="form-control">
		<label class="form-label">Model</label>
		<div class="form-input">
			<select name="model" ng-change="get_meta()" ng-required="true" ui-select2 ng-model="permission.model" data-placeholder="Select a model">
					<option value=""></option>
				    <option ng-repeat="(kind_key, kind) in kinds" value="{{kind_key}}">{{kind}}</option>
			</select>
		</div>
	</div>
	
	
	<div ng-show="permission.model == '79'">
		<div class="form-control">
		<label class="form-label">Action</label>
		<div class="form-input">
			<select name="kind" multiple="true" ng-required="permission.model == '79'" ui-select2 ng-model="permission.actions" data-placeholder="Select a action">
 
				    <option ng-repeat="(action_key, action) in actions" value="{{action_key}}">{{action}}</option>
			</select>
		</div>
		</div>
		<div class="form-control">
			<label class="form-label">Executable</label>
			<div class="form-input">
				<div class="form-text">
					 <button toggle class="button" type="button" ng-model="permission.executable"></button>
				</div>
			</div>
		</div>
		
	</div>
	
	<div ng-show="permission.model == '80'">
		<div class="form-control">
		<label class="form-label">Field</label>
		<div class="form-input">
			<select name="fields" multiple="true" ng-required="permission.model == '80'" ui-select2 ng-model="permission.fields" data-placeholder="Select a field">
				    <option ng-repeat="(field_key, field) in fields" value="{{field_key}}">{{field}}</option>
			</select>
		</div>
		</div>
		
		
		<div class="form-control">
			<label class="form-label">Writable</label>
			<div class="form-input">
				<div class="form-text">
					 <button toggle class="button" type="button" ng-model="permission.writable"></button>
				</div>
			</div>
		</div>
		
		<div class="form-control">
			<label class="form-label">Visible</label>
			<div class="form-input">
				<div class="form-text">
					 <button toggle class="button" type="button" ng-model="permission.visible"></button>
				</div>
			</div>
		</div>
		
	</div>
 
   <div class="form-control">
		<label class="form-label">Condition</label>
		<div class="form-input">
			<div class="form-text">
				 <textarea name="condition" ng-required="true" class="text-input" ng-model="permission.condition"></textarea>
			</div>
		</div>
	</div>
	
	</div>
	  
</div>
 
  
</div>

<div class="modal-footer">
 
	<button busy class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>