<div class="cards">
    <div class="card" ng-repeat="user in search.results">
        <button md-ink-ripple type="button" class="menu-item card-inner" loading ng-click="manage(user, $event)">
            <div class="card-inner-padding">
                <h1 class="headline">#{{user.id}}</h1>
                <div class="secondary padding-bottom-16">{{user|output:'created'}}</div>
                <table class="card-table">
                    <tbody>

                        <tr>
                            <td class="secondary info">State</td>
                            <td class="secondary">{{user.state|labelize:'account'}}</td>
                        </tr>
                        <tr>
                            <td class="secondary info">Updated</td>
                            <td class="secondary">{{user|output:'updated'}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
         </button>
    </div>
</div>