<div class="cards">
    <div class="card" ng-repeat="catalog in search.results">
        <button md-ink-ripple type="button" class="menu-item card-inner" loading ng-click="manage(catalog, $event)">
            <div class="card-inner-padding">
                <h1 class="headline">#{{catalog.id}}</h1>
                <div class="secondary padding-bottom-16">{{catalog|output:'created'}}</div>
                <table class="card-table">
                    <tbody>

                        <tr>
                            <td class="secondary info">Seller</td>
                            <td class="secondary">#{{catalog.parent.parent.id}}</td>
                        </tr>

                        <tr>
                            <td class="secondary info">Name</td>
                            <td class="secondary">{{catalog.name}}</td>
                        </tr>

                        <tr>
                            <td class="secondary info">State</td>
                            <td class="secondary">{{catalog.state|labelize:"catalog"}}</td>
                        </tr>

                        <tr>
                            <td class="secondary info">Updated</td>
                            <td class="secondary">{{catalog|output:'updated'}}</td>
                        </tr>
                        
                        <tr>
                            <td class="secondary info">Publish date</td>
                            <td class="secondary">{{catalog|output:'published_date'}}</td>
                        </tr>

                        <tr>
                            <td class="secondary info">Discontinue date</td>
                            <td class="secondary">{{catalog|output:'discontinue_date'}}</td>
                        </tr>
 
                    </tbody>
                </table>
            </div>
         </button>
    </div>
</div>