<div class="list list-padding"><div class="multiline">
                  <span class="body1 padding-bottom-16">
                    Miraclestyle is a shopping place. To make sure people feel safe and comfortable here,
                    we require everyone to agree to and follow these rules.
                  </span>
                  <span class="body1 padding-bottom-24">
                    Note that, however, these rules are rarely black and white-for each piece of content we have to
                    consider all of its aspects, as well as the surrounding context.
                    If there's a question about whether something's appropriate for our community,
                    we'll err on the side of taking it down.
                  </span>
                  <span class="subhead bold padding-bottom-8">Stuff you can't post/sell</span>
                  <span class="body1 padding-bottom-16">
                    You aren't allowed to post/sell anything that:
                  </span>
                  <ul class="body1 padding-sides-16 padding-bottom-24">
                    <li class="bullet padding-bottom-8">
                      Is sexually explicit or pornographic, exploits or presents minors in a sexual way,
                      or promotes adult sexual services;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Creates a genuine risk of physical injury or property damage, credibly threatens people or public safety,
                      or organizes, encourages or celebrates harm;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Promotes self-harm, eating disorders or hard drug abuse;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Attacks, bullies or harasses nonpublic people;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Includes hate speech;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Is gratuitously violent or gory;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Infringes anyone's intellectual property, privacy or other rights;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Is fraudulent or deceptive;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Is someone else's personal information or requests a minor's personal information;
                    </li>
                    <li class="bullet">
                      Contains any information or content that's illegal.
                    </li>
                  </ul>
                  <span class="subhead bold padding-bottom-8">Things you can't do</span>
                  <span class="body1 padding-bottom-16">
                    You also aren't allowed to:
                  </span>
                  <ul class="body1 padding-sides-16 padding-bottom-16">
                    <li class="bullet padding-bottom-8">
                      Use Miraclestyle's name, logo, trademark or branding without our consent
                      (our <a>brand guidelines</a> tell you how to use these things);
                    </li>
                    <li class="bullet padding-bottom-8">
                      Access, tamper with or use non-public areas of Miraclestyle,
                      our systems or our technical providers' systems;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Break or circumvent our security measures or otherwise test the vulnerability of our systems or networks;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Use any method to access, search, scrape, download or change Miraclestyle or anything on it
                      (software and tools provided by Miraclestyle or popular browsers are okay);
                    </li>
                    <li class="bullet padding-bottom-8">
                      Post large amounts of unwanted or repetitive stuff, post unsolicited content, etc.,
                      or try to artificially boost views or other metrics;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Use affiliate or redirect links that create a confusing experience for users;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Use meta tags, hidden text or metadata with our trademark, logo,
                      URL or product name without our written consent;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Use Miraclestyle user information to forge any TCP/IP packet header or any part of the
                      header information in any email or newsgroup posting, or in any way use Miraclestyle to
                      send altered source-identifying information;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Try to reverse engineer any of Miraclestyle's software;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Try to interfere with any Miraclestyle user, host or network,
                      for example by sending a virus, overloading, spamming or mail-bombing;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Collect or store personally identifiable information from Miraclestyle or its users without their permission;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Impersonate or misrepresent your affiliation with any person or entity, including Miraclestyle;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Do anything that violates applicable law or regulations;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Let anyone access your account or do anything that might put your account at risk;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Sell your account or otherwise transfer it for compensation;
                    </li>
                    <li class="bullet padding-bottom-8">
                      Create or show ads that look like or could be confused with Miraclestyle content
                      (for example, embedding Miraclestyle actions, follow or unfollow in your ads);
                    </li>
                    <li class="bullet padding-bottom-8">
                      Compensate or incentivize users to take actions on Miraclestyle such as following;
                    </li>
                    <li class="bullet">
                      Encourage or help anyone do any of the things on this list.
                    </li>
                  </ul>
                  <span class="body1">
                    If you come across a content that seems to break these rules, you can <a>report it to us</a>.
                    We may remove anything for any reason, including if we think it goes
                    against any of these rules or our
                    <a ui-sref="tos">Terms of Service</a>.
                  </span>
                </div></div>