<div class="list list-padding">

                <div class="multiline">
                  <span class="body1 padding-bottom-40">
                    MIRACLESTYLE's products and services are provided by MIRACLESTYLE, Inc.
                    These Terms of Service ("Terms") govern your access to and use of MIRACLESTYLE's website,
                    products, and services ("Products") for commercial purposes.
                    Please read these Terms carefully, and <a href="mailto:support@miraclestyle.com" target="_blank">contact us</a> if you have any questions.
                    By creating an account, or by accessing or using our Products,
                    you agree to be bound by these Terms and by our
                    <a ui-sref="privacy_policy">Privacy Policy</a>.
                  </span>
                  <span class="headline padding-bottom-20">1. Using MIRACLESTYLE</span>
                  <span class="subhead bold padding-bottom-8">1.1. Who can use MIRACLESTYLE</span>
                  <span class="body1 padding-bottom-24">
                    You may use our Products only if you can form a binding contract with MIRACLESTYLE,
                    and only in compliance with these Terms and all applicable laws.
                    When you create your MIRACLESTYLE account, you must provide us with accurate and complete information.
                    Any use or access by anyone under the age of 13 is prohibited.
                    If you open an account, or access or use our Products, on behalf of a company, organization, or other entity,
                    then (a) "you" includes you and that entity,
                    and (b) you represent and warrant that you are authorized to grant all permissions and licenses
                    provided in these Terms and bind the entity to these Terms,
                    and that you agree to these Terms on the entity's behalf.
                    Some of our Products may be software that is downloaded to your computer, phone, tablet, or other device.
                    You agree that we may automatically upgrade those Products, and these Terms will apply to such upgrades.
                  </span>
                  <span class="subhead bold padding-bottom-8">1.2. Our license to you</span>
                  <span class="body1 padding-bottom-40">
                    Subject to these Terms and our policies
                    (including our <a ui-sref="acceptable_use_policy">Acceptable Use Policy</a>),
                    we grant you a limited, non-exclusive, non-transferable, and revocable license to use our Products.
                  </span>
                  <span class="headline padding-bottom-20">2. Your Content</span>
                  <span class="subhead bold padding-bottom-8">2.1. Posting content</span>
                  <span class="body1 padding-bottom-24">
                    MIRACLESTYLE allows you to post content, including text, graphics, photos, links, and other materials.
                    Anything that you post or otherwise make available on our Products is referred to as "User Content."
                    You retain all rights in, and are solely responsible for, the User Content you post to MIRACLESTYLE.
                  </span>
                  <span class="subhead bold padding-bottom-8">2.2. How MIRACLESTYLE and other users can use your content</span>
                  <span class="body1 padding-bottom-24">
                    You grant MIRACLESTYLE and its users a non-exclusive, royalty-free, transferable, sublicensable,
                    worldwide license to use, store, display, reproduce, modify, create derivative works, perform,
                    and distribute your User Content on MIRACLESTYLE solely for the purposes of operating, developing,
                    providing, and using the Products.
                    Nothing in these Terms shall restrict other legal rights MIRACLESTYLE may have to User Content,
                    for example under other licenses. We reserve the right to remove or modify User Content for any reason,
                    including User Content that we believe violates these Terms or our policies.
                  </span>
                  <span class="subhead bold padding-bottom-8">2.3. How long we keep your content</span>
                  <span class="body1 padding-bottom-24">
                    Following termination or deactivation of your account, or if you remove any User Content from MIRACLESTYLE,
                    we may retain your User Content for a commercially reasonable period of time for backup, archival,
                    or audit purposes. Furthermore, MIRACLESTYLE and its users may retain and continue to use, store, display,
                    reproduce, modify, create derivative works, perform, and distribute any of your User Content that other
                    users have stored or shared through MIRACLESTYLE.
                  </span>
                  <span class="subhead bold padding-bottom-8">2.4. Your responsibility for your content</span>
                  <span class="body1 padding-bottom-16">
                    MIRACLESTYLE provides a creative and positive place for you and other users to discover and share things you love.
                    To keep it that way, you must abide by our User Content Etiquette and comply with our policies,
                    including our <a ui-sref="acceptable_use_policy">Acceptable Use Policy</a>.
                    You shall not post User Content that violates or encourages any conduct
                    that violates laws or regulations, including but not limited to laws or regulations applicable to your
                    line of business and laws or regulations applicable to advertising. You are responsible for User Content,
                    and you represent and warrant that User Content complies with all applicable laws and regulations.
                    Except as expressly provided in these Terms, you agree not to use, modify, reproduce, distribute, sell,
                    license, or otherwise use our Products without our permission.
                  </span>
                  <span class="body1 padding-bottom-24">
                    MIRACLESTYLE respects the rights of third party creators and content owners, and expects you to do the same.
                    You, therefore, agree that any User Content that you post to MIRACLESTYLE does not and will not violate any
                    law or infringe the rights of any third party.
                  </span>
                  <span class="subhead bold padding-bottom-8">2.5. Feedback you provide</span>
                  <span class="body1 padding-bottom-40">
                    We value hearing from our users and are always interested in learning about ways we can make
                    MIRACLESTYLE more valuable. If you choose to submit comments, ideas or feedback,
                    you agree that we are free to use them without any restriction or compensation to you.
                    By accepting your submission, MIRACLESTYLE does not waive any rights to use similar or related
                    Feedback previously known to MIRACLESTYLE, or developed by its employees,
                    or obtained from sources other than you.
                  </span>
                  <span class="headline padding-bottom-20">3. Tools for Site Owners</span>
                  <span class="subhead bold padding-bottom-8">3.1. Site Features</span>
                  <span class="body1 padding-bottom-24">
                    We offer products that websites and developers can use to offer MIRACLESTYLE features and functionality
                    to their users (e.g., the "Embed" feature of a catalog) ("Site Features").
                    You agree to use Site Features only as documented by MIRACLESTYLE,
                    and in compliance with our policies and branding guidelines.
                    You may not place Site Features on a site or service with content that would violate these
                    Terms if displayed on our Products. You also agree that the MIRACLESTYLE features and
                    functionality provided by our Site Features will be provided solely by our Site Features,
                    except as otherwise authorized by MIRACLESTYLE.
                  </span>
                  <span class="subhead bold padding-bottom-8">3.2. Permissions</span>
                  <span class="body1 padding-bottom-16">
                    <span class="bold">By incorporating Site Features into your site or service,
                    you agree that MIRACLESTYLE may collect and use information from you and your users as described in our
                    Privacy Policy.</span> You also agree that MIRACLESTYLE may use automated methods to analyze your site or service
                    where Site Features have been incorporated.
                  </span>
                  <span class="body1 padding-bottom-40">
                    <span class="bold">Some Site Features allow you or your users to post or otherwise make available
                    content in our Products.</span>
                    By using these Site Features, you give MIRACLESTYLE and its users permission to such content as set
                    forth in Section 2.2. Nothing in this Section shall restrict other legal rights MIRACLESTYLE
                    may have to the content.
                  </span>
                  <span class="headline padding-bottom-20">4. Copyright Policy</span>
                  <span class="body1 padding-bottom-40">
                    MIRACLESTYLE has adopted and implemented the MIRACLESTYLE Copyright Policy in accordance with the
                    Digital Millennium Copyright Act. For more information, please read our
                    <a ui-sref="copyright_policy">Copyright Policy</a>.
                  </span>
                  <span class="headline padding-bottom-20">5. Security</span>
                  <span class="body1 padding-bottom-40">
                    We care about the security of our users. While we work to protect the security of your content and account,
                    MIRACLESTYLE cannot guarantee that unauthorized third parties will not be able to defeat our security measures.
                    Please notify us immediately of any compromise or unauthorized use of your account.
                    For accounts created on behalf of a company, organization, or other entity,
                    you are responsible for ensuring that only authorized individuals have access to the account.
                  </span>
                  <span class="headline padding-bottom-20">6. Third-party Links, Sites and Services</span>
                  <span class="body1 padding-bottom-40">
                    Our Products may contain links to third-party websites, advertisers, services, special offers,
                    or other events or activities that are not owned or controlled by MIRACLESTYLE.
                    We do not endorse or assume any responsibility for any such third-party sites, information,
                    materials, products, or services. If you access any third party website, service, or content from MIRACLESTYLE,
                    you do so at your own risk and you agree that MIRACLESTYLE will have no liability arising from
                    your use of or access to any third-party website, service, or content.
                  </span>
                  <span class="headline padding-bottom-20">7. Termination</span>
                  <span class="body1 padding-bottom-40">
                    MIRACLESTYLE may terminate or suspend this license at any time, with or without cause or notice to you.
                    Upon termination, you continue to be bound by Sections 2, 3.2., and 7-13 of these Terms.
                  </span>
                  <span class="headline padding-bottom-20">8. Indemnity</span>
                  <span class="body1 padding-bottom-40">
                    You agree to indemnify and hold harmless MIRACLESTYLE and its officers, directors, employees and agents,
                    from and against any claims, suits, proceedings, disputes, demands, liabilities, damages, losses,
                    costs and expenses, including, without limitation, reasonable legal and accounting fees
                    (including costs of defense of claims, suits or proceedings brought by third parties),
                    in any way related to (a) your access to or use of our Products, (b) your User Content,
                    or (c) your breach of any of these Terms.
                  </span>
                  <span class="headline padding-bottom-20">9. Disclaimers</span>
                  <span class="body1 padding-bottom-16">
                    The Products and all included content are provided on an "as is"
                    basis without warranty of any kind, whether express or implied.
                  </span>
                  <span class="body1 padding-bottom-16">
                    MIRACLESTYLE SPECIFICALLY DISCLAIMS ANY AND ALL
                    WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
                    AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF
                    COURSE OF DEALING OR USAGE OF TRADE.
                  </span>
                  <span class="body1 padding-bottom-40">
                    MIRACLESTYLE takes no responsibility and assumes no liability for any User Content
                    that you or any other user or third party posts or transmits using our Products.
                    You understand and agree that you may be exposed to User Content that is inaccurate,
                    objectionable, inappropriate for children, or otherwise unsuited to your purpose.
                  </span>
                  <span class="headline padding-bottom-20">10. Limitation of Liability</span>
                  <span class="body1 padding-bottom-40">
                    TO THE MAXIMUM EXTENT PERMITTED BY LAW, MIRACLESTYLE SHALL NOT BE LIABLE FOR ANY INDIRECT,
                    INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES,
                    WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL,
                    OR OTHER INTANGIBLE LOSSES.
                    IN NO EVENT SHALL MIRACLESTYLE'S AGGREGATE LIABILITY FOR ALL CLAIMS RELATED TO THE
                    PRODUCTS EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE
                    AMOUNTS PAID BY YOU TO MIRACLESTYLE FOR THE PAST THREE MONTHS FOR THE PRODUCTS.
                  </span>
                  <span class="headline padding-bottom-20">11. Arbitration</span>
                  <span class="body1 padding-bottom-40">
                    For any dispute you have with MIRACLESTYLE, you agree first to <a href="mailto:support@miraclestyle.com" target="_blank">contact us</a> and attempt to
                    resolve the dispute with us informally. If MIRACLESTYLE has not been able to resolve the
                    dispute with you informally, we each agree to resolve any claim, dispute, or controversy
                    (excluding claims for injunctive or other equitable relief) arising out of or in connection
                    with or relating to these Terms by binding arbitration by the
                    American Arbitration Association ("AAA") under the Commercial Arbitration Rules and
                    Supplementary Procedures for Consumer Related Disputes then in effect for the AAA,
                    except as provided herein. Unless you and Miraclestyle agree otherwise, the arbitration will
                    be conducted in the county where you reside. Each party will be responsible for paying any AAA filing,
                    administrative and arbitrator fees in accordance with AAA rules, except that Miraclestyle will
                    pay for your reasonable filing, administrative, and arbitrator fees if your claim for
                    damages does not exceed $75,000 and is non-frivolous
                    (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)).
                    The award rendered by the arbitrator shall include costs of arbitration, reasonable attorneys'
                    fees and reasonable costs for expert and other witnesses, and any judgment on the award rendered
                    by the arbitrator may be entered in any court of competent jurisdiction.
                    Nothing in this Section shall prevent either party from seeking injunctive or other equitable
                    relief from the courts for matters related to data security, intellectual property or unauthorized
                    access to the Service. ALL CLAIMS MUST BE BROUGHT IN THE PARTIES' INDIVIDUAL CAPACITY,
                    AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING,
                    AND, UNLESS WE AGREE OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON'S CLAIMS.
                    YOU AGREE THAT, BY ENTERING INTO THESE TERMS, YOU AND MIRACLESTYLE ARE EACH WAIVING THE RIGHT
                    TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.
                  </span>
                  <span class="headline padding-bottom-20">12. Governing Law and Jurisdiction</span>
                  <span class="body1 padding-bottom-16">
                    These Terms shall be governed by the laws of the State of California,
                    without respect to its conflict of laws principles.
                    We each agree to submit to the personal jurisdiction of a state court located in San Francisco County,
                    California or the United States District Court for the Northern District of California,
                    for any actions not subject to Section 11 (Arbitration).
                  </span>
                  <span class="body1 padding-bottom-40">
                    Our Products are controlled and operated from the United States,
                    and we make no representations that they are appropriate or available for use in other locations.
                  </span>
                  <span class="headline padding-bottom-20">13. General Terms</span>
                  <span class="body1 padding-bottom-16">
                    MIRACLESTYLE reserves the right to determine the form and means of
                    providing notifications to you, and you agree to receive legal notices electronically if we so choose.
                    We may revise these Terms from time to time and the most current version will always be posted on our website.
                    If a revision, in our sole discretion, is material we will notify you.
                    By continuing to access or use the Products after revisions become effective,
                    you agree to be bound by the revised Terms. If you do not agree to the new terms,
                    please stop using the Products.
                  </span>
                  <span class="body1 padding-bottom-16">
                    These Terms, and any rights and licenses granted hereunder,
                    may not be transferred or assigned by you,
                    but may be assigned by MIRACLESTYLE without restriction.
                    Any attempted transfer or assignment in violation hereof shall be null and void.
                  </span>
                  <span class="body1 padding-bottom-16">
                    These Terms, together with the Privacy Policy and any
                    amendments and any additional agreements you may enter into with MIRACLESTYLE in
                    connection with the Products, shall constitute the entire agreement between you and
                    MIRACLESTYLE concerning the Products and supersede any prior terms you have with
                    MIRACLESTYLE regarding the Products. If any provision of these Terms is deemed invalid,
                    then that provision will be limited or eliminated to the minimum extent necessary,
                    and the remaining provisions of these Terms will remain in full force and effect.
                  </span>
                  <span class="body1">
                    No waiver of any term of these Terms shall be deemed a further or continuing waiver of
                    such term or any other term, and MIRACLESTYLE's failure to assert any right or provision
                    under these Terms shall not constitute a waiver of such right or provision.
                  </span>
                </div>
        
          </div>