<h1 class="fieldset with-button">
    <span class="fieldset-text">Catalogs</span>
    <span class="fieldset-button"><a class="button" busy ng-click="create()">Add New</a></span>
</h1>
<div load-on-window-scroll-end>
    <div class="grid-wrapper">
        <div data-proportion="{{catalog.cover.proportion}}" ng-repeat="catalog in catalogs"  homepage-grid class="grid-item frontpage">
            <a style="cursor:pointer;" ng-click="manage(catalog)" class="inner">
                <img ng-src="{{catalog.cover.serving_url}}=s360">
            </a>
        </div>
    </div>
</div>

<div ng-show="search.more && !search.loading">
    <button style="width:100%;" class="button block" busy ng-click="search.loadsMore()" type="button">Load More</button>
</div>