.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
}

.line-height-0 {
    line-height: 0px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.menu-item {
    position: relative;
    width: 100%;
    border: none;
    background: none;
    text-align: left;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.affix {
    position: fixed;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.overflow-x {
    overflow-x: scroll;
    overflow-y: hidden;
}

.overflow-y {
    overflow-y: scroll;
    overflow-x: hidden;
}

.overflow-auto-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.overflow-auto-x {
    overflow-x: auto;
    overflow-y: hidden;
}

.overflow-hidden {
    overflow: hidden;
}

body .mb15 {
    margin-bottom: 15px;
}

.relative {
    position: relative;
}

.padding-0 {
    padding: 0px;
}

.padding-16 {
    padding: 16px;
}

.padding-top-bottom-2 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.padding-top-bottom-16 {
    padding-bottom: 16px;
    padding-top: 16px;
}

.padding-top-bottom-12 {
    padding-bottom: 12px;
    padding-top: 12px;
}

.padding-right-16 {
    padding-right: 16px;
}

.padding-sides-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-sides-16 {
    padding-right: 16px;
    padding-left: 16px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-top-64 {
    padding-top: 64px;
}

.padding-top-sides-16 {
    padding-right: 16px;
    padding-top: 16px;
    padding-left: 16px;
}

.padding-bottom-sides-16 {
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.padding-bottom-8 {
    padding-bottom: 8px;
}

.padding-24 {
    padding: 24px;
}

.padding-sides-24 {
    padding-right: 24px;
    padding-left: 24px;
}

.padding-top-sides-24 {
    padding-right: 24px;
    padding-top: 24px;
    padding-left: 24px;
}

.padding-bottom-sides-24 {
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.padding-bottom-24 {
    padding-bottom: 24px;
}

.margin-0 {
    margin: 0px;
}

.margin-16 {
    margin: 16px;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-top-bottom-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin-sides-0 {
    margin-right: 0px;
    margin-left: 0px;
}

.margin-sides-16 {
    margin-right: 16px;
    margin-left: 16px;
}

.margin-top-sides-16 {
    margin-right: 16px;
    margin-top: 16px;
    margin-left: 16px;
}

.margin-bottom-sides-16 {
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
}

.margin-24 {
    margin: 24px;
}

.margin-sides-24 {
    margin-right: 24px;
    margin-left: 24px;
}

.margin-top-sides-24 {
    margin-right: 24px;
    margin-top: 24px;
    margin-left: 24px;
}

.margin-bottom-sides-24 {
    margin-right: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
}

a.block, .block, button.block {
    display: block;
}

.t60 {
    width: 60%;
}

.t40 {
    width: 40%;
}

.t100 {
    width: 100%;
}

.t0 {
    width: 0%;
}

.bottom-right-floating {
    position: absolute;
    bottom: 4px;
    right: 4px;
    z-index: 11;
}

.bottom-right-floating-action {
    display: block;
}

.pointable {
    cursor: pointer;
}

pre {
    overflow: auto;
    font-size: 13px;
    padding: 0px;
    width: auto;
    max-height: 600px;
    background-color: #eee;
    margin-bottom: 0px;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
}

.load-more {
    width: 100%;
    margin: 0px;
}

.no-things-available {
    color: #CCC;
    text-align: center;
}

.ellipsis-text {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
}

.trim {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.button, .caption, .label, .helper, .body1, .secondary, .body2, .menu, .subheader, .subhead, .primary, .text, .title, .headline, .display1, .display2, .display3, .display4 {
    font-family: inherit;
    text-decoration: none;
}

.headline {
    margin: 0px;
}

.button {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
}

.caption, .label, .helper {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
}

.label, .helper {
    line-height: 14px;
}

.helper {
    color: rgba(0, 0, 0, 0.26);
}

.body1, .secondary, .brief {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.brief {
    color: white;
    line-height: 14px;
}

.body2, .menu, .subheader {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.subhead, .primary, .text, .confirmation-message {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.title {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.05px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.headline {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.display1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
}

.display2 {
    font-size: 45px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
}

.display3 {
    font-size: 56px;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: -0.05px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
}

.display4 {
    font-size: 112px;
    font-weight: 300;
    line-height: 124px;
    letter-spacing: -0.1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.54);
}

.secondary, .subheader, .confirmation-message {
    color: rgba(0, 0, 0, 0.54);
}

.md-icon {
    font-size: 24px;
    line-height: 24px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */
    
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    
    font-feature-settings: 'liga';
}

.md-icon-color-white {
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.54);
}

.avatar .md-icon {
    font-size: 48px;
}

.button-square {
    width: 48px;
    height: 48px;
    padding: 12px;
}

.button-block {
    display: block;
    padding: 0px;
}

.button-set {
    padding: 0px 12px;
}

.button-set-square {
    padding: 0px 4px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.not-pointable {
    pointer-events: none
}
/* webkit */

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* standard */

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: both;
    opacity: 0;
}

.fade.in {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fade-in;
    animation-delay: 0.1s;
    animation-name: fade-in;
}

.fade.out {
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
}
/*Modification used for backdrop fade, in conjuction with animation on sliding side dialogs.*/

.backdrop.fade.in, md-backdrop.fade.in {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.backdrop.fade.out, md-backdrop.fade.out {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
/*Animation used for container/dialog sliding in and out of the screen.*/
/* webkit */

@-webkit-keyframes left-slide-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0px;
    }
}

@-webkit-keyframes left-slide-out {
    0% {
        left: 0px;
    }
    100% {
        left: -100%;
    }
}

@-webkit-keyframes right-slide-in {
    0% {
        right: -100%;
    }
    100% {
        right: 0px;
    }
}

@-webkit-keyframes right-slide-out {
    0% {
        right: 0px;
    }
    100% {
        right: -100%;
    }
}
/* standard */

@keyframes left-slide-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0px;
    }
}

@keyframes left-slide-out {
    0% {
        left: 0px;
    }
    100% {
        left: -100%;
    }
}

@keyframes right-slide-in {
    0% {
        right: -100%;
    }
    100% {
        right: 0px;
    }
}

@keyframes right-slide-out {
    0% {
        right: 0px;
    }
    100% {
        right: -100%;
    }
}

.slide {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: both;
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-fill-mode: both;
}

.pop {
    -webkit-animation-delay: 0s;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 0.4, 1);
    -webkit-transform-origin: center center;
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.8, 0, 0.4, 1);
    transform-origin: center center;
}

.slide.in {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
    animation-delay: 0.1s;
    animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
}

.slide.out {
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
}

.drawer.slide.left.in {
    -webkit-animation-name: left-slide-in;
    animation-name: left-slide-in;
}

.drawer.slide.left.out {
    -webkit-animation-name: left-slide-out;
    animation-name: left-slide-out;
}

.drawer.slide.right.in {
    -webkit-animation-name: right-slide-in;
    animation-name: right-slide-in;
}

.drawer.slide.right.out {
    -webkit-animation-name: right-slide-out;
    animation-name: right-slide-out;
}

.pop.in {
    -webkit-animation-name: pop-in;
    animation-name: pop-in;
}

.pop.out {
    -webkit-animation-name: pop-out;
    animation-name: pop-out;
}

.messages-box {
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    background: rgba(255, 255, 255, 1);
    display: block;
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    z-index: 11;
}

.messages {
    top: 100px;
    bottom: 57px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.messages-list {
    padding: 4px 0px;
}

.message-row {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
}

.message-footer {
    padding: 4px 0px;
}

.message-row.leftside {
    padding: 4px 56px 4px 8px;
}

.message-row.rightside {
    padding: 4px 8px 4px 56px;
}

.message {
    border-radius: 2px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.26);
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: white;
}

.message-inner {
    padding: 8px;
}

.message-author {
    bottom: 0px;
    padding: 8px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
}

.messages-box md-input-container {
    padding: 18px 56px 18px 16px;
}

.messages-box textarea {
    padding: 0px;
    border: none;
    min-height: 20px;
    height: 0px;
}

.messages-box [ng-messages] {
    display: none;
}

.rightside .message-author {
    left: -56px;
}

.leftside .message-author {
    right: -56px;
}

.messages-send-wrapper {
    max-height: 56px;
    min-height: 56px;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-body {
    word-wrap: break-word;
}

.messages-send {
    top: 0px;
    padding: 4px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    margin: 0px;
    right: 0px;
    z-index: 15;
}

.confirmation-textarea md-input-container {
    padding: 0px;
}

.confirmation-textarea [ng-messages] {
    display: none;
}

button::-moz-focus-inner {
    /* Thanks firefox */
    
    border: 0;
    padding: 0;
}

.narrow-arrow-up {
    width: 0px;
    height: 0px;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 24px solid rgba(0, 0, 0, 0.54);
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.narrow-arrow-down {
    width: 0px;
    height: 0px;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-top: 24px solid rgba(0, 0, 0, 0.54);
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.wide-arrow-down {
    width: 0px;
    height: 0px;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 40px solid rgba(0, 0, 0, 0.54);
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    position: relative;
}

.wide-arrow-right {
    width: 0px;
    height: 0px;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-right: 16px solid rgba(0, 0, 0, 0.54);
    display: block;
    position: relative;
    box-sizing: border-box;
}

.wide-arrow-down .pager {
    color: rgba(255, 255, 255, 1);
    margin-left: -10px;
    bottom: 35px;
    display: block;
    position: relative;
    box-sizing: border-box;
}

.block-center {
    margin-left: auto;
    margin-right: auto;
}

.help {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    padding: 24px 40px;
    color: rgba(0, 0, 0, 0.26);
}

.help-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-align: left;
    text-transform: none;
}

.collapse {
    display: none;
}

.collapse.in {
    display: block
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-property: height;
    transition-timing-function: cubic-bezier(0.8, 0, 0.4, 1);
    transition-duration: 300ms;
}

[display-image] {
    visibility: hidden;
}

.top-close {
    position: absolute;
    z-index: 57;
    left: 4px;
    top: 4px;
}

.top-close-right {
    left: auto;
    right: 4px;
}
