<form name="container.main" ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">

<h2 class="fieldset with-button">
			<span class="fieldset-text">Adresses</span>
			<span class="fieldset-button">
				<button type="button" class="button" ng-click="addAddress()">Add Address</button>
		    </span>
		</h2>
		<table class="table">
					<thead>
						<tr> 
							<th>Name</th>
							<th>Country</th>
							<th>City</th>
							<th>Postal</th>
							<th>Street</th>
							<th>Default Shipping</th>
							<th>Default Billing</th>
							<th ng-show="rule.action.update.executable"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="addr in entity.addresses track by $index">
							<td>
								{{addr.name}}
							</td>
							
							<td>
								{{addr.country_name}}
							</td>
							
							<td>
								{{addr.city}}
							</td>
							
							<td>
								{{addr.street}}
							</td>
							
							<td>
								{{addr.default_shipping}}
							</td>
							
							<td>
								{{addr.default_billing}}
							</td>
							
							<td ng-show="rule.action.update.executable">
								<button ng-click="removeAddress(addr)" type="button" class="button">Remove</button>
								<button ng-click="editAddress(addr)" type="button" class="button">Edit</button>
							</td>
						</tr>
					</tbody>
		</table>
	 
	<div ng-show="rule.action.read_records.executable && history && entity.id" class="form-control">
		<div ng-include="logic_template('misc/logs.html')"></div>
	</div>	 
	 
  
</div>
 
  
</div>

<div class="modal-footer">
 
	<button  ng-show="rule.action[action].executable" busy class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>