*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body
{
  font-size: 14px;
  font-family: "sawasdeeregular", Arial, Helvetica, sans-serif;
  color: #333333;
  line-height: 1.5em;
}

body.loading
{
  cursor: wait;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: normal;
}

a
{
  color: #333333;
}

a:hover
{
  text-decoration: none;
}

a:visited
{
  color: #333333;
}

:focus
{
  outline: none;
}

.content
{
  margin-right: 15px;
  margin-left: 15px;
}

#top-bar
{
  background: white;
  z-index: 100;
  height: 50px;
  top: 0px;
  position: fixed;
  width: 100%;
  /**border-bottom: 1px solid #BBBBBB;**/
  -webkit-box-shadow: 0 3px 5px #BBBBBB;
  box-shadow: 0 3px 5px #BBBBBB;
}

#top-bar a.logo-link
{
  text-align: center;
  /*width: 215px;
  margin-left: auto;
  margin-right: auto;*/
  text-decoration: none;
  display: block;
}

#logo
{
  text-transform: uppercase;
  font-size: 30px;
  margin: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.content
{
  margin-top: 68px;
}

#main-menu
{
  background: white;
  position: absolute;
  top: 50px;
  z-index: 90;
  width: 100%;
  border-bottom: 1px solid #BBBBBB;
  overflow:auto;
}

.menu-inner
{
  padding-left: 10px;
  padding-right: 10px;
}

.menu
{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.menu li
{
  display: block;
  margin-bottom: 5px;
  margin-right: 10px;
  float:left;
}

a.block, .block, .button.block
{
  display: block;
}

#main-menu .button 
{
  
  
}

#main-menu .menu .button {
  width: 240px;
  height: 100px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.load-more {width:100%;}

.no-style
{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.no-style li
{
  display: block;
}

strong, b
{
  font-family: 'sawasdeebold', Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.login-buttons .button
{
  padding-top:14px;
  padding-bottom:14px;
}

.image-image
{
	float:left;
	overflow:hidden;
	position:relative;
	margin:5px;
}

.image-image .spaceout
{
	 
	width:100%;
	height:auto;
}

.image-image .img
{
	
	display: block;
 
}
.text-muted
{
	color:gray;
}

.image-image-placeholder .img
{
	border:1px dashed #CCC;
	background:#FAFAFA;
}

[ui-sortable] > *
{
	cursor:move;
}

.timepicker
{
	width:60%;
}

.timepicker tr td
{
	width:auto;
	padding-right:10px;
	min-width:none;
	max-width:none;
}

.t60
{
	width:60%;
}

.t40
{
	width:40%;
}

.overflow-master
{
	width:1500000000px;
}

.catalog-image-scroll
{
	float:left;
	height:100%;
	position:relative;
	display:block;
}

.catalog-image-scroll .img
{
	height:100%;
	display:block;
	width:auto;
}


.overflow-master ol {padding:0px;margin:0px;list-style:none;}

.pricetag
{
	position:absolute;
	top:20%;
	left:20px;
	z-index:80;
}

.pricetag a
{
	text-decoration:none;
}

.new-pricetag
{
	display:block;
}

.new-pricetag .pricetag
{
	display:none;
}

.new-pricetag.ui-draggable-dragging .pricetag
{
	display:block;
}

.new-pricetag.ui-draggable-dragging .just-text
{
	display:none;
}

.placeholder-image
{
	background:gray;
	color:white;
	font-weight:bold;
	padding:20px;
	width:240px;
	height:200px;
}

.app-block
{
	width:240px;
	height:150px;
}
.app-block .logo {width:100%;height:auto;}

.grid-item img
{
	max-width: 100%;
	max-height: 100%;
}

.frontpage
{
	float:left;
    overflow:hidden;
}

.frontpage .inner
{
	padding:5px;
	display:block;
}

.image-image .button {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.more-hr-space hr
{
   
    border-color: #bbb;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-bottom: none;
}

.json-editor { 
  margin-left: 10px;
  padding: 20px;
}

.json-editor.expanded .item { 
  display: block !important;
}

.json-editor .property,
.json-editor .value { 
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  margin-right: 2px;
}

.json-editor .value { 
  background-color: #ECF3C3;
  width: 600px;
}
.json-editor .property { 
  width: 154px;
  background-color: #B1C639;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
.json-editor button.property { 
  width: 160px;
}

.json-editor .editing { 
  border: 1px solid gray;
  outline: none;
}

.json-editor .item { 
  line-height: 20px;
  margin-top: 2px;
}
.json-editor .item:last-child { 
  border-bottom: none;
}

.json-editor .item > .item { 
  margin-left: 30px;
  display: none;
}

.json-editor .item.expanded > .item { 
  display: block;
}

.json-editor .expander { 
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJCxMmIIjsHfkAAAHTSURBVDjLzZPLaxNRFMZ/ZzKTNs10xHUyYFsfsZC2IOii2ftHCKKx/0G1brQlFhShCzfuXXUjuHErKGiVpr6qYK0bGyMoyCRVq5Mwkzku8ja6c+GFA5f7ne87zwv/zXn2bgcAVRVVNf5i0usLIO3Lq/cfze2trdfra48yHbCFqnYDnZjNbafcdPbtxpMgn893BXYqPxZO5o5fNwwDAUSkL0NVRYEoarB65+6tY5mJswBGN5okfP9nhyxA2nVJp9N9b/Vana/VaidLszeKIIgIhghhGDI/fx7H2ceZ06ewrDhRt2YdEBBpg0rKdRm1bZxRm+TIMNnsFN/39iiXyyDd3vSd8q6/dGB8XI8cndR7Dx5qpKqNqGmqqsUXm3o4k9GxiYN6f/3p44EMFAUFyzRZLiyxMjzEpcuL2LbNxYUL+LU6cStOEAQ9BfQKNPkoUPE8wjDEr9UxrSFKpRKWFW/ytH+s5sCoVImAWCzG8pVC08myiFpYk6vyhwz0m+04aKPRchE8z/ttD5SRZJJEIlEZ2MSV26sc2p/afL5RnOrZjQ653afp6Zmg+ulDbu7cXLFPYO3lG2ZnJrlWWByLxUyr09jWfrRnvfvlc/nqjZv+P/uEvwD/VNrBXhv7BAAAAABJRU5ErkJggg==") no-repeat center center;
  width: 16px;
  height: 11px;
  display: inline-block;
  margin-left: -15px;
  cursor: pointer;
}
.json-editor .item.expanded > .expander { 
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sKBBAdNcQGwvUAAAGjSURBVDjLzZNNS1tREIafOfdGjcaA65hFKQUpWIWCLgwI3fQnFMGN0Z/QiqsWKVgKLrpx78pNoZv+BUU0WNRC/dgoTaFCMWnUNoZ7b6aLm5ycS+quix44cJiPd953Zg78N2fv9BwAVRVVNXdccWMBpP04PPvmnxwdfd7Z2hyxzpZXtVNocqpwkssPjx6XtoNisdgBOK/8WnxamHhrjEEAEUkwVFUUaDYjNj58XH88cn8OwHSqSbpe/22T3XTX1rhtUKtWLUtDIlAQEYwIURRZexgGGBEX2IryXb3S8uXyeQYzGYc/XN/cUC6XQTq9SQIQI4RhxPMXSzyZLtjmGYHS/iGzM89iQX8DUBQUUr7P6+VXrPb1MpjNAnBVq1G/bdCT6iEIAkeACxDno0Dl8pIwDDGeZwONSJynybH6XaNSpQl4nmcLiUCz5YttKl1TUNWrTDabAEmwU0VR+gcGSKfTla5NXH2/wYOh3MGn0u4jZzcss3afxsbGg+r3r4WF+YXdBMDW/hemxh/yZvnlPc/zU7ax7Qm1tPz8cVFeebdW/2ef8A+6rb2Fr7Cr4wAAAABJRU5ErkJggg==") no-repeat center center;
}

.json-editor .item.appender > .property { 
   background-color: #999999; 
   cursor: pointer;
   width: 100px;
}
.json-editor .item.string > .property { background-color: #009408; }
.json-editor .item.array  > .property { background-color: #2D5B89; }
.json-editor .item.object > .property { background-color: #E17000; }
.json-editor .item.number > .property { background-color: #497B8D; }
/*.json-editor .item.boolean { background-color:  }*/
/*.json-editor .item.null { background-color:  }*/

.adb-lookup
{
    position: fixed;
    bottom: 0px;
    left: 0px;
 
    padding: 10px;
 
    z-index:2000;
 
}


