<div ng-controller="HistoryListingCtrl">
    <div class="item-list">
        <div class="item clearfix" ng-repeat="record in history.records">
            <div class="item-left">
                <div>{{record|output: 'logged'}}</div>
                <div>{{record._action}}</div>
                <div>{{record._agent}}</div>
            </div>

            <div class="item-right list-actions">
              <button ng-click="history.view(record)" type="button" class="button">View</button>
            </div>

        </div>
    </div>
    <div load-more-button="history.reader"></div>
</div>