.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  background: #FFFFFF;
}

.modal.no-overflow {
  overflow: hidden;
}

.modal-dialog {
  position: relative;
  z-index: 1050;
  width: auto;
}

.modal-content {
  position: relative;
  outline: none;
  background-clip: padding-box;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.modal-backdrop.opaque {
  background-color: rgba(0,0,0,0.12);
}

.modal-body {
  position: relative;
  padding: 0px;
  padding-bottom: 0px;
}


.modal-body.no-footer, .modal-body.unscrollable {
  padding-bottom: 0px;
}

.modal-body.scrollable {
  overflow-y: scroll;
}

.modal-footer {
  padding: 5px;
  text-align: right;
  border-top: 1px solid #EEEEEE;
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 9;
}

.modal-footer .button {
  margin: 5px;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-small .modal-dialog {
  width: 40%;
  margin: auto;
}

.modal-small, .modal-medium, .modal-large {
  background: none;
  overflow: visible;
}

.modal-medium .modal-footer {
  position: static;
}

.modal-medium .modal-dialog {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
  box-shadow:0px 27px 24px 0 rgba(0, 0, 0, 0.2);
  background-clip: padding-box;

}

.modal-medium .modal-body {
  padding-bottom: 0px;
}


.modal-small .modal-dialog {
  width: 40%;
  margin: auto;
}

.md-dialog {
    opacity: 0;
    overflow: hidden;
    box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);
}
.md-dialog.transition-in {
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}
.md-dialog.visible {
    opacity: 1;
}
.md-dialog.transition-out {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    -webkit-transform: translate3d(0, 100%, 0) scale(0.2);
    transform: translate3d(0, 100%, 0) scale(0.2);
}
.md-dialog.transition-out-right, .md-dialog.transition-out-left {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}
.md-dialog.transition-in-right, .md-dialog.transition-in-left {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-dialog .md-actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    box-sizing: border-box;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 40px;
    padding-bottom: 14px;
    padding-top: 6px;
    padding-left: 16px;
    padding-right: 16px;
}
.md-dialog .md-actions > * {
    margin-left: 8px;
}
.md-dialog .md-actions .md-button {
    margin-left: 4px;
    margin-right: 4px;
}
.md-dialog.md-content-overflow .md-actions {
    border-top: 1px solid;
}

.modal-medium .modal-dialog {

  box-shadow: 0px 27px 24px 0 rgba(0, 0, 0, 0.2);

  min-width: 240px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 4px;
}

.md-dialog.modal-medium {
  -webkit-box-shadow:none;
  box-shadow:none;
 
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.transfrom-origin-center-left {
  -webkit-transform-origin: center left;
  transform-origin: center left;
}


.transfrom-origin-center-right {
  -webkit-transform-origin: center right;
  transform-origin: center right;
}