.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
}

.modal.right {
    right: -100%;
    left: auto;
}

.modal.left {
    left: -100%;
    right: auto;
}

.modal.no-overflow {
    overflow: hidden;
}

.modal-dialog {
    position: relative;
    z-index: 1050;
    width: 100%;
}

.modal-content {
    position: relative;
    outline: none;
    background-clip: padding-box;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.modal-backdrop.opaque {
    background-color: rgba(0, 0, 0, 0.12);
}

.modal-body {
    position: relative;
    padding: 0px;
    padding-bottom: 0px;
}

.modal-body.scrollable {
    overflow-y: scroll;
}

.modal-small, .modal-medium, .modal-large {
    background: none;
    overflow: visible;
}

.modal-medium .modal-dialog {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px 6px rgba(0, 0, 0, 0.26);
    background-clip: padding-box;
}

.modal-medium .modal-body {
    padding-bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.md-dialog {
    opacity: 0;
    overflow: hidden;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.26);
}

.md-dialog.visible {
    opacity: 1;
}

.md-dialog .md-actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-end;
    min-height: 40px;
    padding-bottom: 2px;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.no-scroll .md-actions {
    padding-top: 2px;
    border-top: none;
}

.md-dialog .md-actions > * {
    margin-left: 8px;
}

.md-dialog .md-actions .md-button {
    margin-left: 4px;
    margin-right: 4px;
}

.md-dialog.md-content-overflow .md-actions {
    border-top: 1px solid;
}

.modal-medium .modal-dialog {
    box-shadow: 0px 12px 24px 6px rgba(0, 0, 0, 0.26);
    min-width: 240px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 2px;
    min-width: 280px;
    max-width: 560px;
}

.modal-medium-simple .modal-dialog {
    max-width: inherit;
    width:100%;
    height: 100%;
}

.md-dialog.modal-medium {
    box-shadow: none;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:24px 40px;
}

.modal-confirm-inner-padding {
    padding: 24px;
    padding-bottom: 16px;
}

modal-loading .progress-wrapper {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0px !important;
    border-radius: inherit;
}

modal-loading[toolbar="true"] .progress-wrapper {
    height: calc(100% - 56px);
}

.modal-loading-wrapper {
    width: 100%;
    background: white;
    height: 100%;
    position: fixed;
}