<form name="container.main" ng-submit="save()">
<div scroll-end="save" class="modal-body scrollable">
<div class="modal-body-inner">
  <h2 class="fieldset">
	 <span class="fieldset-text">General</span>
  </h2>
  
	<div class="form-control">
		<label class="form-label">Notify</label>
		<div class="form-input">
			<button toggle ng-disabled="!rule.field.notify.writable" 
				 	     class="button" type="button" ng-model="entity.notify"></button>
		</div>
	</div>
    
    <h2 class="fieldset">
	 <span class="fieldset-text">Sellers</span>
    </h2>
    <div class="form-control">
    	<div ng-show="!entity._domains.length">
    		You did not subscribe to any sellers.
    	</div>
		 <div ng-repeat="app in entity._domains" class="app-block">
 
		    	<img class="logo" ng-src="{{app.logo.serving_url}}" />
 
		    <button type="button" class="button" ng-click="removeApp(app)">Remove</button>
		 </div>
	</div>
 
 </div>
 
  
</div>

<div class="modal-footer">
 
	<button  ng-show="rule.action.update.executable" busy class="button">
		Save
	</button>
	<button type="button" class="button" ng-click="cancel()">
		Cancel
	</button>
</div>


</form>